:root {
    --yellow: #ffce1c;
    --blue: #3945B8;
    --midblue: #7df9ff;
    --lightblue: #e8f0fe;
    --brown: #505000;
    --lightbrown: #5b5b00;
    --darkgrey: #212529;
    --midgrey: #9a9a9a;
    --lightgrey: #f4f4f4;
}

body, wrapper {
    min-height: 100vh;
    font-family: "Poppins", "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
    font-size: 32px;
    font-weight: 300;
}

h2 {
    font-size: 28px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

a {
    text-decoration: underline;
    color: var(--darkgrey);
    transition: all .2s ease-in;
}

a:hover {
    color: var(--yellow);
}

a.rounded-link {
    text-decoration: none;
}

a.rounded-link:hover {
    color: var(--darkgrey);
    background-color: var(--yellow);
}

.organization-main-page a:hover {
    color: var(--darkgrey);
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

#content {
    margin: 0 auto;
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
}

.toggle-password {
    border: 0;
    background: none;
}

.navbar-brand {
    padding: 0;
}

.btn-light {
    border-radius: 0.5rem;
    padding: 10px 18px;
    border: 1px solid white;
    text-transform: uppercase;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 900;
}

.btn-light:hover {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}

.btn-arrow {
    border-radius: 0.5rem;
    padding: 0.25rem;
    border: 1px solid black;
    text-transform: uppercase;
    background-color: white;
}

.btn-arrow:hover {
    border: 1px solid black;
    background-color: var(--yellow);
}

.btn-arrow .btn-arrow-icon {
    background-color: var(--yellow);
    padding: 4px 6px;
    display: inline-block;
    border-radius: 0.25rem 0 0 0.25rem;
}

.btn-arrow .btn-arrow-text {
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
    border-right: 1px solid black;
    font-weight: 900;
}

.btn-lg.btn-arrow .btn-arrow-text {
    padding: 0.5rem 0.75rem;
}

.btn-arrow .btn-arrow-arrow {
    font-size: 0.75rem;
    padding: 0 0.25rem 0 0.5rem;
}

.btn-lg.btn-arrow .btn-arrow-arrow {
    padding: 0 0.5rem 0 0.75rem;
}

.btn-xl {
    font-size: 1.25rem;
    border-radius: 0.75rem;
    padding: 0.25rem 0.5rem;
}

.btn-xl.btn-arrow .btn-arrow-icon {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.btn-xl.btn-arrow .btn-arrow-text {
    padding: 1rem;
}

.btn-xl.btn-arrow .btn-arrow-arrow {
    font-size: 1rem;
    padding: 0 0.75rem 0 1.25rem;
}

.btn-custom {
    border-radius: 100px;
    border: 1px solid black;
    padding: 5px 12px;
}

.btn-custom:hover {
    background-color: var(--yellow);
}

.btn-custom-sm {
    padding: 0.25rem 0.5rem;
}

.btn-brown {
    color: white;
    background-color: var(--brown);
}

.btn-brown:hover, .btn-brown:focus-visible {
    color: white;
    background-color: var(--lightbrown);
}

.btn-brown:focus-visible, .btn-custom:focus-visible {
    box-shadow: 0 0 0 0.25rem var(--midgrey);
}

nav a {
    color: black;
}

nav a:hover {
    color: gray;
}

.nav-link, .nav-link:focus, .nav-link:hover {
    color: black;
}

.nav-link {
    margin: 0.5rem 0.75rem;
}

.edit-row:hover .edit {
    display: block !important;
}

.edit-row {
    margin-bottom: 10px;
}

.image-thumbnails {
    height: 100px;
    overflow: hidden;
}

.thumbnail {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.organization-logo {
    max-width: 100%;
    max-height: 200px;
}

.max-h-200-px {
    max-height: 200px;
}

.max-w-100 {
    max-width: 100%;
}

.h-120-px {
    height: 120px;
}

.spacing {
    margin-top: 20px;
}

.divider-1 {
    width: 50px;
    height: 3px;
    background-color: var(--yellow);
    margin: 10px auto;
    position: relative;
    border-radius: 2px;
}

.divider-1::before {
    background-color: var(--yellow);
    box-shadow: 9px 0px 0px 0px var(--yellow), 18px 0px 0px 0px var(--yellow);
    content: "";
    position: absolute;
    left: -27px;
    top: 0;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
}

.divider-2 {
    height: 20px;
    width: 260px;
    margin: 20px 0;
    background-image: url('/static/decorations/zigzag.svg');
    background-repeat: repeat-x;
}

.divider-3 {
    width: 390px;
    max-width: calc(100% - 18px);
    height: 4px;
    background-color: var(--yellow);
    margin: 2px auto;
    position: relative;
    border-radius: 2px;
    transform: translate(9px);
}

.divider-3::before {
    background-color: var(--yellow);
    box-shadow: 6px 0px 0px 0px var(--yellow), 12px 0px 0px 0px var(--yellow);
    content: "";
    position: absolute;
    left: -18px;
    top: 0;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
}

.vinyeta {
    background-image: url('/static/home-images/marc-02.png');
    background-repeat: no-repeat;
    background-position: center;
}

.vinyeta-groc {
    background-image: url('/static/home-images/marc-groc.png');
    background-repeat: no-repeat;
    background-position: center;
}

.fons-cercle-groc {
    background-image: url('/static/decorations/cercle_groc.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.fons-imatge {
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 170px;
}

.static-page {
    column-count: 2;
    column-gap: 160px;
    padding-bottom: 30px;
}

.static-page h2 {
    font-size: 1.875em;
    color: #000;
    font-weight: 900;
}

.static-page h3 {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

.page-group {
    break-inside: avoid;
}

.vinyeta-inner {
    width: 360px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.vinyeta-text {
    padding: 0 32px;
}

.big-number {
    font-weight: 900;
    font-size: 8em;
    margin-left: 25px;
}

pre {
    white-space: pre-wrap;
}

.pre-wrap {
    white-space: pre-wrap;
}

.welcome-block {
    background-color: var(--lightgrey2);
    margin-top: 20px;
    background-image: url('/static/home-images/gent-portada.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 700px;
}

.app-title {
    word-wrap: break-word;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: 2px;
    stroke-width: 2px;
    color: #000;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    margin: 1rem 0;
}

.app-title.app-title-mobile {
    font-size: 60px;
}

.example-quote {
    width: 75px;
}

.separator-yellow {
    color: var(--yellow);
    height: 2px;
}

.multi-select {
    padding: 15px;
    text-align: center;
}

.multi-select .multi-select-choice {
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin: 0 2rem 2rem 0;
    display: inline-block;
}

.multi-select-choice:focus-visible {
    box-shadow: 0 0 0 0.25rem var(--midgrey);
}

.multi-select .selected {
    background-color: var(--midblue);
}

.sidebar {
    padding-bottom: 20px;
}

.nav-pills .nav-link.active {
    background-color: var(--yellow);
    color: black;
}

nav .nav-link.active, ul.nav .nav-link.active {
    border-bottom: 2px solid black;
}

.badge.bg-light, .alert.alert-light {
    border: 1px solid var(--darkgrey);
    color: var(--darkgrey);
}

a.badge {
    text-decoration: none;
}

a.badge:hover {
    color: var(--yellow);
}

.card {
    border: 1px solid black;
}

.card.card-account {
    border-radius: 1rem;
    padding: 2rem;
}

.staging-bow {
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    transform: rotate(-45deg);
    top: 50px;
    left: -100px;
    z-index: 1000;
    width: 300px;
}

.highlight {
    background-color: var(--blue);
    color: white;
}

.map-height {
    height: 300px;
}

.h-70vh {
    height: 70vh;
}

.inner-container {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.top-right-triangle-decoration {
    background-image: url("/static/decorations/top-right-triangle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.bottom-left-triangle-decoration {
    background-image: url("/static/decorations/bottom-left-triangle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.bottom-left-triangle-crosses-decoration {
    background-image: url("/static/decorations/bottom-left-triangle-crosses.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.black {
    color: black;
}

.pt-70-px {
    padding-top: 70px;
}

.pb-10-rem {
    padding-bottom: 10rem;
}

.mt-60-px {
    margin-top: 60px;
}

.mt-100-px {
    margin-top: 100px;
}

.mb-7-rem {
    margin-bottom: 7rem;
}

.mb-10-rem {
    margin-bottom: 10rem;
}

.lh-1-em {
    line-height: 1em;
}

.fs-5-rem {
    font-size: 5rem;
}

.fs-1-5-rem {
    font-size: 1.5rem;
}

.fs-2-5-rem {
    font-size: 2.5rem;
}

.fs-4-5 {
    font-size: 1.375rem !important;
}

.fs-6 {
    font-size: 1.125rem !important;
}

.fs-7 {
    font-size: 0.85rem !important;
}

.br-1-rem {
    border-radius: 1rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.fw-black {
    font-weight: 900;
}

.columns-2 {
    columns: 2;
}

.columns, .columns-3 {
    columns: 3;
}

.resources-title {
    margin: 10px 0;
    background-color: var(--yellow);
    font-size: 2.5em;
    text-align: left;
    padding: 0 5px 0 20px;
    line-height: 1em;
}

#djDebug #djDebugToolbarHandle {
    top: 60px !important;
}

.resource-matches-title {
    margin: 10px 0;
    font-size: 1.75em;
    text-align: left;
    padding: 0 5px 0 20px;
    line-height: 1em;
}

.match-box {
    border: 1px solid black;
    margin-bottom: 1rem;
}

.match-resource-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}

.matches-count {
    border-top: 1px solid var(--midgrey);
    height: 2em;
    line-height: 1.8em;
    margin: 1rem auto;
    position: relative;
    width: 70%;
}

.matches-count span {
    background-color: #ffffff;
    color: var(--midgrey);
    font-style: italic;
    left: 50%;
    margin-left: -6em;
    position: absolute;
    text-align: center;
    top: -50%;
    width: 12em;
}

.matches-count.agreements-count {
    width: 90%;
}

.matches-count.agreements-count span {
    width: 18em;
    margin-left: -9em;
}

.css-tooltip {
  position: relative;
  display: inline-block;
  white-space: normal;
}

.css-tooltip .tooltiptext {
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  visibility: hidden;
  width: 240px;
  top: 100%;
  left: 50%;
  margin-left: -230px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  padding: 10px;
  word-wrap: break-word;
  z-index: 100;

  position: absolute;
  opacity: 0;
  transition: opacity 0.25s;
}

.css-tooltip .tooltiptext.tooltiptextleft {
  margin-left: -20px;
  left: 100%;
}

.css-tooltip .tooltiptext.tooltiptextmid {
  margin-left: -120px;
  left: 100%;
}

.css-tooltip a {
  color: white;
  text-decoration: underline;
}

.css-tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

.background-yellow {
    background-color: var(--yellow);
}

.background-yellow-dark {
    background-color: var(--brown);
    color: white;
}

.bg-lightgrey {
    background-color: var(--lightgrey);
}

.square-2 {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.border-dotted-right {
    border-right: 2px dotted var(--midgrey);
}

.w-80 {
    width: 80%;
}

.m-center {
    margin: 0 auto;
}

.preferences-section {
    padding: 1rem 1rem 0 1rem;
    background-color: white;
    margin-bottom: 2rem;
}

.preferences-section-title {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
}

.preferences-row {
    padding: 1rem 0 0 0;
    border-bottom: 2px solid var(--lightgrey2);
    display: flex;
    align-items: center;
}

.preferences-row:last-of-type {
    border-bottom: none;
}

.preferences-row label, .preferences-row input, .preferences-row select {
    margin-bottom: 1rem;
}

.preferences-row .form-switch.form-check-reverse .form-check-input {
    font-size: 1.5rem;
    margin-right: -1em;
}

.background-grey {
    background-color: var(--lightgrey2);
}

.form-switch .form-check-input:checked {
    background-color: var(--brown);
    border-color: var(--brown);
}

.preferences-row .form-range::-webkit-slider-thumb {
    background-color: var(--brown);
}

.preferences-row .form-range::-moz-range-thumb {
    background-color: var(--brown);
}

.preferences-row .form-range::-ms-thumb {
    background-color: var(--brown);
}

.bg-yellow {
    background-color: var(--yellow);
}

.text-toggle[aria-expanded=false] .text-expanded {
    display: none;
}

.text-toggle[aria-expanded=true] .text-collapsed {
    display: none;
}

.clickable {
    cursor: pointer;
}

.universal-access-icon img {
    height: 2em;
}

.background-home {
    background-image: url(/static/pages/home.png);
}

.background-dona {
    background-image: url(/static/pages/dona.png);
}

.background-persones {
    background-image: url(/static/pages/dos-personatges.png);
}

.page-title {
    font-weight: 900;
    font-size: 3.75em;
    color: #000;
}

.page-subheading {
    font-weight: 700;
    color: gray;
    font-size: 1.125em;
}

.error-page-btn {
    font-weight: bold;
    font-size: 1.25rem;
}

.mb--5 {
    margin-bottom: -3rem;
}

.agreement-closed {
    opacity: 70%;
}

.multi-select-choice.share-button {
    padding-left: 8px;
    border-left: none;
}

.alert .errorlist {
    margin-bottom: 0;
}

.form-control {
    background-color: var(--lightblue);
}

/* sm: 576; md: 768; lg: 992; xl: 1200; xxl: 1400 */
@media (max-width: 320px) {
    .resources-title {
        font-size: 1.9em;
        padding: 1px;
    }
}

@media (min-width: 576px) {
    .w-sm-auto {
        width: auto !important;
    }
}

@media (max-width: 576px) {
    .columns {
        columns: 1;
    }
}

@media (min-width: 768px) {
    .sidebar {
        min-height: 90vh;
    }

    .w-md-45 {
        width: 45% !important;
    }

    .flex-md-row {
        flex-direction: row !important;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .badge {
        white-space: normal;
    }

    .columns {
        columns: 2;
    }
}

@media (max-width: 991px) {
    .static-page {
        column-count: 1;
    }
}

/* Carousel code */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-item {
    font-size: 1.5rem;
}

.carousel-item .col-md-4 {
    background-image: url("/static/home-images/carousel-slide-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

