:root {
    --yellow: #ffce1c;
    --blue: #7df9ff;
    --lightblue: #c5ddff;
    --textgrey: #808080;
    --darkgrey: #212529;
    --midgrey: #9a9a9a;
    --lightgrey: #f4f4f4;
    --bs-body-color: black;
}

body, wrapper {
    font-family: "Poppins", "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
    font-size: 32px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 34px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 600;
}

a {
    text-decoration: underline;
    color: black;
    transition: all .2s ease-in;
}

a:hover {
    color: var(--yellow);
}

a.rounded-link {
    text-decoration: none;
}

a.rounded-link:hover {
    color: var(--darkgrey);
    background-color: var(--yellow);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

#content {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.toggle-password {
    border: 0;
    background: none;
}

.navbar-brand {
    padding: 0;
}

.brand {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.75em;
}

.btn-light {
    border-radius: 0.75rem;
    padding: 10px 18px;
    border: 1px solid var(--textgrey);
    text-transform: uppercase;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 900;
    color: var(--textgrey);
}

.btn-light:hover {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}

.btn-thin {
    border: 1px solid black;
    border-radius: 0.375rem;
    padding: 0.25rem 2rem;
    background-color: white;
    font-size: 17px;
}

.btn-thin:hover, .btn-thin:focus-visible {
    border: 1px solid black;
    background-color: var(--yellow);
}

.btn-arrow {
    border-radius: 0.75rem;
    padding: 0.25rem;
    border: 1px solid black;
    background-color: white;
}

.btn-arrow:hover, .btn-arrow:focus-visible {
    border: 1px solid black;
    background-color: var(--yellow);
}

.btn-arrow .btn-arrow-icon {
    background-color: var(--yellow);
    padding: 4px 6px;
    display: inline-block;
    border-radius: 0.5rem 0 0 0.5rem;
}

.btn-arrow:hover .btn-arrow-icon, .btn-arrow:focus-visible .btn-arrow-icon {
    background-color: white;
}

.btn-arrow .btn-arrow-text {
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border-right: 1px solid black;
    font-weight: 600;
}

.btn-arrow .btn-arrow-arrow {
    font-size: 0.75rem;
    padding: 0 0.25rem 0 0.5rem;
}

.btn-arrow.dropdown-toggle::after {
    content: none;
}

.btn-switch {
    text-align: left;
    font-size: 1.125rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0;
    border: 1px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.btn-switch.active {
    background-color: var(--blue);
    border-radius: 0.375rem;
}

nav a {
    color: black;
}

nav a:hover {
    color: gray;
}

.nav-link, .nav-link:focus, .nav-link:hover {
    color: black;
}

.nav-link {
    margin: 0.5rem 0.75rem;
}

.nav-link.sidebar-box {
    margin: 0 0 2rem 0;
    border: 1px solid black;
    border-radius: 1rem;
}

.nav-pills .nav-link.sidebar-box.active, .nav-pills .nav-link.sidebar-box:hover {
    background-color: var(--blue);
    border: 1px solid black;
}

.edit-row:hover .edit-inline a, .edit-row .edit-inline a:focus {
    opacity: 1 !important;
}

.edit-row:hover .edit {
    display: block !important;
}

.edit-row {
    margin-bottom: 10px;
}

.image-thumbnails {
    height: 100px;
    overflow: hidden;
}

.thumbnail {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.organization-logo {
    max-width: 100%;
    max-height: 200px;
}

.max-w-100 {
    max-width: 100%;
}

.spacing {
    margin-top: 20px;
}

.divider-2 {
    height: 20px;
    width: 260px;
    margin: 20px 0;
    background-image: url('/static/decorations/zigzag.svg');
    background-repeat: repeat-x;
}

.divider-3 {
    width: 390px;
    max-width: calc(100% - 18px);
    height: 5px;
    background-color: var(--yellow);
    margin: 18px auto 2px auto;
    position: relative;
    border-radius: 2px;
    transform: translate(9px);
}

.divider-3::before {
    background-color: var(--yellow);
    box-shadow: 8px 0px 0px 0px var(--yellow), 16px 0px 0px 0px var(--yellow);
    content: "";
    position: absolute;
    left: -24px;
    top: 0;
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.vinyeta {
    background-image: url('/static/home-images/marc-quadrat.png');
    background-repeat: no-repeat;
    background-position: center;
}

.vinyeta.vinyeta-rectangle {
    background-image: url('/static/home-images/marc-rectangle.png');
}

.vinyeta-groc {
    background-image: url('/static/home-images/marc-groc.png');
    background-repeat: no-repeat;
    background-position: center;
}

.fons-cercle-groc {
    background-image: url('/static/decorations/cercle_groc.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.fons-imatge {
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 170px;
}

.static-page {
    column-count: 2;
    column-gap: 160px;
    padding-bottom: 30px;
}

.static-page h2 {
    font-size: 1.875em;
    color: #000;
    font-weight: 900;
}

.static-page h3 {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

.page-group {
    break-inside: avoid;
}

.vinyeta-inner {
    width: 360px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.vinyeta-text {
    padding: 0 2rem 1rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.big-number {
    font-weight: 900;
    font-size: 3rem;
    margin-left: 3rem;
}

pre {
    white-space: pre-wrap;
}

.pre-wrap {
    white-space: pre-wrap;
}

.welcome-block {
    background-color: var(--lightgrey2);
    margin-top: 20px;
    background-image: url('/static/home-images/gent-portada.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 700px;
}

.app-title {
    word-wrap: break-word;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: 2px;
    stroke-width: 2px;
    color: #000;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    margin: 1rem 0;
}

.app-title.app-title-mobile {
    font-size: 90px;
}

.example-quote {
    width: 75px;
}

.multi-select {
    padding: 15px;
    text-align: center;
}

.multi-select.multi-select-badges {
    text-align: left;
    padding: 0;
}

.multi-select .multi-select-choice {
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin: 1rem;
    display: inline-block;
}

.multi-select.multi-select-badges .multi-select-choice {
    color: black;
    padding: 0.35em 0.65em;
    background-color: white;
}

.multi-select-choice:focus-visible {
    box-shadow: 0 0 0 0.25rem var(--midgrey);
}

.multi-select .multi-select-choice.selected {
    background-color: var(--blue);
}

.nav-pills .nav-link.active {
    background-color: var(--yellow);
    color: black;
}

nav .nav-link.active, ul.nav .nav-link.active {
    border-bottom: 2px solid black;
}

.badge {
    font-weight: normal;
    font-size: 15px;
    margin: 0 5px 10px 0;
}

.multi-select.multi-select-badges .multi-select-choice {
    border-radius: 0.375rem;
    margin: 0 5px 10px 0;
}

.badge.bg-light, .alert.alert-light {
    border: 1px solid var(--darkgrey);
    color: var(--darkgrey);
}

a.badge {
    text-decoration: none;
}

a.badge:hover {
    color: var(--yellow);
}

.card {
    border: 1px solid black;
}

.card.card-account {
    border-radius: 1rem;
    padding: 2rem;
}

.staging-bow {
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    transform: rotate(-45deg);
    top: 50px;
    left: -100px;
    z-index: 1000;
    width: 300px;
}

.sidebar-row.active .highlight, .sidebar-row:hover .highlight {
    background-color: white;
}

.highlight {
    background-color: var(--blue);
    color: black;
}

.map-height {
    height: 300px;
}

.map-height-big {
    height: 700px;
}

.h-special {
    height: calc(100% - 64px);
}

.h-100vh {
    min-height: 100vh;
}

.h-58px {
    height: 58px;
}

.h-70vh {
    height: 70vh;
}

.h-85px {
    height: 85px;
}

.h-120px {
    height: 120px;
}

.h-425px {
    height: 425px;
}

.z-10000 {
    z-index: 10000;
}

.inner-container {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.top-right-triangle-decoration {
    background-image: url("/static/decorations/top-right-triangle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.bottom-left-triangle-decoration {
    background-image: url("/static/decorations/bottom-left-triangle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.black {
    color: black;
}

.text-grey {
    color: var(--textgrey);
}

.pt-100px {
    padding-top: 100px;
}

.pb-15rem {
    padding-bottom: 15rem;
}

.px-3rem {
    padding-right: 3rem;
    padding-left: 3rem;
}

.px-5rem {
    padding-right: 5rem;
    padding-left: 5rem;
}

.px-7rem {
    padding-right: 7rem;
    padding-left: 7rem;
}

.mt-2px {
    margin-top: 2px;
}

.mt-46px {
    margin-top: 46px;
}

.mt-60px {
    margin-top: 60px;
}

.mt-100px {
    margin-top: 100px;
}

.mt--50px {
    margin-top: -50px;
}

.mb-60px {
    margin-bottom: 60px;
}

.mb-100px {
    margin-bottom: 100px;
}

.mb-200px {
    margin-bottom: 200px;
}

.mb-7rem {
    margin-bottom: 7rem;
}

.mb-10rem {
    margin-bottom: 10rem;
}

.m-decoration-image {
    margin: 30px 0 30px 250px;
}

.lh-1-75rem {
    line-height: 1.75rem;
}

.lh-3-5rem {
    line-height: 3.5rem;
}

.fs-1-5rem {
    font-size: 1.5rem;
}

.fs-2rem {
    font-size: 2rem;
}

.fs-2-5rem {
    font-size: 2.5rem;
}

.fs-3rem {
    font-size: 3rem;
}

.fs-6 {
    font-size: 1.125rem !important;
}

.fs-7 {
    font-size: 0.85rem !important;
}

.br-0375rem {
    border-radius: 0.375rem;
}

.br-05rem {
    border-radius: 0.5rem;
}

.br-1rem {
    border-radius: 1rem;
}

.br-tl-05rem {
    border-top-left-radius: 0.5rem;
}

.br-tr-05rem {
    border-top-right-radius: 0.5rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.fw-600 {
    font-weight: 600;
}

.fw-black {
    font-weight: 900;
}

.columns, .columns-3 {
    columns: 3;
}

#djDebug #djDebugToolbarHandle {
    top: 60px !important;
}

.match-box {
    margin-bottom: 2rem;
    background-color: var(--lightgrey);
    padding: 1rem;
    border-radius: 1rem;
}

.match-resource-title {
    text-align: center;
    margin-top: 0;
}

.matches-count {
    border-top: 1px solid black;
    height: 3em;
    line-height: 2.8em;
    margin: 2rem auto 0 auto;
    position: relative;
}

.matches-count span {
    font-size: 0.875rem;
    background-color: #ffffff;
    left: 50%;
    margin-left: -6em;
    position: absolute;
    text-align: center;
    top: -50%;
    width: 12em;
}

.matches-count span.matches-count-w-8rem {
    margin-left: -4rem;
    width: 8rem;
}

.matches-count span.matches-count-w-14rem {
    margin-left: -7rem;
    width: 14rem;
}

.matches-count.agreements-count {
    width: 90%;
}

.matches-count.agreements-count span {
    width: 18em;
    margin-left: -9em;
}

.border {
    border: 1px solid black !important;
}

.flex-gap {
    flex: 0 0 7rem;
}

.flex-third {
    flex: 1 1 33%;
}

.flex-two-thirds {
    flex: 2 1 66%;
}

.w-80 {
    width: 80%;
}

.w-300px {
    width: 300px;
}

.m-center {
    margin-left: auto;
    margin-right: auto;
}

.preferences-section {
    padding: 1rem 1rem 0 1rem;
    background-color: var(--lightgrey);
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.preferences-section-title {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
}

.preferences-row {
    padding: 1rem 0 0 0;
    border-bottom: 2px solid var(--lightgrey2);
    display: flex;
    align-items: center;
}

.preferences-row:last-of-type {
    border-bottom: none;
}

.preferences-row label, .preferences-row input, .preferences-row select {
    margin-bottom: 1rem;
}

.preferences-row .form-switch.form-check-reverse .form-check-input {
    font-size: 1.5rem;
    margin-right: -1em;
}

.form-switch .form-check-input:checked {
    background-color: var(--blue);
    border-color: var(--blue);
}

.form-switch .form-check-input:checked {
    background-position: right center;
    --bs-form-switch-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23808080'/></svg>");
}

.preferences-row .form-range::-webkit-slider-thumb {
    background-color: var(--blue);
}

.preferences-row .form-range::-moz-range-thumb {
    background-color: var(--blue);
}

.preferences-row .form-range::-ms-thumb {
    background-color: var(--blue);
}

.text-toggle[aria-expanded=false] .text-expanded {
    display: none;
}

.text-toggle[aria-expanded=true] .text-collapsed {
    display: none;
}

.clickable {
    cursor: pointer;
}

.background-home {
    background-image: url(/static/pages/home.png);
}

.background-dona {
    background-image: url(/static/pages/dona.png);
}

.background-persones {
    background-image: url(/static/pages/dos-personatges.png);
}

.page-title {
    font-weight: 900;
    font-size: 3.75em;
    color: #000;
}

.page-subheading {
    font-weight: 700;
    color: gray;
    font-size: 1.125em;
}

.mb--5 {
    margin-bottom: -3rem;
}

.agreement-closed {
    opacity: 70%;
}

.multi-select-choice.share-button {
    padding-left: 8px;
    border-left: none;
}

.alert .errorlist {
    margin-bottom: 0;
}

.list-none {
    list-style: none;
    padding: 0;
}

.bg-lightblue {
    background-color: var(--lightblue);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-lightgrey {
    background-color: var(--lightgrey);
}

.bg-white {
    background-color: white;
}

.bg-translucid {
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-none {
    background: none;
}

.carousel-img {
    max-height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.sidebar-row {
    display: block;
    padding: 4px 5px 6px 5px;
    margin: 5px 0;
    border-radius: 0.25rem;
}

a.sidebar-row {
    text-decoration: none;
}

a.sidebar-row:hover {
    color: black;
}

.sidebar-row.active, a.sidebar-row:hover {
    background-color: var(--blue);
}

.text-start {
    text-align: start !important;
}

/* sm: 576; md: 768; lg: 992; xl: 1200; xxl: 1400 */
@media (max-width: 576px) {
    .columns {
        columns: 1;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .badge {
        white-space: normal;
    }

    .columns {
        columns: 2;
    }
}

@media (max-width: 991px) {
    .static-page {
        column-count: 1;
    }
}

/* Carousel code */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-item {
    font-size: 1.375rem;
}

.carousel-item .col-12 {
    background-image: url("/static/home-images/carousel-slide-background-lg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (min-width: 576px) {
    .sm\:px-5rem {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .w-sm-auto {
        width: auto !important;
    }

    .container.container-large {
        max-width: 700px;
    }
}

@media (min-width: 768px) {
    .carousel-item .col-md-6, .carousel-item .col-lg-4 {
        background-image: url("/static/home-images/carousel-slide-background.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .w-md-45 {
        width: 45% !important;
    }

    .flex-md-row {
        flex-direction: row !important;
    }

    .container.container-large {
        max-width: 900px;
    }
}

@media (min-width: 992px) {
    .lg\:px-5rem {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .container.container-large {
        max-width: 1100px;
    }

    .lg\:w-50 {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .xl\:px-7rem {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .container.container-large {
        max-width: 1300px;
    }
}

@media (min-width: 1400px) {
    .carousel-item .col-lg-4 {
        background-image: url("/static/home-images/carousel-slide-background-lg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    .container.container-large {
        max-width: 1500px;
    }

    .xxl\:px-5rem {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 767px) {
    .less-md\:mt-5 {
        margin-top: 3rem !important;
    }
}

@media (max-width: 991px) {
    .less-lg\:text-center {
        text-align: center;
    }

    .less-lg\:fs-2rem {
        font-size: 2rem;
    }

    .less-lg\:mt-5 {
        margin-top: 3rem !important;
    }

    .flex-gap {
        flex: 0 0 1rem;
    }

    .edit-row .edit-inline a {
        opacity: 1 !important;
    }
}

@media (max-width: 1199px) {
    .less-xl\:broad-container {
        max-width: 1200px;
    }
}
