{% extends "account/email/base_message.html" %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Has rebut aquest correu perquè s'ha registrat un usuari en %(domain)s amb aquesta adreça de correu electrònic.", domain=current_site.domain) }}
  </td>
</tr>

<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Per confirmar que és correcte, i poder entrar a la web, clica <a href='%(url)s'>ací</a> i confirma.", url=activate_url) }}
  </td>
</tr>
{% endblock %}
