{% extends "account/email/base_message.html" %}

{% block content %}
<tr>
  <td style="font-family: 'Open Sans', sans-serif;">
    Has rebut aquest correu perquè tu o alguna altra persona ha demanar recuperar la contrasenya del compte associat amb aquest correu electrònic. Tanmateix, no tenim constància de cap usuari registrat que faça servir el correu {{ email }} en la nostra base de dades.
  </td>
</tr>

<tr>
  <td style="font-family: 'Open Sans', sans-serif;">
    Pots ignorar aquest correu sense problema si no has sol·licitat un canvi de contrasenya.
  </td>
</tr>

<tr>
  <td style="font-family: 'Open Sans', sans-serif;">
    Si has sigut tu qui l'has demanat, pots registrar-te fent servir aquest <a href="{{ signup_url }}">enllaç</a>.
  </td>
</tr>
{% endblock %}

