[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jinja2 = "*"
pipenv = "*"
django-allauth = "*"
pytz = "*"
pillow = "*"
pandas = "*"
matplotlib = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2-binary = "*"
networkx = "*"
scipy = "*"
django-debug-toolbar = "*"
bleach = "*"
django-csp = "*"
exif = "*"
django-axes = "*"
django-recaptcha = "*"
typing-extensions = "*"
beautifulsoup4 = "*"
babel = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
