{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import show_password_message  %}

{% block js %}
<script>
var inputs = document.querySelectorAll("[type='password']");
for (var i = 0; i < inputs.length; i++) {
  const input = inputs[i];
  const button = input.parentElement.getElementsByTagName("button")[0];
  const icon = input.parentElement.getElementsByTagName("i")[0];

  function togglePassword() {
    if (input.type === "password") {
      input.type = "text";
      button.setAttribute("aria-label", "Amaga la contrasenya");
      icon.setAttribute("class", "bi-eye-slash");
    } else {
      input.type = "password";
      button.setAttribute("aria-label", "{{ show_password_message() }}");
      icon.setAttribute("class", "bi-eye");
    }
  }
  button.addEventListener("click", togglePassword);
}
</script>
{% endblock %}
