{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import page_title, arrow_btn %}

{% block title %}{{ _("Confirma") }}{% endblock title %}

{% block content %}
<div class="container less-lg:text-center">
  {{ page_title(_("Confirma l'adreça de correu electrònic")) }}

{% if confirmation %}

{% with email = confirmation.email_address.email %}
<p>{{ _("Per favor confirma que <a href='mailto:%(email)s'>%(email)s</a> és una adreça de correu vàlida per a l'usuari que has creat.", email=email) }}</p>
{% endwith %}

<form method="post" action="{{ url('account_confirm_email', kwargs = {'key': confirmation.key }) }}" class="mb-1">
    {{ csrf_input }}
    {{ arrow_btn(_("Confirma"), "bi-hand-thumbs-up") }}
</form>

{% else %}

<p class="mb-1">{{ _("Aquest enllaç de confirmació de correu electrònic ha expirat o és invàlid.") }}</p>

{% endif %}

</div>
{% endblock %}

