{% extends "account/_passwords.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback, toggle_password_button, passwords_js, arrow_btn, arrow_btn_link %}

{% block title %}{{ _("Entra") }}{% endblock title %}

{% block inner_content %}
<h2 class="text-uppercase text-center mt-0">{{ _("Inicia sessió") }}</h2>
<div class="divider-3 mb-4"></div>

<form method="post">
  {{ csrf_input }}
  {{ form_feedback(form) }}
  <label class="mt-3" for="id_login">{{ _("Correu electrònic") }}</label>
  <input type="email" {{ input_classes(form, "login") }} name="login" autocomplete="email" required id="id_login" {{ input_value(form, "login") }}>
  {{ input_feedback(form, "login") }}

  <label class="mt-3" for="id_password">{{ _("Contrasenya") }}</label>
  <div class="input-group">
    <input type="password" {{ input_classes(form, "password") }} name="password" autocomplete="current-password" required="" id="id_password">
    {{ toggle_password_button() }}
    {{ input_feedback(form, "password") }}
  </div>
  <div class="text-end mt-2">
    <a href="{{ url("account_reset_password") }}">{{ _("He oblidat la contrasenya") }}</a>
  </div>

  <div class="mt-4"></div>
  {{ form.captcha }}

  <div class="mt-4">
    {{ arrow_btn(_("Entra"), "bi-box-arrow-in-right") }}
    <a href="{{ url("account_signup") }}" class="btn btn-light">
      {{ _("Registra't") }}
    </a>
  </div>

  <div class="mt-4">
    {{ arrow_btn_link(_("Continua amb Google"), provider_login_url(request, "google"), "", image=static("google_logo.png"), image_alt=_("Logo de Google")) }}
  </div>
</form>
{% endblock %}

{% block js %}
{{ passwords_js() }}
{% endblock %}
