{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback, toggle_password_button, passwords_js, page_title, arrow_btn %}

{% block title %}{{ _("Canvia la contrasenya") }}{% endblock %}

{% block content %}
<div class="container">
  {{ page_title(_("Canvia la contrasenya")) }}

<form method="POST" action="{{ url('account_change_password') }}" class="mb-2">
  {{ csrf_input }}
  {{ form_feedback(form) }}
  <label for="id_oldpassword">{{ _("Contrasenya actual") }}</label>
  <div class="input-group">
    <input type="password" {{ input_classes(form, "oldpassword") }} name="oldpassword" autocomplete="current-password">
    {{ toggle_password_button() }}
    {{ input_feedback(form, "oldpassword") }}
  </div>

  <label for="id_password1">{{ _("Contrasenya") }}</label>
  <div class="input-group">
    <input type="password" {{ input_classes(form, "password1") }} name="password1" autocomplete="new-password" required="" id="id_password1">
    {{ toggle_password_button() }}
    {{ input_feedback(form, "password1") }}
  </div>

  <label for="id_password2">{{ _("Contrasenya") }}</label>
  <div class="input-group">
    <input type="password" {{ input_classes(form, "password2") }} name="password2" autocomplete="new-password" required="" id="id_password2">
    {{ toggle_password_button() }}
    {{ input_feedback(form, "password2") }}
  </div>

  <div class="mt-2">
    {{ arrow_btn(_("Canvia la contrasenya"), "bi-fingerprint") }}
    <a href="{{ url('account_reset_password') }}" class="ms-2">{{ _("Has oblidat la contrasenya?") }}</a>
  </div>
</form>
</div>
{% endblock %}

{% block js %}
{{ passwords_js() }}
{% endblock %}
