{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback %}

{% block title %}Recupera la contrasenya{% endblock title %}

{% block content %}
<div class="container">
<h2>Recupera la contrasenya</h2>

<p>Has perdut la contrasenya? Introdueix el teu correu electrònic i t'enviarem un correu amb un enllaç per introduir-ne una de nova.</p>

<form method="post" class="mb-2">
  {{ csrf_input }}
  {{ form_feedback(form) }}
  <input type="email" {{ input_classes(form, "email") }} name="email" autocomplete="email" required id="id_email" {{ input_value(form, "email") }}>
  {{ input_feedback(form, "email") }}

  <button type="submit" class="btn btn-custom mt-2">Recupera la contrasenya</button>
</form>

<p class="mb-1">Si us plau, contacta amb nosaltres si tens algun problema.</p>
</div>
{% endblock %}
