{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback %}

{% block title %}Canvia la contrasenya{% endblock title %}

{% block content %}
<div class="container">
{% if token_fail %}
<h2>Codi incorrecte</h2>

<p>El codi de recuperació de contrasenya és invalid, probablement perquè ja s'ha fet servir. Si us plau, sol·liciteu la <a href="{{ url('account_reset_password') }}">recuperació de contrasenya</a> de nou.</p>

{% else %}
<h2>Canvia la contrasenya</h2>

{% if form %}
<form method="post" action="{{ action_url }}" class="mb-2">
    {{ csrf_input }}
    {{ form_feedback(form) }}
    <label for="id_password1">Contrasenya nova</label>
    <input type="password" {{ input_classes(form, "password1") }} name="password1" autocomplete="contrasenya-nova" required="" id="id_password1">
    {{ input_feedback(form, "password1") }}

    <label for="id_password2">Contrasenya nova (repeteix)</label>
    <input type="password" {{ input_classes(form, "password2") }} name="password2" autocomplete="contrasenya-de-nou" required="" id="id_password2">
    {{ input_feedback(form, "password2") }}

    <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-custom">Canvia la contrasenya</button>
    </div>
</form>
{% else %}
<p class="mb-1">S'ha actualitzat la contrasenya.</p>
{% endif %}
{% endif %}

</div>
{% endblock %}
