{% extends "account/_passwords.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback, toggle_password_button %}

{% block title %}Canvia la contrasenya{% endblock %}

{% block content %}
<div class="container">
<h1>Canvia la contrasenya</h1>

<form method="POST" action="{{ url('account_change_password') }}" class="mb-2">
  {{ csrf_input }}
  {{ form_feedback(form) }}
  <label for="id_oldpassword">Contrasenya actual</label>
  <div class="input-group">
    <input type="password" {{ input_classes(form, "oldpassword") }} name="oldpassword" autocomplete="current-password">
    {{ toggle_password_button() }}
    {{ input_feedback(form, "oldpassword") }}
  </div>

  <label for="id_password1">Contrasenya</label>
  <div class="input-group">
    <input type="password" {{ input_classes(form, "password1") }} name="password1" autocomplete="new-password" required="" id="id_password1">
    {{ toggle_password_button() }}
    {{ input_feedback(form, "password1") }}
  </div>

  <label for="id_password2">Contrasenya</label>
  <div class="input-group">
    <input type="password" {{ input_classes(form, "password2") }} name="password2" autocomplete="new-password" required="" id="id_password2">
    {{ toggle_password_button() }}
    {{ input_feedback(form, "password2") }}
  </div>

  <div class="mt-2">
    <button type="submit" name="action" class="btn btn-custom">Canvia la contrasenya</button>
    <a href="{{ url('account_reset_password') }}">Has oblidat la contrasenya?</a>
  </div>
</form>
</div>
{% endblock %}
