{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback, toggle_password_button, passwords_js, page_title, arrow_btn %}

{% block title %}{{ _("Canvia la contrasenya") }}{% endblock title %}

{% block content %}
<div class="container less-lg:text-center">
{% if token_fail %}
{{ page_title(_("Codi incorrecte")) }}

<p>{{ _("El codi de recuperació de contrasenya és invalid, probablement perquè ja s'ha fet servir. Si us plau, sol·liciteu la <a href='%(url)s'>recuperació de contrasenya</a> de nou.", url=url('account_reset_password')) }}</p>

{% else %}
{{ page_title(_("Canvia la contrasenya")) }}

{% if form %}
<form method="post" action="{{ action_url }}" class="mb-2">
  {{ csrf_input }}
  {{ form_feedback(form) }}

  <div class="text-start">
    <label for="id_password1">{{ _("Contrasenya nova") }}</label>
    <div class="input-group">
      <input type="password" {{ input_classes(form, "password1") }} name="password1" required="" id="id_password1">
      {{ toggle_password_button() }}
      {{ input_feedback(form, "password1") }}
    </div>

    <label for="id_password2">{{ _("Contrasenya nova (repeteix)") }}</label>
    <div class="input-group">
      <input type="password" {{ input_classes(form, "password2") }} name="password2" required="" id="id_password2">
      {{ toggle_password_button() }}
      {{ input_feedback(form, "password2") }}
    </div>
  </div>

  <div class="mt-2">
    {{ arrow_btn(_("Canvia la contrasenya"), "bi-fingerprint") }}
  </div>
</form>
{% else %}
<p class="mb-1">{{ _("S'ha actualitzat la contrasenya.") }}</p>
{% endif %}
{% endif %}

</div>
{% endblock %}

{% block js %}
{{ passwords_js() }}
{% endblock %}
