{% extends "account/_passwords.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback, arrow_btn %}

{% block title %}{{ _("Recupera la contrasenya") }}{% endblock title %}

{% block inner_content %}
<div class="container less-lg:text-center">
<h2 class="text-uppercase text-center mt-0">{{ _("Recupera la contrasenya") }}</h2>
<div class="divider-3 mb-4"></div>

<p>{{ _("Has perdut la contrasenya? Introdueix el teu correu electrònic i t'enviarem un correu amb un enllaç per introduir-ne una de nova.") }}</p>

<form method="post" class="mb-2">
  {{ csrf_input }}
  {{ form_feedback(form) }}

  <input type="email" {{ input_classes(form, "email", extra="bg-lightblue") }} name="email" autocomplete="email" required id="id_email" {{ input_value(form, "email") }}>
  {{ input_feedback(form, "email") }}

  <div class="mt-3">
    {{ arrow_btn(_("Recupera"), "bi-fingerprint") }}
  </div>
</form>

<p class="mb-1">{{ _("Si us plau, contacta amb nosaltres si tens algun problema.") }}</p>
</div>
{% endblock %}
