{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback %}

{% block title %}Canvia la contrasenya{% endblock %}

{% block content %}
<div class="container">
<h1>Canvia la contrasenya</h1>

<form method="POST" action="{{ url('account_change_password') }}" class="mb-2">
    {{ csrf_input }}
    {{ form_feedback(form) }}
    <label for="id_oldpassword">Contrasenya actual</label>
    <input type="password" {{ input_classes(form, "oldpassword") }} name="oldpassword" autocomplete="current-password">
    {{ input_feedback(form, "oldpassword") }}

    <label for="id_password1">Contrasenya</label>
    <input type="password" {{ input_classes(form, "password1") }} name="password1" autocomplete="new-password" required="" id="id_password1">
    {{ input_feedback(form, "password1") }}

    <label for="id_password2">Contrasenya</label>
    <input type="password" {{ input_classes(form, "password2") }} name="password2" autocomplete="new-password" required="" id="id_password2">
    {{ input_feedback(form, "password2") }}

    <div style="margin-top: 10px;">
        <button type="submit" name="action" class="btn btn-custom">Canvia la contrasenya</button>
        <a href="{{ url('account_reset_password') }}">Has oblidat la contrasenya?</a>
    </div>
</form>
</div>
{% endblock %}
