{% extends "femlliga/_base.html" %}

{% macro pending_dot() %}
<span
  class="position-absolute bg-danger rounded-circle"
  style="padding: 4px;"
  title="Peticions pendents de respondre">
</span>
{% endmacro %}
{% macro menu_url(name, href, args=[], pending=False) %}
<a class="nav-link{% if request.path == url(href, args=args) %} active{% endif %}" style="" href="{{ url(href, args=args) }}">{{ name }}{% if pending %} {{ pending_dot() }} {% endif %}</a>
{% endmacro %}

{% macro dropdown_menu(icon, href, args=[]) %}
<a
  class="nav-link dropdown-toogle {% if href and parent(request.path) == parent(url(href, args=args)) %} active{% endif %}"
  role="button"
  data-bs-toggle="dropdown"
  aria-expanded="false"
  href="#">
  <i class="{{ icon }}"></i>
</a>
{% endmacro %}

{% block primary_navigation %}
  <ul class="navbar-nav me-auto mb-lg-0">
  {% if not user.is_anonymous %}
    {% set organization = request.user.get_organization() %}
    {% if organization %}
    <li>{{ menu_url("Has lligat?", "matches", [organization.id]) }}</li>
    <li>{{ menu_url("Cerca", "search", [organization.id]) }}</li>
    {% set pending_sent, pending_received = organization.pending_agreements() %}
    <li>{{ menu_url("Peticions", "agreements", [organization.id], pending=pending_sent or pending_received) }}</li>
    {% endif %}
  {% endif %}
  {% if user.is_staff %}
  <li>{{ menu_url("Informe", "report") }}</li>
  <li>{{ menu_url("Dashboard", "dashboard") }}</li>
  {% endif %}
{% block menu %}{% endblock %}
  </ul>
  <ul class="navbar-nav">
  {% if user.is_anonymous %}
    <li>{{ menu_url("Entra", "account_login") }}</li>
  {% else %}
    <li class="nav-item dropstart">
      {{ dropdown_menu("bi-person-circle", "") }}
      <ul class="dropdown-menu" aria-labelledby="agreementsDropdownMenuLink">
        {% if organization %}
        <li><a class="dropdown-item" href="{{ url("app") }}">Entitat</a></li>
        {% endif %}
        <li><a class="dropdown-item" href="{{ url("notifications") }}">Notificacions</a></li>
        <li>
          <form method="post" action="{{ url("account_logout") }}">
            {{ csrf_input }}
            <button class="dropdown-item invisible-button" type="submit">
              Surt
            </button>
          </form>
        </li>
      </ul>
    </li>
  {% endif %}
  </ul>
{% endblock %}
