<!DOCTYPE html>
<html lang="{{ get_language(request) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Una xarxa on organitzacions intercanvien recursos">
        <meta name="keywords" content="intercanvi de recursos, intercambio de recursos, intercooperación, intercooperació, entitats, entidades, associacionisme, asociacionismo, economia social, economia social i solidaria">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="icon" type="image/x-icon" href="{{ static("favicon.ico") }}">
        <link rel="manifest" href="{{ static("manifest.json") }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">

        <link href="{{ static("style.css") }}" rel="stylesheet">
{% block css %}{% endblock %}
        <title>
{% block title %}{% endblock %} | {{ get_current_site(request).name }}
        </title>
    </head>

    <body>
      {% if settings.STAGING_ENVIRONMENT_NAME %}
      <div class="staging-bow">
        {{ settings.STAGING_ENVIRONMENT_NAME }}
      </div>
      {% endif %}
      <div class="skippy visually-hidden-focusable overflow-hidden">
        <div class="container-xl">
          <a class="d-inline-flex p-2 m-1" href="#content">{{ _("Salta al contingut principal") }}</a>
        </div>
      </div>
      <header class="navbar navbar-expand-md bd-navbar">
        <nav class="container flex-wrap flex-md-nowrap" aria-label="{{ _("Navegació principal") }}">
          <a class="navbar-brand" href="/">
{% block brand %}<span class="brand">{{ consts.APP_NAME }}</span>{% endblock %}
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi-list fs-2rem"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar">
{% block primary_navigation %}{% endblock %}
          </div>
        </nav>
      </header>
      <wrapper class="d-flex flex-column">
        <main id="content" class="h-100vh {% block content_classes %}{% endblock %}">
          {% if messages %}
          <div class="container">
            {% for message in messages %}
            {% if "show" in message.tags %}
            <div class="bg-lightblue text-center br-1rem p-3 mb-2" role="alert">
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<i class="bi bi-check-lg fs-1 align-middle pb-2"></i>{% endif %}
              <span>{{ message }}</span>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
{% block content %}{% endblock %}
        </main>
        <footer class="bg-lightgrey">
          <div class="py-3 my-4 container">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <p class="fw-bold">{{ _("INFORMACIÓ") }}</p>
                    <ul class="list-none">
                      <li class="mb-1"><a href="{{ url("page", args=["legal"]) }}">{{ _("Avís legal") }}</a></li>
                      <li class="mb-1"><a href="{{ url("page", args=["accessibility"]) }}">{{ _("Accessibilitat") }}</a></li>
                      <li class="mb-1"><a href="{{ url("page", args=["privacy"]) }}">{{ _("Política de protecció de dades") }}</a></li>
                      <li class="mb-1"><a href="{{ url("page", args=["faq"]) }}">{{ _("Preguntes freqüents") }}</a></li>
                      <li class="mb-1"><a href="{{ url("contact") }}">{{ _("Contacte") }}</a></li>
                    </ul>
                  </div>
                  <div class="col-12 col-lg-6 less-lg:mt-5">
                    <p class="fw-bold">{{ _("CONTACTE") }}</p>
                    <p class="m-0">Tlf: {{ settings.CONTACT_PHONE }}</p>
                    <p class="m-0">{{ _("Correu electrònic:") }} {{ settings.CONTACT_EMAIL }}</p>
                    <p class="m-0"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/{{ settings.CONTACT_SOCIAL }}/">Instagram</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="{{ settings.CONTACT_LINKS }}">{{ _("Enllaços") }}</a></p>
                    <p>{{ _("Les imatges emprades pertanyen a") }} <a target="_blank" rel="noopener noreferrer" href="https://www.freepik.com">pikisuperstar - www.freepik.com</a></p>
                    <p>{{ _("Web creada amb <a target='_blank' rel='noopener noreferrer' href='https://github.com/transversalcoop/femlliga'>programari lliure</a>") }}</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 less-md:mt-5">
                <p class="m-0">{{ _("Un projecte desenvolupat per") }}</p>
                <a target="_blank" rel="noopener noreferrer" href="https://transversalcoop.org">
                  <img src="{{ static("transversal.png") }}" class="h-58px" alt="{{ _("Logo de la Cooperativa Transversal") }}" loading="lazy">
                </a>

                <p class="mt-3">{{ _("Amb el suport de") }}</p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.mdsocialesa2030.gob.es/">
                  <img src="{{ static("mdsocialesa2030.svg") }}" class="h-85px" alt="{{ _("Logo del ministeri de drets socials, consum i agenda 2030") }}" loading="lazy">
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://castello.es/">
                  <img src="{{ static("ajuntament_cs.png") }}" class="h-85px mt-4" alt="{{ _("Logo de l'Ajuntament de Castelló") }}" loading="lazy">
                </a>
              </div>
            </div>
          </div>
        </footer>
      </wrapper>

      <div id="toastWrapper" class="position-fixed bottom-0 end-0 p-3 z-10000"></div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script src="{{ static('js.js') }}"></script>
      {% if json_data %}
      {{ json_script(json_data, "django-json-data") }}
      {% endif %}
<script>
if ("serviceWorker" in navigator) {
  navigator.serviceWorker.register("{{ static("sw.js") }}");
}
</script>
{% block js %}{% endblock %}
    </body>
</html>


