<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Una xarxa on organitzacions intercanvien recursos">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <link rel="icon" type="image/x-icon" href="{{ static("favicon.ico") }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">

        <link href="{{ static("style.css") }}" rel="stylesheet">
{% block css %}{% endblock %}
        <title>
{% block title %}{{ consts.APP_NAME }}{% endblock %}
        </title>
    </head>

    <body>
      {% if settings.STAGING_ENVIRONMENT_NAME %}
      <div class="staging-bow">
        {{ settings.STAGING_ENVIRONMENT_NAME }}
      </div>
      {% endif %}
      <div class="skippy visually-hidden-focusable overflow-hidden">
        <div class="container-xl">
          <a class="d-inline-flex p-2 m-1" href="#content">Salta al contingut principal</a>
        </div>
      </div>
      <header class="navbar navbar-expand-md bd-navbar" style="background-color: #FFCE1C;">
        <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
          <a class="navbar-brand" href="/">
{% block brand %}<span style="font-weight: 900; text-transform: uppercase; font-size: 1.75em;">{{ consts.APP_NAME }}</span>{% endblock %}
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi-list" style="font-size: 2rem;"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar">
{% block primary_navigation %}{% endblock %}
          </div>
        </nav>
      </header>
      <wrapper class="d-flex flex-column">
        <main id="content">
{% block content %}{% endblock %}
        </main>
        <footer class="border-top">
          <div class="py-3 my-4 container">
            <div class="row" style="color: #4b4b4b; font-size: 0.9em;">
              <div class="col-lg-4">
                <p class="fw-bold">INFORMACIÓ</p>
                <ul style="list-style: none; padding: 0;">
                  <li class="mb-1"><a href="{{ url("page", args=["legal"]) }}">Avís legal</a></li>
                  <li class="mb-1"><a href="{{ url("page", args=["accessibility"]) }}">Accessibilitat</a></li>
                  <li class="mb-1"><a href="{{ url("page", args=["privacy"]) }}">Política de protecció de dades</a></li>
                  <li class="mb-1"><a href="{{ url("page", args=["faq"]) }}">Preguntes freqüents</a></li>
                  <li class="mb-1"><a href="{{ url("contact") }}">Contacte</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <p class="fw-bold">CONTACTE</p>
                <p class="m-0">Tlf: 643 015 716</p>
                <p class="m-0">Correu electrònic: contacte@femlliga.org</p>
                <p class="m-0"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/femlliga/">Instagram</a></p>
                <p><a target="_blank" rel="noopener noreferrer" href="https://links.transversalcoop.org/@femlliga/">Enllaços</a></p>
                <p>Les imatges emprades pertanyen a <a target="_blank" rel="noopener noreferrer" href="https://www.freepik.com">pikisuperstar - www.freepik.com</a></p>
                <p>Web creada amb <a target="_blank" rel="noopener noreferrer" href="https://github.com/transversalcoop/femlliga">programari lliure</a></p>
              </div>
              <div class="col-lg-4">
                <p class="m-0">Un projecte desenvolupat per </p>
                <a target="_blank" rel="noopener noreferrer" href="https://transversalcoop.org">
                  <img src="{{ static("transversal.png") }}" style="height: 58px;" alt="Logo de la Cooperativa Transversal">
                </a>

                <p style="margin: 20px 0 0 0;">Amb el suport econòmic de</p>
                <a target="_blank" rel="noopener noreferrer" href="https://castello.es/">
                  <img src="{{ static("ajuntament_cs.png") }}" style="height: 85px;" alt="Logo de l'Ajuntament de Castelló">
                </a>
              </div>
            </div>
          </div>
        </footer>
      </wrapper>
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
      <script src="{{ static('js.js') }}"></script>

{% block js %}{% endblock %}
    </body>
</html>


