<!DOCTYPE html>
<html lang="{{ get_current_language() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Una xarxa on organitzacions intercanvien recursos">
        <meta name="keywords" content="intercanvi de recursos, intercambio de recursos, intercooperación, intercooperació, entitats, entidades, associacionisme, asociacionismo, economia social, economia social i solidaria">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="icon" type="image/x-icon" href="{{ static("favicon.ico") }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">

        <link href="{{ static("style.css") }}" rel="stylesheet">
{% block css %}{% endblock %}
        <title>
{% block title %}{% endblock %} | {{ consts.APP_NAME }}
        </title>
    </head>

    <body>
      {% if settings.STAGING_ENVIRONMENT_NAME %}
      <div class="staging-bow">
        {{ settings.STAGING_ENVIRONMENT_NAME }}
      </div>
      {% endif %}
      <div class="skippy visually-hidden-focusable overflow-hidden">
        <div class="container-xl">
          <a class="d-inline-flex p-2 m-1" href="#content">{{ _("Salta al contingut principal") }}</a>
        </div>
      </div>
      <header class="navbar navbar-expand-md bd-navbar" style="background-color: #FFCE1C;">
        <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
          <a class="navbar-brand" href="/">
{% block brand %}<span style="font-weight: 900; text-transform: uppercase; font-size: 1.75em;">{{ consts.APP_NAME }}</span>{% endblock %}
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi-list" style="font-size: 2rem;"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar">
{% block primary_navigation %}{% endblock %}
          </div>
        </nav>
      </header>
      <wrapper class="d-flex flex-column">
        <main id="content">
          {% if messages %}
          <div class="container">
            {% for message in messages %}
            {% if "show" in message.tags %}
            <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% else %}info{% endif %} mt-2">
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<i class="bi bi-check-lg fs-1 align-middle pb-2"></i>{% endif %}
              <span>{{ message }}</span>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
{% block content %}{% endblock %}
        </main>
        <footer class="border-top">
          <div class="py-3 my-4 container">
            <div class="row" style="color: #4b4b4b; font-size: 0.9em;">
              <div class="col-lg-4">
                <p class="fw-bold">{{ _("INFORMACIÓ") }}</p>
                <ul style="list-style: none; padding: 0;">
                  <li class="mb-1"><a href="{{ url("page", args=["legal"]) }}">{{ _("Avís legal") }}</a></li>
                  <li class="mb-1"><a href="{{ url("page", args=["accessibility"]) }}">{{ _("Accessibilitat") }}</a></li>
                  <li class="mb-1"><a href="{{ url("page", args=["privacy"]) }}">{{ _("Política de protecció de dades") }}</a></li>
                  <li class="mb-1"><a href="{{ url("page", args=["faq"]) }}">{{ _("Preguntes freqüents") }}</a></li>
                  <li class="mb-1"><a href="{{ url("contact") }}">{{ _("Contacte") }}</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <p class="fw-bold">{{ _("CONTACTE") }}</p>
                <p class="m-0">Tlf: {{ settings.CONTACT_PHONE }}</p>
                <p class="m-0">{{ _("Correu electrònic:") }} {{ settings.CONTACT_EMAIL }}</p>
                <p class="m-0"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/{{ settings.CONTACT_SOCIAL }}/">Instagram</a></p>
                <p><a target="_blank" rel="noopener noreferrer" href="{{ settings.CONTACT_LINKS }}">{{ _("Enllaços") }}</a></p>
                <p>{{ _("Les imatges emprades pertanyen a") }} <a target="_blank" rel="noopener noreferrer" href="https://www.freepik.com">pikisuperstar - www.freepik.com</a></p>
                <p>{{ _("Web creada amb <a target='_blank' rel='noopener noreferrer' href='https://github.com/transversalcoop/femlliga'>programari lliure</a>") }}</p>
              </div>
              <div class="col-lg-4">
                <p class="m-0">{{ _("Un projecte desenvolupat per") }}</p>
                <a target="_blank" rel="noopener noreferrer" href="https://transversalcoop.org">
                  <img src="{{ static("transversal.png") }}" style="height: 58px;" alt="{{ _("Logo de la Cooperativa Transversal") }}" loading="lazy">
                </a>

                <p style="margin: 20px 0 0 0;">{{ _("Amb el suport econòmic de") }}</p>
                <a target="_blank" rel="noopener noreferrer" href="https://castello.es/">
                  <img src="{{ static("ajuntament_cs.png") }}" style="height: 85px;" alt="{{ _("Logo de l'Ajuntament de Castelló") }}" loading="lazy">
                </a>
              </div>
            </div>
          </div>
        </footer>
      </wrapper>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <script src="{{ static('js.js') }}"></script>
      {% if json_data %}
      {{ json_script(json_data, "django-json-data") }}
      {% endif %}
{% block js %}{% endblock %}
    </body>
</html>


