{% extends "femlliga/_base.html" %}

{% block content %}
<section class="page-section">
  <div class="text-center">
    <img src="{{ static("decorations/heading-bird.png") }}" alt="{{ _("Imatge decorativa amb ocells") }}" class="mb--5">
  </div>
  <div class="container">
    <h1 class="text-center page-title">
      {{ _("Recoi!") }}
{% block error_code %}{% endblock %}
    </h1>
  </div>
  <div class="container">
    <div class="divider-1"></div>
    <h2 class="text-center page-subheading">
{% block error_description %}{% endblock %}
    </h2>
  </div>
</section>

<div class="container mb-2">
  <p class="text-center">{{ _("Sentim molt la molèstia. Pots tornar a intentar el que estaves fent, o, si l'error continua, <a href='%(url)s'>contactar amb nosaltres</a>", url=url("contact")) }}</p>

  <div class="text-center">
    <a class="btn btn-custom error-page-btn" href="{{ url("index") }}">{{ _("Ves a la pàgina d'inici") }}</a>
  </div>
</div>
{% endblock %}
