{% extends "femlliga/_base.html" %}

{% block content %}
<section style="background-color: transparent; background-image: linear-gradient(180deg, #ffce1c 0%, white 100%);">
    <div class="text-center">
      <img src="{{ static("decorations/heading-bird.png") }}" alt="" style="margin: 0 0 -50px 0;">
    </div>
    <div class="container">
      <h1 style="font-weight: 900; font-size: 3.75em; color: #000;" class="text-center">
        Recoi!
{% block error_code %}{% endblock %}
      </h1>
    </div>
  <div class="container">
    <div class="divider-1"></div>
    <h3 style="font-weight: 700; color: gray; font-size: 1.125em;" class="text-center">
{% block error_description %}{% endblock %}
    </h3>
  </div>
</section>

<div class="container mb-2">
  <p class="text-center">Sentim molt la molèstia. Pots tornar a intentar el que estaves fent, o, si l'error continua, <a href="{{ url("contact") }}">contactar amb nosaltres</a></p>

  <div style="text-align: center;">
    <a class="btn btn-custom" href="{{ url("index") }}" style="font-weight: bold; font-size: 1.25rem;">Ves a la pàgina d'inici</a>
  </div>
</div>
{% endblock %}
