{% macro leaflet_css() %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endmacro %}

{% macro leaflet_js() %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endmacro %}

{% macro vue_js() %}
<script src="https://unpkg.com/vue@3/dist/vue.global{% if not settings.DEBUG %}.prod{% endif %}.js"></script>
{% endmacro %}

{% macro page_heading(heading, subheading) %}
<section style="background-color: transparent; background-image: linear-gradient(180deg, #ffce1c 0%, white 100%);">
  <div style="padding-top: 100px;" class="container">
    <h1 style="font-weight: 900; font-size: 3.75em; color: #000;" class="text-center">{{ heading }}</h1>
  </div>
</section>
<div class="container">
  <div class="divider-1"></div>
  <h3 style="font-weight: 700; color: gray; font-size: 1.125em;" class="text-center">{{ subheading }}</h3>
  <div>
    <img src="{{ static("decorations/heading-bird.png") }}" alt="" style="margin: 30px 0 30px 250px;" loading="lazy">
  </div>
</div>
{% endmacro %}

{% macro show_password_message() %}{{ _("Mostra la contrasenya com a text pla. Avís: això deixarà veure la teua contrasenya en la pantalla.") }}{% endmacro %}

{% macro toggle_password_button() %}
<span class="input-group-text">
  <button type="button" aria-label="{{ show_password_message() }}" class="toggle-password">
    <i class="bi-eye"></i>
  </button>
</span>
{% endmacro %}

{% macro show_messages(messages) %}
    {% for message in messages %}
        {% if message.extra_tags == "SHOW_USER" %}
            {% if message.message == "CELEBRATION" %}
            {% else %}
            <div class="alert alert-info" style="margin-top: 20px;">{{ message }}</div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro resource_details(resource, match_type) %}
  <div style="margin-bottom: 10px;">
    {% if resource.charge %}
      <span class="badge bg-light" title="{{ _("Es demana remuneració a canvi") }}">€</span>
    {% endif %}
    {% for option in resource.options.all() %}
      <span class="badge bg-light">{{ option }}</span>
    {% endfor %}
  </div>
  {% if resource.comments %}
  <p>{% if resource.resource != "OTHER" %}<strong>{{ _("Observacions:") }}</strong>{% endif %} {{ resource.comments }}</p>
  {% endif %}
  {% if resource.images.all() %}
  <div class="image-thumbnails">
    {% for image in resource.images.all() %}
    <div class="thumbnail">
      <a data-bs-toggle="modal" href="#carouselModal{{ match_type }}{{ resource.id }}" role="button">
        <img src="{{ image.image.url }}/" loading="lazy">
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="modal fade" id="carouselModal{{ match_type }}{{ resource.id }}" tabindex="-1" aria-labelledby="carouselModalImages" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" style="background: none;">
        <div class="modal-header" style="background-color: white;">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _("Tanca") }}"></button>
        </div>
        <div class="modal-body" style="background-color: rgba(0, 0, 0, 0.3);">
          <div id="carouselImages{{ match_type }}{{ resource.id }}" class="carousel slide" style="height: 100%;" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for i, image in enumerate(resource.images.all()) %}
              <div class="carousel-item text-center{% if i == 0 %} active{% endif %}">
                <img src="{{ image.image.url }}/" class="d-block" style="max-height: 100%; max-width: 80%; margin: 0 auto;" loading="lazy">
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages{{ match_type }}{{ resource.id }}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">{{ _("Anterior") }}</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselImages{{ match_type }}{{ resource.id }}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">{{ _("Següent") }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endmacro %}

{% macro input_classes(form, name) %}
    class="form-control{% if form.errors[name] %} is-invalid{% endif %}"
{% endmacro %}

{% macro input_value(form, name) %}
    {% if form.cleaned_data and form.cleaned_data[name] %}
        value="{{ form.cleaned_data[name] }}"
    {% endif %}
{% endmacro %}

{% macro formset_input_value(field) %}
  {% if field.value() %}value="{{ field.value() }}"{% endif %}
{% endmacro %}

{% macro textarea_value(form, name) %}{% if form.cleaned_data and form.cleaned_data[name] %}{{ form.cleaned_data[name] }}{% endif %}{% endmacro %}

{% macro input_feedback(form, name) %}
    {% if form.errors[name] %}
    <div class="invalid-feedback">
        {{ form.errors[name] }}
    </div>
    {% endif %}
{% endmacro %}

{% macro form_feedback(form) %}
    {% if form.non_field_errors() %}
    <div class="alert alert-danger">
        {{ form.non_field_errors() }}
    </div>
    {% endif %}
{% endmacro %}

{% macro render_select(form, name, label, options = [], strong_label=False) %}
    {% if form.fields[name] %}
        <label for="id_{{ name }}">
          {% if strong_label %}
          <strong>{{ label }}</strong>
          {% else %}
          {{ label }}
          {% endif %}
        </label>
        <select id="id_{{ name }}" name="{{ name }}" {{ input_value(form, name) }} class="form-select {% if form.errors[name] %} is-invalid{% endif %}">
            {% set choices = form.fields[name].choices %}
            {% if len(options) > 0 %}
                {% set choices = (choices[0],) + options %}
            {% endif %}
            {% for choice in choices %}
            <option value="{{ choice[0] }}"
                {% if form and form.cleaned_data and form.cleaned_data[name] == choice[0] %}selected{% endif %}
            >
                {{ choice[1] }}
            </option>
            {% endfor %}
        </select>
        {{ input_feedback(form, name) }}
    {% endif %}
{% endmacro %}

{% macro render_multi_checkboxes(form, name, label, options = []) %}
  {% if form.fields[name] %}
    <div class="{% if form.errors[name] %}is-invalid{% endif %}">
      <label for="id_{{ name }}"><strong>{{ label }}</strong></label>
      {% set choices = form.fields[name].choices %}
      <div class="triple-column">
        {% for i, choice in enumerate(choices) %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{ choice[0] }}" id="{{ name }}_{{ i }}" name="{{ name }}"
                 {% if form and form.cleaned_data and choice[0] in form.cleaned_data[name] %}checked{% endif %}>
          <label class="form-check-label" for="{{ name }}_{{ i }}">
          {{ choice[1] }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    {{ input_feedback(form, name) }}
  {% endif %}
{% endmacro %}

{% macro render_multiple_tags(form, name, label, options = [], show_empty=True) %}
    {% if form.fields[name] and (show_empty or (not show_empty and len(options) > 0))%}
        {% set choices = form.fields[name].choices %}
        {% if len(options) > 0 %}
            {% set choices = options %}
        {% endif %}
        {% if label %}
        <label for="id_{{ name }}">{{ label }}</label>
        {% endif %}
        <div class="multi-select">
            {% for choice in choices %}
            {% if form and form.cleaned_data and choice[0] in form.cleaned_data[name] %}
              {% set selected=True %}
            {% endif %}
            <button class="btn multi-select-choice {% if selected %}selected{% endif %}"
                  type="button"
                  role="switch"
                  value="{{ choice[0] }}"
                  onclick="clickOption(this);"
                  {% if selected %}selected="true"{% endif %}>
                {{ choice[1] }}
            </button>
            {% endfor %}
        </div>
        <select
          id="id_{{ name }}"
          name="{{ name }}"
          style="display: none;"
          class="multi-select {% if form.errors[name] %} is-invalid{% endif %}"
          multiple>
            {% for choice in choices %}
            <option value="{{ choice[0] }}"
                {% if form and form.cleaned_data and choice[0] in form.cleaned_data[name] %}selected{% endif %}>
                {{ choice[1] }}
            </option>
            {% endfor %}
        </select>
        {{ input_feedback(form, name) }}

        <script>
function clickOption(element) {
    if (element.getAttribute("selected") === "true") {
        element.setAttribute("selected", "false");
        element.classList.remove("selected");
    } else {
        element.setAttribute("selected", "true");
        element.classList.add("selected");
    }
    var s = document.getElementById("id_{{ name }}");
    for (var i = 0; i < s.children.length; i++) {
        if (s.children[i].value === element.getAttribute("value")) {
            s.children[i].selected = !s.children[i].selected;
        }
    }
}
        </script>
    {% endif %}
{% endmacro %}

{% macro render_select_raw(name, options, value="") %}
    <select id="id_{{ name }}" name="{{ name }}" class="form-select" value="{{ value }}">
        {% for option in options %}
            <option value="{{ option[0] }}" {% if value == option[0] %}selected{% endif %}>{{ option[1] }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro social_media_url(base_url, value) %}{% if value.startswith("http") %}{{ value }}{% else %}{{ base_url }}{{ value }}{% endif %}{% endmacro %}

{% macro render_social_media(org) %}
  {% if len(org.social_media.all()) > 0 %}
    <p class="mt-1 mb-0"><strong>{{ _("Xarxes socials i contacte") }}</strong></p>
    <ul class="mb-0">
    {% for m in sort_social_media(org.social_media.all()) %}
      <li>
        {{ social_media_type_name(m.media_type) }}:
        {% if m.media_type == "WEBSITE" %}
        <a target="_blank" rel="noopener noreferrer" href="{{ add_http(m.value) }}">{{ m.value }}</a>
        {% elif m.media_type == "FACEBOOK" %}
        <a target="_blank" rel="noopener noreferrer" href="{{ social_media_url("https://www.facebook.com/", m.value) }}">{{ m.value }}</a>
        {% elif m.media_type == "INSTAGRAM" %}
        <a target="_blank" rel="noopener noreferrer" href="{{ social_media_url("https://www.instagram.com/", m.value) }}">{{ m.value }}</a>
        {% elif m.media_type == "TWITTER" %}
        <a target="_blank" rel="noopener noreferrer" href="{{ social_media_url("https://twitter.com/", m.value) }}">{{ m.value }}</a>
        {% elif m.media_type == "LINKEDIN" %}
        <a target="_blank" rel="noopener noreferrer" href="{{ social_media_url("https://es.linkedin.com/in/", m.value) }}">{{ m.value }}</a>
        {% else %}
          {{ m.value }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_social_media_vue() %}
<div v-if="socialMedia.length > 0">
  <p class="mt-1 mb-0"><strong>{{ _("Xarxes socials") }}</strong></p>
  <ul class="mb-0">
    <li v-for="m in socialMedia" :key="m.id">
      <span class="me-2">${ socialMediaNamesMap[m.media_type] }</span>
      <a v-if="m.media_type === 'WEBSITE'" target="_blank" rel="noopener noreferrer" :href="addHttp(m.value)">${ m.value }</a>
      <a v-else-if="m.media_type === 'FACEBOOK'" target="_blank" rel="noopener noreferrer" :href="socialMediaUrl('https://www.facebook.com/', m.value)">${ m.value }</a>
      <a v-else-if="m.media_type === 'INSTAGRAM'" target="_blank" rel="noopener noreferrer" :href="socialMediaUrl('https://www.instagram.com/', m.value)">${ m.value }</a>
      <a v-else-if="m.media_type === 'TWITTER'" target="_blank" rel="noopener noreferrer" :href="socialMediaUrl('https://twitter.com/', m.value)">${ m.value }</a>
      <a v-else-if="m.media_type === 'LINKEDIN'" target="_blank" rel="noopener noreferrer" :href="socialMediaUrl('https://es.linkedin.com/in/', m.value)">${ m.value }</a>
      <span v-else>${ m.value }</span>
    </li>
  </ul>
</div>
{% endmacro %}

{% macro render_formset_field(form, field, field_name, input_type, label, placeholder="") %}
  {% if label %}
    <label for="id_{{ field.html_name }}" style="margin-top: 10px;">{{ label }}</label>
  {% endif %}
  <input type="{{ input_type }}" {{ input_classes(form, field_name) }} name="{{ field.html_name }}" id="id_{{ field.html_name }}" {{ formset_input_value(field) }} placeholder="{{ placeholder }}">
  {{ input_feedback(form, field_name) }}
{% endmacro %}

{% macro render_formset_select(form, field, field_name, label, handler="") %}
  {% if label %}
    <label for="id_{{ field.html_name }}">{{ label }}</label>
  {% endif %}
  <select id="id_{{ field.html_name }}" name="{{ field.html_name }}" class="form-select {% if form.errors[field_name] %} is-invalid{% endif %}" {{ handler|safe }}>
      {% for choice in form.fields[field_name].choices %}
      <option value="{{ choice[0] }}"
          {% if field.value() and field.value() == choice[0] %}selected{% endif %}
      >
          {{ choice[1] }}
      </option>
      {% endfor %}
  </select>
  {{ input_feedback(form, field_name) }}
{% endmacro %}

{% macro render_formset_delete_vue(field, deleteFunc) %}
<button class="btn btn-custom" @click.prevent="{{ deleteFunc }}">{{ _("Esborra") }}</button>
<input type="hidden" id="id_{{ field.html_name }}" name="{{ field.html_name }}" value="">
{% endmacro %}

{% macro organization_link(organization) %}
  <a href="{{ url("view_organization", kwargs={"organization_id": organization.id}) }}">{{ organization.name }}</a>
{% endmacro %}

{% macro images_modal_vue() %}
<div class="modal fade" id="images-modal" tabindex="-1" aria-labelledby="carouselModalImages" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-transparent">
      <div class="modal-header bg-white">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _("Tanca") }}"></button>
      </div>
      <div class="modal-body bg-black bg-opacity-25">
        <div id="carousel-images" class="carousel slide" style="height: 100%;" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div
              v-for="(image, index) in carouselImages"
              :key="image.url"
              class="carousel-item text-center"
              :class="{active: index === 0}">
              <img :src="image.url" class="d-block" style="max-height: 100%; max-width: 80%; margin: 0 auto;" loading="lazy">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-images" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ _("Anterior") }}</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-images" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ _("Següent") }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro match_filter_row_vue(match_type, title) %}
<template v-for="resource of matched_needs" :key="resource">
  <li v-if="resource in matches.{{ match_type }}Matches" class="nav-item">
    <button
      @click="selectResource(resource, '{{ match_type }}')"
      class="nav-link w-100 text-start"
      :class="{active: resourceSelected === resource && matchTypeSelected === '{{ match_type }}'}"
      type="button"
      role="tab"
      aria-selected="false"
      aria-current="page">
      <span
        v-if="resource in matches.{{ match_type }}Matches"
        class="float-end badge ms-2 bg-light"
        title="{{ title }}">
        ${ matches.{{ match_type }}Matches[resource].length }
      </span>
      <i class="me-2" :class="resourceIconsMap[resource]"></i>
      ${ resourceNamesMap[resource] }
    </button>
  </li>
</template>
{% endmacro %}

{% macro organization_info(org) %}
  {% if org.description %}
  <p>{{ org.description }}</p>
  {% endif %}

  <div class="row">
    <div class="col-md-6">
      <p class="mb-0"><strong>{{ _("Forma jurídica") }}</strong>: {{ org_type_name(org.org_type) }}</p>
      <p class="mb-0"><strong>{{ _("Àmbits de treball") }}</strong></p>
      <ul>
        {% for scope in org.scopes.all() %}
          <li>{{ scope }}</li>
        {% endfor %}
      </ul>
      {{ render_social_media(org) }}
    </div>

    <div class="col-md-6">
      <div id="citymap" class="map-height"></div>
    </div>
  </div>

{% endmacro %}

{% macro organization_map_js(org) %}
var map = L.map('citymap').setView([{{ org.lat }}, {{ org.lng }}], 15);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([{{ org.lat }}, {{ org.lng }}]).addTo(map);
{% endmacro %}

{% macro info_tooltip(title, pos="right", class="") %}
<span class="css-tooltip {{ class }}">
  <i class="bi-info-circle"></i>
  <span class="tooltiptext{% if pos=='left' %} tooltiptextleft{% elif pos=='mid' %} tooltiptextmid{% endif %}">
    {{ title }}.
  </span>
</span>
{% endmacro %}

{% macro show_matches_vue(matches) %}
<div v-for="result in {{ matches }}" :key="result" class="row match-box">
  <div class="p-2">
    <h3 class="mt-0">
      <a :href="result.organization.href" v-html="highlightSearch(result.organization.name, search)"></a>
      <span v-if="result.type === 'offer'" class="ms-2 background-yellow">{{ _("ofereix") }}</span>
      <span v-if="result.type === 'need'" class="ms-2 background-yellow-dark">{{ _("necessita") }}</span>
      <span class="ms-2" v-html="highlightSearch(resourceNamesMap[result.resource], search)"></span>
    </h3>
    <div>
      <span class="fs-7 fst-italic me-3 text-body-secondary">A ${ result.distance } {{ _("de vosaltres") }}</span>
    </div>
    <div class="mb-2">
      <span v-if="result.charge" class="badge bg-light me-2" title="{{ _("Es demana remuneració a canvi") }}">€</span>
      <span class="badge bg-light me-2" v-for="option in result.options" :key="option" v-html="highlightSearch(optionNamesMap[option], search)"></span>
    </div>
    <p v-if="result.comments" class="mb-0"><strong v-if="result.resource !== 'OTHER'" class="me-2">{{ _("Observacions:") }}</strong><span v-html="highlightSearch(result.comments, search)"></span></p>

    <div v-if="result.images.length > 0" class="image-thumbnails">
      <div v-for="image in result.images" :key="image.url" class="thumbnail">
        <a data-bs-toggle="modal" href="#images-modal" role="button" @click="setCarouselImages(result.images)">
          <img :src="image.url" loading="lazy">
        </a>
      </div>
    </div>

    <button v-if="!messagesOpen[result.message_href]" @click="sendMessage(result)" class="btn btn-custom mt-2">
      <i class="bi-send fs-6 me-2"></i>
      {{ _("Contacta") }}
    </button>
  </div>

  <div v-if="messagesOpen[result.message_href]" class="col-12">
    <div class="bg-light my-2 p-2 rounded-3">
      <button type="button" class="btn-close float-end" aria-label="Close" @click="closeMessage(result.message_href)"></button>
      <div>
        <div v-if="messagesOpen[result.message_href].result" class="alert alert-success mt-2 mb-0">
          {{ _("S'ha enviat el missatge correctament.") }} ${ result.organization.name } {{ _("podrà acceptar o rebutjar la comunicació. Si l'accepta, s'iniciarà una conversa per correu electrònic.") }}
        </div>
        <div v-else-if="messagesOpen[result.message_href].error" class="alert alert-danger mt-2 mb-0">
          {{ _("Hi ha hagut un error enviant el missatge. Per favor, torneu a intentar-ho més endavant, i si el problema persisteix poseu-vos en contacte amb") }} {{ settings.CONTACT_EMAIL }}.
        </div>
        <div v-else>
          <div v-if="result.last_message_declined" class="alert alert-warning mt-2">
            {{ _("La darrera vegada que us vau posar en contacte amb aquesta entitat, van declinar la comunicació.") }}
          </div>
          <div v-if="result.options.length > 0">
            <p class="mt-1 mb-1 fw-bold">{{ _("Quines opcions vos interessen concretament?") }}</p>
            <div class="multi-select p-0 text-start">
              <button
                v-for="option in result.options"
                :key="option"
                @click="toggleMessageOption(result.message_href, option)"
                class="btn multi-select-choice"
                :class="{selected: messagesOpen[result.message_href].options[option]}"
              >
                ${ optionNamesMap[option] }
              </button>
            </div>
          </div>
          <textarea
            v-model="messagesOpen[result.message_href].message"
            placeholder="{{ _("Escriu ací el missatge que els arribarà") }}"
            class="form-control"
          ></textarea>
        </div>
      </div>
      <div v-if="!messagesOpen[result.message_href].result && !messagesOpen[result.message_href].error">
        <button @click="sendMessage(result)" class="btn btn-custom mt-2">
          <span v-if="messagesOpen[result.message_href] && messagesOpen[result.message_href].loading">
            Enviant
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">{{ _("Enviant...") }}</span>
            </div>
          </span>
          <span v-else>
            <i class="bi-send fs-6 me-2"></i>
            <span v-if="messagesOpen[result.message_href]">
              {{ _("Envia el missatge") }}
              {{ info_tooltip(_("Se li enviarà un missatge a ") + "${ result.organization.name }" + _(", que podrà acceptar o rebutjar la comunicació. Si l'accepta, s'iniciarà una conversa per correu electrònic")) }}
            </span>
          </span>
        </button>
        <span v-if="messagesOpen[result.message_href].errorMessage" class="ms-2">
          ${ messagesOpen[result.message_href].errorMessage }
        </span>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro match_contains_func_js() %}
function matchContains(search) {
  return function(m) {
    const parts = sanitize(search).split(" ").filter(x => x !== "");
    const targets = [
      sanitize(m.organization.name),
      sanitize(m.comments),
      sanitize(jsonData.resource_names_map[m.resource]),
    ];
    for (var option of m.options) {
      targets.push(sanitize(jsonData.option_names_map[option]));
    }
    for (var part of parts) {
      if (!targets.some((target) => contains(target, part))) {
        return false;
      }
    }
    return true;
  };
}
{% endmacro %}

{% macro matches_methods_vue(csrf_token) %}
    filterMatches(matches) {
      var m = {};
      for (var k in matches) {
        m[k] = matches[k].filter(matchContains(this.search));
      }
      return m;
    },
    concatenateMatches(matches) {
      var l = [];
      Object.keys(matches).forEach((k) => {
        l = [...l, ...matches[k]];
      });
      return l;
    },
    extractSelectedOptions(optionsMap) {
      return Object.keys(optionsMap).map(k => {
        if (optionsMap[k]) {
          return k;
        }
        return "";
      }).filter(v => v);
    },
    sendMessage(result) {
      var href = result.message_href;
      var m = this.messagesOpen[href];
      if (!this.messagesOpen[href]) {
        this.messagesOpen[href] = {message: "", options: {}};
        return;
      }
      if (!this.messageFormOk(result)) {
        var [errMessage, errOptions] = this.messageFormErrors(result);
        if (errMessage && errOptions) {
          m.errorMessage = "{{ _("Cal indicar tant en missatge com les opcions") }}";
        } else if (errMessage) {
          m.errorMessage = "{{ _("Cal indicar el missatge") }}";
        } else if (errOptions) {
          m.errorMessage = "{{ _("Cal indicar les opcions") }}";
        }
        return;
      }
      this.messagesOpen[href].loading = true;
      post(
        href,
        "{{ csrf_token }}",
        { message: m.message, options: this.extractSelectedOptions(m.options) },
      ).then(response => {
        if (!response.ok) {
          throw "Bad response";
        }
        m.result = true;
        m.loading = false;
      }).catch(err => {
        m.error = true;
        m.loading = false;
      });
    },
    toggleMessageOption(key, option) {
      this.messagesOpen[key].options[option] = !this.messagesOpen[key].options[option];
    },
    closeMessage(key) {
      delete this.messagesOpen[key];
    },
    messageFormOk(result) {
      var [errMessage, errOptions] = this.messageFormErrors(result);
      return !errMessage && !errOptions;
    },
    messageFormErrors(result) {
      var values = this.messagesOpen[result.message_href];
      if (!values) {
        return [false, false];
      }
      if (result.options.length === 0) {
          return [!values.message, false];
      }
      var selectedOptions = Object.keys(values.options).map(k => values.options[k]).filter(v => v);
      return [!values.message, this.extractSelectedOptions(values.options).length === 0];
    },
{% endmacro %}

