{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, textarea_value, input_feedback, form_feedback, render_select, render_multi_checkboxes, render_formset_field, render_formset_select, render_formset_delete_vue, leaflet_css, leaflet_js, vue_js %}

{% block css %}{{ leaflet_css() }}{% endblock %}

{% if edit %}
{% set title = _("Edita l'anunci") %}
{% else %}
{% set title = _("Afegeix un anunci") %}
{% endif %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
<h1>{{ title }}</h1>

<form method="post" id="vue-app" class="mb-2">
  {{ csrf_input }}
  {{ form_feedback(form) }}

  <div class="mb-3">
    <label for="id_title"><strong>{{ _("Títol de l'anunci") }}</strong></label>
    <input type="text" {{ input_classes(form, "title") }} name="title" autocomplete="Nom" id="id_title" {{ input_value(form, "title") }} required>
    {{ input_feedback(form, "title") }}
  </div>

  <p class="mb-0"><strong>{{ _("Escolleix el tipus d'anunci") }}</strong></p>
  <div class="form-check mb-3">
    <input type="hidden" name="resource" value="ALLIANCES">
    <input class="form-check-input {% if form.errors["option"] %}is-invalid{% endif %}" type="radio" name="option" id="option-1" value="VOLUNTEERING" v-model="option">
    <label class="form-check-label" for="option-1">
      {{ consts.NEEDS_PUBLISHABLE_OPTIONS_LABELS_MAP[("ALLIANCES", "VOLUNTEERING")] }}
    </label>
    {{ input_feedback(form, "option") }}
  </div>

  <div class="mb-3">
    <label for="id_description">
      <strong>{{ _("Descripció de l'anunci") }}</strong>
      <template v-if="option">. ${ descriptions["ALLIANCES"][option] }</template>
    </label>
    <textarea type="text" {{ input_classes(form, "description") }} name="description" autocomplete="Nom" id="id_description" required>{{ textarea_value(form, "description") }}</textarea>
    {{ input_feedback(form, "description") }}
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" name="public" id="public"
         {% if form and form.cleaned_data and form.cleaned_data["public"] %}checked{% endif %}>
    <label class="form-check-label" for="public">
      <strong>{{ _("Publica l'anunci") }}</strong>
      {{ _("El podrà veure qualsevol persona encara que no estiga registrada") }}
    </label>
  </div>

  <button type="submit" class="btn btn-custom mt-2">
    {% if edit %}{{ _("Desa") }}{% else %}{{ _("Afegeix") }}{% endif %}
  </button>
</form>
</div>
{% endblock %}

{% block js %}
{{ vue_js() }}
<script>
var jsonData = getJsonData();
Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      option: "{% if form and form.cleaned_data %}{{ form.cleaned_data["option"] }}{% endif %}",
      descriptions: jsonData.descriptions,
    };
  },
}).mount("#vue-app");
</script>
{% endblock %}
