{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, textarea_value, input_feedback, form_feedback, render_select, render_multi_checkboxes, render_formset_field, render_formset_select, render_formset_delete_vue, leaflet_css, leaflet_js, vue_js %}

{% block css %}{{ leaflet_css() }}{% endblock %}

{% block title %}
{% if edit %}
Edita l'entitat
{% else %}
Crea una entitat
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
{% if edit %}
<h1>Edita la informació de l'entitat</h1>
{% else %}
<div class="alert alert-primary mt-2" role="alert">
  Sembla que encara no heu donat d'alta cap entitat. Per favor, empleneu les dades de sota per crear-la. Podràs modificar i afegir més informació després.
</div>
{% endif %}

{% if form.errors %}
<div class="alert alert-warning mt-2" role="alert">
  Hi ha errors en el formulari. Per favor, corregeix-los i torna a enviar-lo.
</div>
{% endif %}
<form method="post" enctype="multipart/form-data" class="mb-2">
    {{ csrf_input }}
    {{ form_feedback(form) }}

    <div class="py-3">
      <label for="id_name"><strong>Nom de l'entitat</strong></label>
      <input type="text" {{ input_classes(form, "name") }} name="name" autocomplete="Nom" id="id_name" {{ input_value(form, "name") }} required>
      {{ input_feedback(form, "name") }}
    </div>

    {# here because if not vuejs does not render it before it calls document.getElementById... #}
    {{ social_media_forms.management_form }}
    <div id="vuejs">
      <div v-if="hasLogo" class="row py-3">
        <div class="col-6">
          {% if org and org.logo %}
            <img class="organization-logo" src="{{ org.logo.url }}" />
          {% endif %}
        </div>
        <div class="col-6">
          <button class="btn btn-custom" @click.prevent="deleteLogo" :disabled="loading">
            <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Esborrant...</span>
            </div>
            <span v-else>Esborra la imatge</span>
          </button>
        </div>
      </div>
      <div v-else class="py-3">
        <label for="id_logo"><strong>Logo o imatge de l'entitat</strong> (opcional)</label>
        <input type="file" {{ input_classes(form, "logo") }} name="logo" autocomplete="Logo" id="id_logo" {{ input_value(form, "logo") }}>
        {{ input_feedback(form, "logo") }}
      </div>

      <div class="py-3">
        <label for="id_description"><strong>Descripció de l'activitat de l'entitat</strong> (opcional)</label>
        <textarea type="text" {{ input_classes(form, "description") }} name="description" autocomplete="Nom" id="id_description">{{ textarea_value(form, "description") }}</textarea>
        {{ input_feedback(form, "description") }}
      </div>

      <div class="py-3">
        <p class="mb-1"><strong>Xarxes socials i contacte</strong></p>
        {% for i, mform in enumerate(social_media_forms) %}
          {{ form_feedback(mform) }}
          <div
            class="row mb-2 social-media-wrapper {% if not mform.media_type.value() and not mform.value.value() %}d-none{% endif %}"
            id="social-media-wrapper-{{ i }}"
          >
            <div class="col-4">
              {{ render_formset_select(mform, mform.media_type, "media_type", "", handler='@change="setMediaType($event)"') }}
            </div>
            <div class="col-4">
              {{ render_formset_field(mform, mform.value, "value", "text", "", placeholder=media_type_placeholder(mform.media_type.value())) }}
            </div>
            <div class="col-4">
              {{ render_formset_delete_vue(mform.DELETE, "deleteSocialMedia(" + str(i) + ")") }}
              {{ mform.id }}
              {{ mform.organization }}
            </div>
          </div>
        {% endfor %}
        <div>
          <a v-if="socialMediasAddIndex < totalSocialMedias" @click.prevent="addSocialMedia" class="btn btn-custom" href="#">
            <i class="bi-plus-lg"></i> Afegeix xarxa social
          </a>
        </div>
      </div>
    </div>

    <div class="py-3">
      {{ render_select(form, "org_type", "Forma jurídica", strong_label=True) }}
    </div>

    <div class="py-3">
      {{ render_multi_checkboxes(form, "scopes", "Àmbits") }}
    </div>

    <div class="py-3">
      <label for="id_name"><strong>Ubicació</strong>. Indica en el mapa la posició aproximada de l'entitat, o escriu-ne l'adreça aproximada:</label>
      <input type="text" {{ input_classes(form, "address") }} name="address" autocomplete="Adreça" id="id_address" {{ input_value(form, "address") }} placeholder="Nom del carrer, número, codi postal, població, país">
    </div>

    {% if form.errors.lat or form.errors.lng or form.errors.address %}
    <div class="invalid-feedback d-block">
      <ul><li>És necessari indicar la posició o l'adreça de l'entitat</li></ul>
    </div>
    {% endif %}
    <div id="citymap" style="height: 300px;"></div>

    <input type="hidden" id="lat" name="lat" {{ input_value(form, "lat") }}>
    <input type="hidden" id="lng" name="lng" {{ input_value(form, "lng") }}>

    <button type="submit" class="btn btn-custom mt-2">
      {% if edit %}
      Desa
      {% else %}
      Crea l'entitat
      {% endif %}
    </button>
</form>
</div>
{% endblock %}

{% block js %}
{{ leaflet_js() }}
{{ vue_js() }}
{{ json_script(consts.SOCIAL_MEDIA_TYPES_PLACEHOLDERS , "media-types-placeholders-data") }}
<script>
var mediaTypesPlaceholdersMap = JSON.parse(document.getElementById('media-types-placeholders-data').textContent);
var map = L.map('citymap').setView([39.98606316571185, -0.03754693138659535], 15);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var marker;
map.on('click', function(e) {
    if (marker) { marker.remove(); }
    marker = L.marker(e.latlng).addTo(map);
    document.getElementById("lat").value = ("" + e.latlng.lat).slice(0, 10);
    document.getElementById("lng").value = ("" + e.latlng.lng).slice(0, 10);
});

{% if form.cleaned_data and form.cleaned_data["lat"] and form.cleaned_data["lng"] %}
marker = L.marker([{{ form.cleaned_data["lat"] }}, {{ form.cleaned_data["lng"] }}]).addTo(map);
{% endif %}

var addressInput = document.getElementById("id_address");
addressInput.addEventListener("change", function() {
    if (marker) { marker.remove(); }
    document.getElementById("lat").value = "";
    document.getElementById("lng").value = "";
})

function addSocialMedia(event) {
    var className = "social-media-wrapper";
    var elements = document.getElementsByClassName(className);
    for (let i = 0; i < elements.length; i++) {
        var element = document.getElementById(className + "-" + i);
        if (element.style.display == "none") {
            element.style.display = "flex";
            if (i === elements.length - 1) {
                event.target.style.display = "none";
            }
            return;
        }
    }
}

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      hasLogo: {{ js_bool(org and org.logo) }},
      loading: false,
      socialMediasAddIndex: +document.getElementById("id_social_media-INITIAL_FORMS").value,
      totalSocialMedias: +document.getElementById("id_social_media-TOTAL_FORMS").value,
      mediaTypesPlaceholdersMap: mediaTypesPlaceholdersMap,
    };
  },
  methods: {
    deleteLogo() {
      this.loading = true;
      post(
        {% if org %}"{{ url('delete_organization_logo', kwargs={'organization_id': org.id}) }}"{% else %}""{% endif %},
        "{{ csrf_token }}",
        {},
      ).then(response => {
        console.log("RESPONSE:", response);
        this.hasLogo = false;
        this.loading = false;
      });
    },
    addSocialMedia() {
      var el = document.getElementById(`social-media-wrapper-${this.socialMediasAddIndex}`);
      el.classList.remove("d-none");
      this.socialMediasAddIndex++;
    },
    deleteSocialMedia(i) {
      document.getElementById(`id_social_media-${i}-DELETE`).value = "on";
      document.getElementById(`social-media-wrapper-${i}`).classList.add("d-none");
    },
    mediaTypePlaceholder(mediaType) {
      var p = this.mediaTypesPlaceholdersMap[mediaType];
      return p || "";
    },
    setMediaType(e) {
      document.getElementById(e.target.id.replace("media_type", "value")).placeholder = this.mediaTypePlaceholder(e.target.value);
    },
  },
}).mount("#vuejs");
</script>
{% endblock %}
