{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, textarea_value, input_feedback, form_feedback, render_select, render_multi_checkboxes, render_formset_field, render_formset_select, render_formset_delete %}

{% block content %}
<div class="container">
{% if edit %}
<h1>Edita la informació de l'entitat</h1>
{% else %}
<div class="alert alert-primary mt-2" role="alert">
  Sembla que encara no heu donat d'alta cap entitat. Per favor, empleneu les dades de sota per crear-la. Podràs modificar i afegir més informació després.
</div>
{% endif %}

<form method="post" action="{{ request.path }}" enctype="multipart/form-data" class="mb-2">
    {{ csrf_input }}
    {{ form_feedback(form) }}

    <label for="id_name">Nom de l'entitat</label>
    <input type="text" {{ input_classes(form, "name") }} name="name" autocomplete="Nom" id="id_name" {{ input_value(form, "name") }} required>
    {{ input_feedback(form, "name") }}

    <div id="vuejs">
      <div v-if="hasLogo" class="row mt-3">
        <div class="col-6">
          {% if org and org.logo %}
            <img class="organization-logo" src="{{ org.logo.url }}" />
          {% endif %}
        </div>
        <div class="col-6">
          <button class="btn btn-custom" @click.prevent="deleteLogo" :disabled="loading">
            <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Esborrant...</span>
            </div>
            <span v-else>Esborra el logo</span>
          </button>
        </div>
      </div>
      <div v-else class="mt-3">
        <label for="id_logo">Logo de l'entitat (opcional)</label>
        <input type="file" {{ input_classes(form, "logo") }} name="logo" autocomplete="Logo" id="id_logo" {{ input_value(form, "logo") }}>
        {{ input_feedback(form, "logo") }}
      </div>
    </div>

    <label class="mt-3" for="id_description">Descripció de l'activitat de l'entitat (opcional)</label>
    <textarea type="text" {{ input_classes(form, "description") }} name="description" autocomplete="Nom" id="id_description">{{ textarea_value(form, "description") }}</textarea>
    {{ input_feedback(form, "description") }}

    <p class="mt-3 mb-1">
      Xarxes. Per a les xarxes socials, introdueix el nom d'usuari
      <a class="btn btn-custom" href="#" onclick="addSocialMedia(event)">
          <i class="bi-plus-lg"></i> Afegeix
      </a>
    </p>
    {{ social_media_forms.management_form }}
    {% for i, mform in enumerate(social_media_forms) %}
      {{ form_feedback(mform) }}
      <div class="row mb-2 social-media-wrapper" id="social-media-wrapper-{{ i }}"
        {% if not mform.media_type.value() and not mform.value.value() %}style="display: none;"{% endif %}
      >
        <div class="col-4">
          {{ render_formset_select(mform, mform.media_type, "media_type", "") }}
        </div>
        <div class="col-4">
          {{ render_formset_field(mform, mform.value, "value", "text", "") }}
        </div>
        <div class="col-4">
          {{ render_formset_delete(mform, mform.DELETE, "DELETE") }}
          {{ mform.id }}
          {{ mform.organization }}
        </div>
      </div>
    {% endfor %}

    <div class="mt-3"></div>
    {{ render_select(form, "org_type", "Forma jurídica") }}

    <div class="mt-3"></div>
    {{ render_multi_checkboxes(form, "scopes", "Àmbits") }}

    <div class="mt-3"></div>
    <label for="id_name">Indica en el mapa la posició aproximada de l'entitat, o escriu-ne l'adreça aproximada (carrer, codi postal, ciutat):</label>
    <input type="text" {{ input_classes(form, "address") }} name="address" autocomplete="Adreça" id="id_address" {{ input_value(form, "address") }}>
    <div class="spacing"></div>

    {% if form.errors.lat or form.errors.lng or form.errors.address %}
    <div class="invalid-feedback" style="display: block;">
      <ul><li>És necessari indicar la posició o l'adreça de l'entitat</li></ul>
    </div>
    {% endif %}
    <div id="citymap" style="height: 300px;"></div>

    <input type="hidden" id="lat" name="lat" {{ input_value(form, "lat") }}>
    <input type="hidden" id="lng" name="lng" {{ input_value(form, "lng") }}>

    <button type="submit" class="btn btn-custom mt-2">
      {% if edit %}
      Desa
      {% else %}
      Crea l'entitat
      {% endif %}
    </button>
</form>
</div>
{% endblock %}

{% block js %}
<script>
var map = L.map('citymap').setView([39.98606316571185, -0.03754693138659535], 15);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var marker;
map.on('click', function(e) {
    if (marker) { marker.remove(); }
    marker = L.marker(e.latlng).addTo(map);
    document.getElementById("lat").value = ("" + e.latlng.lat).slice(0, 10);
    document.getElementById("lng").value = ("" + e.latlng.lng).slice(0, 10);
});

{% if form.cleaned_data and form.cleaned_data["lat"] and form.cleaned_data["lng"] %}
marker = L.marker([{{ form.cleaned_data["lat"] }}, {{ form.cleaned_data["lng"] }}]).addTo(map);
{% endif %}

var addressInput = document.getElementById("id_address");
addressInput.addEventListener("change", function() {
    if (marker) { marker.remove(); }
    document.getElementById("lat").value = "";
    document.getElementById("lng").value = "";
})

function addSocialMedia(event) {
    var className = "social-media-wrapper";
    var elements = document.getElementsByClassName(className);
    for (let i = 0; i < elements.length; i++) {
        var element = document.getElementById(className + "-" + i);
        if (element.style.display == "none") {
            element.style.display = "flex";
            if (i === elements.length - 1) {
                event.target.style.display = "none";
            }
            return;
        }
    }
}

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      hasLogo: {{ js_bool(org and org.logo) }},
      loading: false,
    };
  },
  methods: {
    deleteLogo() {
      this.loading = true;
      post(
        "{{ url('delete_organization_logo', kwargs={'organization_id': org.id}) }}",
        "{{ csrf_token }}",
        {},
      ).then(response => {
        console.log("RESPONSE:", response);
        this.hasLogo = false;
        this.loading = false;
      });
    },
  },
}).mount("#vuejs");
</script>
{% endblock %}
