{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import organization_link, info_tooltip, vue_js, sidebar_filter_show_link %}

{% block title %}{{ _("Peticions") }}{% endblock %}

{% block content %}
{% if len(agreements.sent) > 0 or len(agreements.received) > 0 %}
<div class="container-fluid">
  <div id="app" class="row">
    <div class="col-md-4 d-md-block bg-light sidebar">
      <h1>{{ _("Peticions enviades i rebudes") }}</h1>
      {{ sidebar_filter_show_link() }}
      <div class="collapse show" id="sidebar-filter">
        <div class="btn-group w-100 mb-2" role="group" aria-label="{{ _("Selecciona si mostrar els resultats agrupats per recurs o per organització") }}">
          <button
            type="button"
            class="btn"
            @click="setShowBy('resources')"
            :class="{'btn-warning': showBy === 'resources', 'btn-light': showBy !== 'resources'}">
            {{ _("Recursos") }}
          </button>
          <button
            type="button"
            class="btn"
            @click="setShowBy('organizations')"
            :class="{'btn-warning': showBy === 'organizations', 'btn-light': showBy !== 'organizations'}">
            {{ _("Organitzacions") }}
          </button>
        </div>
        <input v-model="search" type="text" class="form-control" placeholder="{{ _("Cerca recursos o organitzacions") }}">
        <ul class="nav nav-pills flex-column mb-auto mt-2">
          <template v-if="showBy === 'resources'">
            <h2 class="resource-matches-title background-yellow">{{ _("Enviades") }}</h2>
            {{ request_filter_row_vue("sent", _("Peticions enviades")) }}
            <h2 class="resource-matches-title background-yellow-dark">{{ _("Rebudes") }}</h2>
            {{ request_filter_row_vue("received", _("Peticions rebudes")) }}
          </template>
          <template v-else>
            <li class="nav-item" v-for="x in organizationsWithRequests" :key="x.organization.id">
              <button
                @click="selectOrganization(x.organization)"
                class="nav-link w-100 text-start"
                :class="{active: organizationSelected && organizationSelected.id === x.organization.id}"
                type="button"
                role="tab"
                aria-selected="false"
                aria-current="page">
                <span class="float-end">
                  <span
                    class="badge ms-2 bg-light"
                    title="{{ _("Peticions") }}">
                    ${ x.agreements.length }
                  </span>
                </span>
                <span v-html="highlightSearch(x.organization.name, search)"></span>
              </button>
            </li>
          </template>
        </ul>
      </div>
    </div>

    <div class="col-md-8 ms-sm-auto px-md-4">
      <div v-if="initialLoading" class="mt-4 text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">{{ _("Carregant...") }}</span>
        </div>
      </div>
      <template v-else>
        <div v-if="resourceSelected" class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">${ resourceNamesMap[resourceSelected] }</h2>
            <div v-if="requestTypeSelected === 'sent'">
              <div class="matches-count agreements-count"><span>${ agreements.sent[resourceSelected].length } {{ _("peticions enviades") }}</span></div>
              {{ show_agreements_vue("agreements.sent[resourceSelected]") }}
            </div>
            <div v-else>
              <div class="matches-count agreements-count"><span>${ agreements.received[resourceSelected].length } {{ _("peticions rebudes") }}</span></div>
              {{ show_agreements_vue("agreements.received[resourceSelected]") }}
            </div>
          </div>
        </div>
        <div v-else-if="organizationSelected" class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">${ organizationSelected.name }</h2>
            <div class="matches-count agreements-count"><span>${ organizationRequests.length } {{ _("peticions") }}</span></div>
            {{ show_agreements_vue("organizationRequests") }}
          </div>
        </div>
        <div v-else class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">{{ _("Totes les peticions") }}</h2>
            <div class="matches-count agreements-count"><span>${ concatenatedAgreements.length } {{ _("peticions enviades o rebudes") }}</span></div>
            {{ show_agreements_vue("concatenatedAgreements") }}
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
{% else %}
<div class="container text-center pt-4">
  <h1>{{ _("Encara no heu enviat ni rebut peticions") }}</h1>
  <p>{{ _("En podeu enviar des de la pàgina de «Has lligat?» o des de la pàgina de «Descobreix».") }}</p>
</div>
{% endif %}
{% endblock %}

{% macro request_filter_row_vue(request_type, title) %}
<li v-for="resource in requestedResources.{{ request_type }}" :key="resource" class="nav-item">
  <button
    @click="selectResource(resource, '{{ request_type }}')"
    class="nav-link w-100 text-start"
    :class="{active: resourceSelected === resource && requestTypeSelected === '{{ request_type }}'}"
    type="button"
    role="tab"
    aria-selected="false"
    aria-current="page">
    <span
      v-if="resource in agreements.{{ request_type }}"
      class="float-end badge ms-2 bg-light"
      title="{{ title }}">
      ${ agreements.{{ request_type }}[resource].length }
    </span>
    ${ resourceNamesMap[resource] }
  </button>
</li>
{% endmacro %}

{% macro show_agreements_vue(agreements) %}
<div v-for="result in {{ agreements }}" :key="result" class="row match-box">
  <h3 v-if="agreementSent(result)" class="mt-2">
    <span class="me-2">{{ _("Petició de") }}</span>
    <span class="me-2" v-html="highlightSearch(resourceNamesMap[result.resource], search)"></span>
    <span class="me-2 background-yellow">{{ _("enviada a") }}</span>
    <a :href="result.solicitee.href" v-html="highlightSearch(result.solicitee.name, search)"></a>
  </h3>
  <h3 v-else class="mt-2">
    <span class="me-2">{{ _("Petició de") }}</span>
    <span class="me-2" v-html="highlightSearch(resourceNamesMap[result.resource], search)"></span>
    <span class="me-2 background-yellow-dark">{{ _("rebuda de") }}</span>
    <a :href="result.solicitor.href" v-html="highlightSearch(result.solicitor.name, search)"></a>
  </h3>
  <div class="mb-2">
    {# no offer details (like charge or accessible) because agreement is not
    tied to a particular offer (which has that information), but has just a
    copy of the resource and options selected when the message was sent #}
    <span class="badge bg-light me-2" v-for="option in result.options" :key="option" v-html="highlightSearch(optionNamesMap[option], search)"></span>
    <p v-if="agreementSent(result)">{{ _("Missatge que vau enviar el") }} ${ formatDateTime(result.date) }:</p>
    <p v-else>{{ _("Missatge que va enviar") }} ${ result.solicitor.name } {{ _("el") }} ${ formatDateTime(result.date) }:</p>
    <pre class="quoted-message">${ result.message }</pre>

    <div v-if="result.communication_accepted === null && communicationsResolved[result.id] === undefined">
      <i class="bi-hourglass-split text-muted fs-4"></i>
      <span v-if="agreementSent(result)">${ result.solicitee.name } {{ _("encara no ha acceptat ni declinat la conversa per correu.") }}</span>
      <span v-else>{{ _("Encara no heu acceptat ni declinat la conversa per correu.") }}</span>
      <div v-if="!agreementSent(result)">
        <div v-if="!agreementsLoading[result.id]">
          <button @click="updateAgreement(result, 'connect', 'yes')" class="btn btn-sm btn-success me-2">
            {{ _("Inicia la conversa per correu") }}
          </button>
          <button @click="updateAgreement(result, 'connect', 'no')" class="btn btn-sm btn-danger me-2">
            {{ _("Declina la conversa per correu") }}
          </button>
          {{ info_tooltip(_("Per favor, indiqueu si accepteu iniciar una conversa per correu. En cas que si, s'iniciarà una cadena de correus electrònics entre les dues parts en la qual podreu parlar de la possible col·laboració. Iniciar la conversa per correu no us obliga a arribar a cap acord.")) }}
        </div>
        <div v-else>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">{{ _("Actualitzant...") }}</span>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="result.communication_accepted === false || communicationsResolved[result.id] === false">
      <i class="bi-x-lg text-danger fs-4"></i>
      <span v-if="agreementSent(result)">${ result.solicitee.name } {{ _("va declinar la conversa per correu") }}</span>
      <span v-else>{{ _("Vau declinar la conversa per correu") }}</span>
      <span v-if="result.communication_date" class="ms-2">(${ formatDateTime(result.communication_date) })</span>
    </div>
    <div v-else-if="result.communication_accepted === true || communicationsResolved[result.id] === true">
      <i class="bi-check2 text-success fs-4"></i>
      <span v-if="agreementSent(result)">${ result.solicitee.name } {{ _("va iniciar la conversa per correu") }}</span>
      <span v-else>{{ _("Vau iniciar la conversa per correu") }}</span>
      <span v-if="result.communication_date" class="ms-2">(${ formatDateTime(result.communication_date) })</span>
      <div v-if="result.agreement_successful === null && agreementsResolved[result.id] === undefined">
        <div v-if="!agreementsLoading[result.id]">
          <button @click="updateAgreement(result, 'successful', 'yes')" class="btn btn-sm btn-success me-2">
            {{ _("S'ha arribat a un acord") }}
          </button>
          <button @click="updateAgreement(result, 'successful', 'no')" class="btn btn-sm btn-danger me-2">
            {{ _("No s'ha arribat a un acord") }}
          </button>
          {{ info_tooltip(_("Per favor, indiqueu si finalment s'ha arribat a un acord de col·laboració. Aquesta informació es farà servir només a nivell estadístic")) }}
        </div>
        <div v-else>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">{{ _("Actualitzant...") }}</span>
          </div>
        </div>
      </div>
      <div v-else-if="result.agreement_successful === false || agreementsResolved[result.id] === false">
        <i class="bi-x-lg text-danger fs-4"></i>
        {{ _("No es va arribar a un acord") }} <span v-if="result.successful_date">(${ formatDateTime(result.successful_date) })</span>
      </div>
      <div v-else-if="result.agreement_successful === true || agreementsResolved[result.id] === true">
        <i class="bi-check2 text-success fs-4"></i>
        {{ _("Es va arribar a un acord") }} <span v-if="result.successful_date">(${ formatDateTime(result.successful_date) })</span>
      </div>
    </div>

  </div>
</div>
{% endmacro %}

{% block js %}
{{ vue_js() }}
{{ json_script(agreements_json, "agreements-data") }}
{{ json_script(concatenated_agreements_json, "concatenated-agreements-data") }}
{{ json_script(organizations_json, "organizations-data") }}
{{ json_script(requested_resources_json, "requested-resources-data") }}
{{ json_script(consts.RESOURCE_NAMES_MAP, "resource-names-data") }}
{{ json_script(consts.RESOURCE_OPTIONS_DEF_MAP, "option-names-data") }}
<script>
var agreements = JSON.parse(document.getElementById('agreements-data').textContent);
var concatenatedAgreements = JSON.parse(document.getElementById('concatenated-agreements-data').textContent);
var organizations = JSON.parse(document.getElementById('organizations-data').textContent);
var requestedResources = JSON.parse(document.getElementById('requested-resources-data').textContent);
var resourceNamesMap = JSON.parse(document.getElementById('resource-names-data').textContent);
var optionNamesMap = JSON.parse(document.getElementById('option-names-data').textContent);

function agreementContains(search) {
  return function(m) {
    const parts = sanitize(search).split(" ").filter(x => x !== "");
    const targets = [
      sanitize(m.solicitor.name),
      sanitize(m.solicitee.name),
      sanitize(m.message),
      sanitize(resourceNamesMap[m.resource]),
    ];
    for (var option of m.options) {
      targets.push(sanitize(optionNamesMap[option]));
    }
    for (var part of parts) {
      if (!targets.some((target) => contains(target, part))) {
        return false;
      }
    }
    return true;
  };
}

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      organizationID: "{{ org.id }}",
      allAgreements: agreements,
      allConcatenatedAgreements: concatenatedAgreements,
      allOrganizations: organizations,
      resourceNamesMap: resourceNamesMap,
      optionNamesMap: optionNamesMap,
      requestedResources: requestedResources,
      showBy: "resources",
      search: "",
      resourceSelected: "",
      requestTypeSelected: "",
      organizationSelected: null,
      agreementsLoading: {},
      communicationsResolved: {},
      agreementsResolved: {},
    };
  },
  methods: {
    highlightSearch: highlightSearch,
    formatDateTime: formatDateTime,
    setShowBy(x) {
      this.showBy = x;
      this.selectResource("", "");
    },
    selectResource(resource, requestType) {
      this.organizationSelected = null;
      if (this.resourceSelected === resource && this.requestTypeSelected === requestType) {
        this.resourceSelected = "";
        this.requestTypeSelected = "";
      } else {
        this.resourceSelected = resource;
        this.requestTypeSelected = requestType;
      }
    },
    selectOrganization(org) {
      this.resourceSelected = "";
      this.requestTypeSelected = "";
      if (this.organizationSelected === org) {
        this.organizationSelected = "";
      } else {
        this.organizationSelected = org;
      }
    },
    filterAgreements(agreements) {
      var m = {};
      for (var k in agreements) {
        m[k] = agreements[k].filter(agreementContains(this.search));
      }
      return m;
    },
    extractSelectedOptions(optionsMap) {
      return Object.keys(optionsMap).map(k => {
        if (optionsMap[k]) {
          return k;
        }
        return "";
      }).filter(v => v);
    },
    updateAgreement(agreement, field, value) {
      var href = field === "connect" ? agreement.href_connect : agreement.href_successful;
      this.agreementsLoading[agreement.id] = true;
      post(
        href,
        "{{ csrf_token }}",
        { [field]: value },
      ).then(response => {
        if (!response.ok) {
          throw "Bad response";
        }
        if (field === "connect") {
          this.communicationsResolved[agreement.id] = value === "yes";
        } else {
          this.agreementsResolved[agreement.id] = value === "yes";
        }
        this.agreementsLoading[agreement.id] = false;
      }).catch(err => {
        this.agreementsLoading[agreement.id] = false;
      });
    },
    agreementSent(a) {
      return a.solicitor.id === this.organizationID;
    },
  },
  computed: {
    agreements() {
      return {
        sent: this.filterAgreements(this.allAgreements.sent),
        received: this.filterAgreements(this.allAgreements.received),
      };
    },
    concatenatedAgreements() {
      return this.allConcatenatedAgreements.filter(agreementContains(this.search));
    },
    organizationsWithRequests() {
      return this.allOrganizations.map(o => {
        return {
          organization: o.organization,
          agreements: o.agreements.filter(agreementContains(this.search)),
        };
      }).filter(o => o.agreements.length > 0);
    },
    organizationRequests() {
      var org = this.allOrganizations.find(o => o.organization.id === this.organizationSelected.id);
      return org ? org.agreements.filter(agreementContains(this.search)) : [];
    },
  },
}).mount("#app");
</script>
{% endblock %}

