{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import vue_js, initial_loading_vue, arrow_btn %}

{% block title %}{{ _("Petició d'intercanvi") }}{% endblock %}

{% block content %}
<div class="container w-80 m-center">
  {% if a.solicitor == org %}
  {% set title = _("Petició de %(resource)s enviada a %(org)s", resource=resource_name(a.resource), org=a.solicitee_safe().name) %}
  {% else %}
  {% set title = _("Petició de %(resource)s rebuda de %(org)s", resource=resource_name(a.resource), org=a.solicitor_safe().name) %}
  {% endif %}

  <h1 class="fs-2-5rem mt-100px lg:w-50 text-center m-center">
    {{ title }}
  </h1>
  <div class="divider-3 mb-3"></div>
  <div class="mb-60px text-center">
  {% for option in a.sorted_options() %}
    <span class="badge bg-light me-2">{{ option }}</span>
  {% endfor %}
  </div>

  <div id="app">
    <div class="match-box">
      {{ initial_loading_vue() }}
      <template v-else>
        <div v-for="m of messages" class="row">
          <div v-if="m.sent_by === org_id" class="col-9 offset-3 col-lg-6 offset-lg-6 text-end">
            <p class="fs-7 mb-0"><em>{{ _("Missatge enviat el") }} ${ formatDateTime(m.sent_on) }</em></p>
            <div class="bg-lightblue br-1rem p-3 pre-wrap mb-3">${ m.message }</div>
          </div>
          <div v-else class="col-9 col-lg-6">
            <p class="fs-7 mb-0"><em>{{ _("Missatge rebut el") }} ${ formatDateTime(m.sent_on) }</em></p>
            <div class="bg-lightblue br-1rem p-3 pre-wrap mb-3">${ m.message }</div>
          </div>
        </div>
      </template>

      {% if not a.solicitor or not a.solicitee %}
      <div class="bg-lightblue br-1rem p-3 text-center" role="alert">
        {{ _("No es poden enviar més missatges en aquesta conversa perquè l'altra organització ja no existeix") }}
      </div>
      {% elif a.agreement_successful == None %}
      <form method="post" action="{{ url("send_agreement_message", kwargs={'organization_id': org.id, 'agreement_id': a.id}) }}" @submit="send">
        {{ csrf_input }}
        <textarea v-model="message" class="form-control" name="message"></textarea>
        <div class="mt-2">
          {{ arrow_btn(_("Envia"), "bi-send") }}
        </div>
      </form>
      {% endif %}
    </div>

    <div class="px-5 mb-5">
      <div id="confirm-question" class="d-none">{{ _("Segur que vols marcar aquesta opció? L'acció no es pot desfer") }}</div>
      {% if a.agreement_successful == None %}
      <p>{{ _("Heu realitzat l'intercanvi? Indiqueu-ho per donar per acabada la conversa.") }}</p>
      <div class="d-flex justify-content-around">
        <form method="post" action="{{ url("agreement_successful", kwargs={'organization_id': org.id, 'agreement_id': a.id}) }}" onsubmit="return confirm(document.getElementById('confirm-question').textContent)" class="mb-2">
          {{ csrf_input }}
          <input type="hidden" name="successful" value="yes">
          <button type="submit" class="btn btn-thin">
            {{ _("Si, hem realitzat l'intercanvi!") }}
          </button>
        </form>
        <form method="post" action="{{ url("agreement_successful", kwargs={'organization_id': org.id, 'agreement_id': a.id}) }}" onsubmit="return confirm(document.getElementById('confirm-question').textContent)">
          {{ csrf_input }}
          <input type="hidden" name="successful" value="no">
          <button type="submit" class="btn btn-thin">
            {{ _("No hem realitzat l'intercanvi...") }}
          </button>
        </form>
      </div>
      {% else %}
      <div class="bg-lightblue br-1rem text-center p-3">
        {% if a.agreement_successful == True %}
        {{ _("Es va indicar que s'havia realitzat l'intercanvi el %(time)s", time=format_time(a.successful_date)) }}
        {% else %}
        {{ _("Es va indicar que <strong>no</strong> s'havia realitzat l'intercanvi el %(time)s", time=format_time(a.successful_date)) }}
        {% endif %}
        <br />
        {{ _("Ja no es poden enviar més missatges en aquesta conversa. Si voleu realitzar un intercanvi de nou, podeu sol·licitar-ho a través de les pàgines de «Has lligat?» o «Descobreix»") }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ vue_js() }}
<script>
Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    const jsonData = getJsonData();
    return {
      agreement_id: jsonData.agreement_id,
      org_id: jsonData.org_id,
      messages: jsonData.messages,
      message: "",
    };
  },
  mounted() {
    for (let message of this.messages) {
      this.markRead(message);
    }
    try {
      let protocol = "wss";
      if (window.location.protocol === "http:") {
        protocol = "ws";
      }
      let url = `${protocol}://${window.location.host}/ws/organization/${this.org_id}/agreements/${this.agreement_id}/`;
      this.socket = new WebSocket(url);
      this.socket.onmessage = (e) => {
        let message = JSON.parse(e.data);
        this.messages.push(message);
        this.markRead(message);
      };
      this.socket.onclose = (e) => {
        console.error("Chat connection closed");
      };
    } catch(e) {
      this.socket = undefined;
    }
  },
  methods: {
    formatDateTime: formatDateTime,
    send(e) {
      // if socket not working, form is sent normally and page reloaded
      if (this.socket) {
        e.preventDefault();
        this.socket.send(JSON.stringify({ "message": this.message }));
        this.message = "";
      }
    },
    markRead(message) {
      if (!message.read && message.sent_by !== this.org_id) { // received
        let url = `/organization/${this.org_id}/agreements/${this.agreement_id}/messages/${message.id}/mark-read/`;
        post(url, "{{ csrf_token }}", {});
      }
    },
  },
}).mount("#app");
</script>
{% endblock %}
