{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import vue_js, sidebar_filter_show_link, initial_loading_vue %}

{% block title %}{{ _("Anunci") }}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div id="vue-app" class="row">
    <div class="col-md-4 d-md-block bg-light sidebar">
      <a
        href="{{ url("edit_announcement", kwargs={"organization_id": announcement.organization.id, "announcement_id": announcement.id}) }}"
        class="btn btn-warning float-end mt-3">
        {{ _("Edita") }}
      </a>
      <h1>
        {{ _("Anunci") }}
        <em>{{ announcement.title }}</em>
      </h1>
      {{ sidebar_filter_show_link() }}
      <div class="collapse show" id="sidebar-filter">
        <input v-model="search" type="text" class="form-control" placeholder="{{ _("Cerca persones interessades") }}">
      </div>
      <p class="mt-2 mb-0">
        {{ consts.NEEDS_PUBLISHABLE_OPTIONS_LABELS_MAP[(announcement.resource, announcement.option.name)] }}
      </p>
      <p>
        {% if announcement.public %}
        <a href="{{ url("public_announcement", args=[announcement.id]) }}">{{ _("Anunci públic") }}</a>
        {% else %}
        {{ _("Anunci no publicat") }}
        {% endif %}
      </p>
      <p class="pre-wrap">
        {{ announcement.description }}
      </p>
    </div>

    <div class="col-md-8 ms-sm-auto px-md-4">
      {% if len(json_data.contacts) > 0 %}
      {{ initial_loading_vue() }}
      <template v-else>
        <div class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">{{ _("Totes les persones interessades") }}</h2>
            <div class="matches-count agreements-count">
              <span>${ contacts.length } {{ _("persones interessades") }}</span>
            </div>
          </div>
        </div>
        <div v-for="contact in contacts" class="row match-box">
          <h3 class="mt-2">
            {{ _("Missatge rebut de") }}
            <span v-html="highlightSearch(contact.name, search)"></span>
            (<span v-html="highlightSearch(contact.email, search)"></span>)
          </h3>
          <p class="fs-7 fst-italic me-3 text-body-secondary">
            <span v-if="!contact.read" title="{{ _("Missatge pendent de llegir") }}">
              <i class="bi-circle-fill text-danger"></i>
            </span>
            {{ _("Rebut el") }} ${ formatDateTime(contact.received_on) }
          </p>
          <p class="pre-wrap" v-html="highlightSearch(contact.message, search)"></p>
        </div>
      </template>
      {% else %}
      <div class="container text-center pt-4">
        <h1>{{ _("Encara no hi ha persones interessades en aquest anunci") }}</h1>
        <p>{{ _("Qualsevol persona podrà veure aquest anunci i contactar amb vosaltres en cas que el publiqueu") }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ vue_js() }}
<script>
function contactContains(search) {
  return function(c) {
    const parts = sanitize(search).split(" ").filter(x => x !== "");
    const targets = [
      sanitize(c.name),
      sanitize(c.email),
      sanitize(c.message),
    ];
    for (var part of parts) {
      if (!targets.some((target) => contains(target, part))) {
        return false;
      }
    }
    return true;
  };
}

var jsonData = getJsonData();
Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      search: "",
      org_id: jsonData.org_id,
      announcement_id: jsonData.announcement_id,
      allContacts: jsonData.contacts,
    };
  },
  mounted() {
    for (let contact of this.allContacts) {
      if (!contact.read) {
        this.markRead(contact);
      }
    }
  },
  methods: {
    highlightSearch: highlightSearch,
    formatDateTime: formatDateTime,
    markRead(contact) {
      let url = `/organization/${this.org_id}/announcements/${this.announcement_id}/contacts/${contact.id}/mark-read/`;
      post(url, "{{ csrf_token }}", {});
    },
  },
  computed: {
    contacts() {
      return this.allContacts.filter(contactContains(this.search));
    },
  },
}).mount("#vue-app");
</script>
{% endblock %}

