{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import resource_details, organization_info, organization_map_js %}

{% macro resources(name, resource_type, data, missing, description) %}
    <div class="col-lg-6">
        <h2 class="resources-title">
            {{ name }}
        {% if len(missing) > 0 %}
          <span class="float-end">
            <a class="dropdown-toogle btn btn-sm btn-custom btn-custom-sm" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" style="background-color: #f4f4f4; margin-top: -5px;" title="Afegeix">
              <i class="bi-plus-lg"></i> <span class="d-none d-md-inline">Afegeix</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="afegeix{{ resource_type }}">
              {% for resource in missing %}
              <li>
                <a class="dropdown-item" href="{{ url("force-resources-wizard", args=[org.id, resource_type, resource.code]) }}">{{ resource }}</a>
              </li>
              {% endfor %}
            </ul>
          </span>
        {% endif %}
        </h2>
        <div style="padding: 20px; background-color: #f4f4f4;">
        {% for i, resource in enumerate(data) %}
          {% if i != 0 %}
            <hr class="separator-yellow">
          {% endif %}
          <div class="edit-row">
            <span class="edit d-md-none d-block" style="float: right; position: relative; z-index: 1;">
              <a href="{{ url("force-resources-wizard", args=[org.id, resource_type, resource.resource]) }}" title="Edita">
                <i class="bi-pencil-square edit" style="font-size: 1.5rem;"></i>
              </a>
            </span>
            <p style="margin: 10px 0 0 0; position: relative;">
                <i class="{{ resource_icon(resource.resource) }}" style="font-size: 1.5em;"></i>
                <span style="font-weight: bold; font-size: 1.5em; margin-right: 5px;">{{ resource }}</span>
            </p>
            {{ resource_details(resource, resource_type) }}
          </div>
        {% endfor %}
        </div>
    </div>
{% endmacro %}

{% block content %}
<section style="background-color: transparent; background-image: linear-gradient(180deg, #ffce1c 0%, white 100%);">
  <div class="container">
    <div class="row edit-row" style="padding-top: 3.5rem;">
      <div class="col-md-6">
        <span class="edit d-md-none d-block" style="float: right;">
          <a href="{{ url("edit_organization", args=[org.id]) }}" style="color: black;" title="Edita">
            <i class="bi-pencil-square edit" style="font-size: 1.5rem; margin-top: 10px;"></i>
          </a>
        </span>
        <h1 style="font-size: 2.5em; margin: 0;">{{ org.name }}</h1>
      </div>
      <div class="col-md-6">
        {% if org.logo %}
        <div class="mb-2">
          <img src="{{ org.logo.url }}" class="organization-logo" />
        </div>
        {% endif %}
      </div>
    </div>

    {{ organization_info(org) }}
  </div>
</section>

<div class="container mb-4">
  {% if org.needs_not_set() or org.offers_not_set() %}
  <div class="alert alert-primary mt-3" role="alert">
    Pareix que encara no heu completat el procés d'alta. Voleu fer-ho ara?
    <form method="POST" action="{{ url("reset-wizard", args=[org.id]) }}" class="float-end">
        {{ csrf_input }}
        <button class="btn btn-sm btn-custom">Completa l'alta</button>
    </form>
  </div>
  {% endif %}

  <div class="row">
    {{ resources("Què necessiteu?", "needs", sort_resources(needs), org.needs_missing(), ) }}
    {{ resources("Què oferiu?", "offers", sort_resources(offers), org.offers_missing()) }}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
{{ organization_map_js(org) }}
</script>
{% endblock %}
