{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import resource_details, arrow_btn, arrow_btn_dropdown, organization_header %}

{% block title %}{{ _("Entitat") }}{% endblock %}

{% block content %}
<div class="container text-center">
  {{ organization_header(org, link=True) }}

  {% if org.needs_not_set() or org.offers_not_set() %}
  <div class="bg-lightblue br-05rem w-80 m-center text-center py-4 px-2 mb-60px" role="alert">
    <p>
      {{ _("Encara no heu completat el procés d'alta, o hem afegit opcions noves des de que ho vau fer. Voleu completar les dades ara?") }}
    </p>

    <form method="POST" action="{{ url("reset-wizard", args=[org.id]) }}">
      {{ csrf_input }}
      {{ arrow_btn(_("Completa les dades")) }}
    </form>
  </div>
  {% endif %}
</div>

<div class="container container-large mb-4">
  <div class="d-flex flex-column flex-lg-row">
    {{ resources(_("Què necessiteu?"), "needs", sort_resources(needs), org.needs_missing()) }}
    <div class="flex-gap"></div>
    {{ resources(_("Què oferiu?"), "offers", sort_resources(offers), org.offers_missing()) }}
  </div>
</div>
{% endblock %}

{% macro resources(name, resource_type, data, missing, description) %}
<div class="w-100">
  <h2 class="fs-2-5rem text-center border br-tl-05rem br-tr-05rem py-2">
    {{ name }}
  </h2>

  {% if len(missing) > 0 %}
  <div class="text-center mt-4 mb-4">
    {{ arrow_btn_dropdown(_("Afegeix-ne més"), "bi-chevron-double-right") }}
    <ul class="dropdown-menu">
      {% for resource in missing %}
      <li>
        <a class="dropdown-item" href="{{ url("force-resources-wizard", args=[org.id, resource_type, resource.code]) }}">
          {{ resource }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% for resource in data %}
  <div class="bg-lightgrey br-05rem mb-4 p-3">
    <div class="edit-row">
      <span class="edit d-md-none d-block float-end position-relative">
        <a href="{{ url("force-resources-wizard", args=[org.id, resource_type, resource.resource]) }}" title="{{ _("Edita") }}">
          <i class="bi-pencil-square edit fs-1-5rem"></i>
        </a>
      </span>
      <p class="mt-2 fs-1-5rem">
        <i class="{{ resource_icon(resource.resource) }}"></i>
        <span class="fw-bold me-1">{{ resource }}</span>
      </p>
    </div>
    {{ resource_details(resource, resource_type) }}
  </div>
  {% endfor %}
</div>
{% endmacro %}


