{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, textarea_value, input_feedback, form_feedback, page_title, arrow_btn %}

{% block title %}{{ _("Contacte") }}{% endblock %}

{% block content %}
<div class="container">
  {{ page_title(_("Contacta amb nosaltres")) }}

{% if form_sent %}
<div class="bg-lightblue br-1rem p-3 mt-2" role="alert">
  {{ _("Gràcies per enviar el missatge! Et respondrem tan aviat com puguem.") }}
</div>
{% else %}
<p>{{ _("Si tens qualsevol pregunta o suggerència, no dubtes a contactar amb nosaltres, envia'ns un missatge!") }}</p>

<form method="POST" class="mb-4">
    {{ csrf_input }}
    {{ form_feedback(form) }}

    <label for="id_email">{{ _("El teu correu electrònic. El farem servir per respondre't") }}</label>
    <input type="email" {{ input_classes(form, "email") }} name="email" autocomplete="{{ _("Nom") }}" id="id_email" {{ input_value(form, "email") }} required>
    {{ input_feedback(form, "email") }}

    <label for="id_content" class="mt-2">{{ _("Missatge") }}</label>
    <textarea id="content" name="content" rows="8" {{ input_classes(form, "content") }} required>{{ textarea_value(form, "content") }}</textarea>
    {{ input_feedback(form, "content") }}

    <div class="mt-2"></div>
    {{ form.captcha }}

    <div class="mt-3">
      {{ arrow_btn(_("Envia"), "bi-send") }}
    </div>
</form>

{% endif %}
</div>
{% endblock %}
