{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import vue_js, arrow_btn_link %}

{% block title %}{{ _("Portada") }}{% endblock %}

{% block content %}
<!-- desktop initial block -->
<div class="container d-none d-md-block">
  <div class="row d-flex flex-md-row-reverse welcome-block">
    <div class="offset-md-5 col-md-7">
      <div class="h-120-px"></div>
      <em class="fs-6">{{ _("Fer lliga: unir-se, fer causa comuna, acordar, amistar-se, anar a l’una, fer pinya…") }}</em>
      <h1 class="app-title">Fem lliga!</h1>
      {{ initial_block_text() }}
    </div>
  </div>
</div>

<!-- mobile initial block -->
<div class="container d-block d-md-none">
  <div class="bg-lightgrey">
    <img src="{{ static("home-images/gent-portada-mobile.png") }}" class="max-w-100" alt="Persones diverses" loading="lazy">
    <div class="p-2">
      <em>{{ _("Fer lliga: unir-se, fer causa comuna, acordar, amistar-se, anar a l’una, fer pinya…") }}</em>
      <h1 class="app-title app-title-mobile">Fem lliga!</h1>
      {{ initial_block_text() }}
    </div>
  </div>
</div>

<div class="container p-0 bottom-left-triangle-decoration mt-100-px">
  <div class="inner-container top-right-triangle-decoration">
    <h2 class="fw-black fs-2-5-rem text-uppercase text-center mb-0 pt-70-px">
      {{ _("Guia metodològica") }}
    </h2>
    <div class="divider-3"></div>
    <div class="row mt-60-px">
      <div class="col-12 col-sm-7">
        <p class="fs-5">
        {{ _("A partir de l’experiència acumulada, hem elaborat esta guia metodològica que té com a objectiu recollir una sèrie de recomanacions útils per a enfortir els vincles d’un veïnat a través de l’enxarxament de les entitats presents en un territori concret. Al llarg del document es fa èmfasi en les possibilitats que ofereix la utilització de la plataforma Fem Lliga!, una ferramenta de suport als processos de dinamització comunitària.") }}
        </p>
        <div class="mt-4">
          {{ arrow_btn_link(_("Descarrega"), static("guia-metodologica-femlliga.pdf"), "bi-download", download=True, xl=True) }}
        </div>
      </div>

      <div class="col-12 offset-sm-1 col-sm-4 p-0">
        <div class="text-end">
          <img
              src="{{ static("home-images/portada-guia-metodologica.png") }}"
              class="max-w-100"
              >
        </div>
      </div>
    </div>
  </div>
</div>

{# TODO removed until deciding where does it go
<div class="container">
  <h2 class="fw-black fs-2-5-rem text-uppercase text-center mb-0">{{ _("Segell Fem lliga!") }}</h2>
  <div class="divider-3"></div>
  <div class="row mt-60-px">
    <div class="col-12 col-sm-6">
      <p>{{ _("Inscriviu-vos en la plataforma, i aconseguiu el «segell Fem Lliga» per a la vostra web!") }}</p>
    </div>

    <div class="col-12 col-sm-6">
      <img src="{{ static("segell-fem-lliga.png") }}" class="max-w-100 max-h-200-px">
    </div>
  </div>
</div>

<div class="container text-center">
  <iframe class="max-w-100" width="560" height="315" src="https://www.youtube.com/embed/XlhE8N3b1qM?si=qHpuJC7mieJy2ZA6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
#}

<div class="container p-0 bottom-left-triangle-crosses-decoration mt-100-px">
  <div class="inner-container pb-10-rem top-right-triangle-decoration">
    <h2 class="fw-black fs-2-5-rem text-uppercase text-center mb-0 pt-70-px">
      {{ _("Vols saber si podries fer lliga?") }}
    </h2>
    <div class="divider-3"></div>
    <p class="text-center mt-60-px fs-5">
    {{ _("Selecciona el tipus de recurs que t'interessa i podràs veure amb quantes entitats el podries intercanviar.") }}
    </p>
    <div id="vueapp">
      <div class="multi-select">
        <span
            v-for="(resourceName, resource) in resourceNamesMap"
            :key="resource"
            >
            <button
                v-if="resource !== 'OTHER'"
                class="btn multi-select-choice"
                :class="{selected: resourceSelected === resource}"
                type="button"
                role="switch"
                @click="selectResource(resource);"
                >
                ${ resourceName }
            </button>
        </span>
      </div>
      <div v-if="resourceSelected !== ''">
        <p class="text-center mt-3 fs-5">${ resourceOptionsQuestionMap[resourceSelected] }</p>
        <div class="multi-select">
          <button
              v-for="[option, optionName] of resourceOptionsMap[resourceSelected]"
              :key="option"
              class="btn multi-select-choice"
              :class="{selected: optionSelected === option}"
              type="button"
              role="switch"
              @click="selectOption(option);"
              >
              ${ optionName }
          </button>
        </div>
      </div>
      <div v-if="resourceSelected !== '' && optionSelected !== '' && !matches" class="text-center mb-3">
        <button class="btn btn-arrow btn-lg" @click="checkMatches" :disabled="loading">
          <div class="d-flex align-items-center">
            <span class="btn-arrow-icon"><i class="bi-recycle"></i></span>
            <span class="btn-arrow-text">{{ _("Comprova les teues lligues") }}</span>
            <span class="btn-arrow-arrow">
              <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">{{ _("Carregant...") }}</span>
              </div>
              <i v-else class="bi-caret-right-fill"></i>
            </span>
          </div>
        </button>
      </div>
      <div v-if="matches" class="fs-5">
        <p v-if="matches.offers === 0 && matches.needs === 0" class="text-center">
        {{ _("Actualment cap entitat ofereix ni necessita el mateix que vosaltres, però si us inscriviu altres entitats us podran trobar en el futur.") }}
        </p>
        <template v-else-if="matches.offers === 0 && matches.needs !== 0">
          <p class="mb-0 text-center">
          {{ _("Hi ha <strong>${ matches.needs } entitats que necessiten el mateix que vosaltres</strong>.") }}
          </p>
          <p class="text-center">
          {{ _("Si us inscriviu podreu contactar amb elles i buscar una solució en comú.") }}
          </p>
        </template>
        <template v-else-if="matches.offers !== 0 && matches.needs === 0">
          <p class="mb-0 text-center">
          {{ _("Hi ha <strong>${ matches.offers } entitats que ofereixen el que necessiteu</strong>.") }}
          </p>
          <p class="text-center">
          {{ _("Si us inscriviu podreu contactar amb elles i sol·licitar la seua ajuda.") }}
          </p>
        </template>
        <template v-else>
          <p class="mb-0 text-center">
          {{ _("Hi ha <strong>${ matches.offers } entitats que ofereixen el que necessiteu</strong>.") }}
          </p>
          <p class="mb-0 text-center">
          {{ _("Hi ha <strong>${ matches.needs } entitats que necessiten el mateix que vosaltres</strong>.") }}
          </p>
          <p class="text-center">
          {{ _("Si us inscriviu podreu contactar amb elles i col·laborar.") }}
          </p>
        </template>
        <div class="text-center mt-4">
          {{ arrow_btn_link(_("Accedeix"), url("account_signup"), "bi-person", large=True) }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="fw-black fs-2-5-rem text-uppercase text-center mb-0 pt-70-px">
    {{ _("Entre totes, associacions amb més impacte!") }}
  </h2>
  <div class="divider-3"></div>
  <p class="text-center mt-60-px fs-6">
  {{ _("De forma semblant a les famoses aplicacions digitals de cites, us proposem recollir informació amb la qual filtrar els perfils que més poden interessar a la teua associació. Els col·lectius amb més probabilitats de ser compatibles a l'hora de <strong>compartir recursos</strong> podem entrar en contacte entre nosaltres.") }}
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-6 col-xs-12 text-center">
      <img src="{{ static("home-images/vinyeta-1-circuit.png") }}" alt="{{ _("Dona Núria") }}" loading="lazy">
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12 vinyeta">
      <div class="vinyeta-inner">
        <span class="big-number">01.</span>
        <p class="vinyeta-text">{{ _("Núria busca un projector perquè l’Associació de dones en què participa organitza una xerrada i la conferenciant vol projectar una presentació audiovisual.") }}</p>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12 text-center">
      <img src="{{ static("home-images/vinyeta-2-circuit-projector.png") }}" alt="{{ _("Projector i pantalla") }}" loading="lazy">
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-md-6 col-xs-12 vinyeta py-3">
      <div class="vinyeta-inner">
        <span class="big-number">02.</span>
        <p class="vinyeta-text">{{ _("Decideixen inscriure la seua Associació en <em>Fem lliga!</em>. Contesten el formulari i posen en comú les seues peticions com per exemple el projector.") }}</p>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12 text-center vinyeta-groc py-3">
      <div class="vinyeta-inner">
        <span class="fw-black fs-2-5-rem">{{ _("CONNECTANT") }}</span>
        <span class="fw-black fs-5-rem lh-1-em">{{ _("EL<br>TEIXIT SOCIAL") }}</p>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12 vinyeta py-3">
      <div class="vinyeta-inner">
        <span class="big-number">03.</span>
        <p class="vinyeta-text">{{ _("Per la seua banda, Llúcia va donar d’alta el seu col·lectiu ja que fa setmanes buscaven espai. A més, la seua assemblea va decidir oferir un projector per si algú el necessitava.") }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-md-6 col-xs-12 text-center">
      <img src="{{ static("home-images/vinyeta-6.png") }}" alt="{{ _("Dona Núria") }}" loading="lazy">
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12 vinyeta">
      <div class="vinyeta-inner">
        <span class="big-number">04.</span>
        <p class="vinyeta-text">{{ _("Una vegada Núria ha emplenat el formulari, l’aplicació li ha proposat que contacte amb l’associació de Llúcia. Ara sols cal que es posen d’acord entre elles!") }}</p>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12 text-center">
      <img src="{{ static("home-images/vinyeta-7.png") }}" alt="{{ _("Projector i pantalla") }}" loading="lazy">
    </div>
  </div>
</div>

<div class="container p-0 mt-100-px">
  <div class="inner-container top-right-triangle-decoration">
    <h2 class="fw-black fs-2-5-rem text-uppercase text-center mb-0 pt-70-px">{{ _("Com començar?") }}</h2>
    <div class="divider-3"></div>

    <div class="w-80 m-center">
      <p class="mt-5 fs-4-5 text-center">
      {{ _("Respon el qüestionari i prompte trobaràs alguna Associació amb qui <strong>intercanviar</strong> recursos, materials, coneixements, formacions, serveis, habilitats, etc.") }}
      </p>

      <div class="d-flex justify-content-between flex-column flex-md-row">
        <div class="w-100 w-md-45 bg-lightgrey mt-5 br-1-rem text-center p-4 position-relative">
          <h3 class="mt-0">{{ _("Què podeu oferir?") }}</h3>
          <p class="fs-6 mt-3 mb-7-rem">
          {{ _("Respon un curt qüestionari sobre aquelles qüestions que el teu col·lectiu voldria compartir.") }}
          </p>
          <div class="mb-3 position-absolute bottom-0 start-50 translate-middle">
          {{ arrow_btn_link(_("Comença!"), url("account_signup"), "bi-person", large=True) }}
          </div>
        </div>

        <div class="w-100 w-md-45 bg-lightgrey mt-5 br-1-rem text-center p-4 position-relative">
          <h3 class="mt-0">{{ _("Quines necessitats teniu?") }}</h3>
          <p class="fs-6 mt-3 mb-7-rem">
          {{ _("Respon un curt qüestionari sobre aquelles qüestions que el teu col·lectiu necessita.") }}
          </p>
          <div class="mb-3 position-absolute bottom-0 start-50 translate-middle">
          {{ arrow_btn_link(_("Comença!"), url("account_signup"), "bi-person", large=True) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="fw-black fs-2-5-rem text-uppercase text-center mb-0 pt-70-px">{{ _("Per a què?") }}</h2>
  <div class="divider-3"></div>
  <p class="mt-5 mb-5 fs-5 text-center w-80 m-center">
  {{ _("Sovint a les nostres organitzacions ens costa trobar solucions als problemes i cobrir les necessitats que ens sorgeixen. Disposem d'escassos recursos i molt poc temps. Aquesta ferramenta ens facilita el <strong>treball en xarxa</strong> amb altres entitats per resoldre aquests problemes i incrementar el nostre impacte i la nostra projecció.") }}
  </p>
</div>

<section class="container mb-7-rem">
  <div class="row mx-auto my-auto justify-content-center">
    <div id="carouselExamples" class="carousel slide p-0 mt-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        {{ carousel_examples() }}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% macro initial_block_text() %}
<p class="fs-6">
{{ get_current_site(request).name }} {{ _("és una xarxa on les organitzacions <strong>intercanviem</strong> recursos, habilitats, serveis o coneixements. Es tracta d’una ferramenta que <strong>posa en contacte</strong> les organitzacions segons les nostres necessitats i el que podem oferir.") }}
</p>
<div class="mt-3">
  {{ arrow_btn_link(_("Accedeix"), url("account_signup"), "bi-person", large=True) }}
</div>
{% endmacro %}

{% macro collaboration_example(question, answer, active=False) %}
<div class="carousel-item{% if active %} active{% endif %}">
  <div class="col-12 col-md-4">
    <div class="card br-1-rem w-80 mx-auto h-100">
      <div class="card-body carousel-body">
        <img src="{{ static("home-images/quote.svg") }}" class="example-quote mb-2" alt="" loading="lazy">
        <p class="fst-italic mb-0">«{{ question }}»</p>
        <p class="mb-0">{{ answer }}</p>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro carousel_examples() %}
{{ collaboration_example(_("És necessari contractar una assegurança per a les nostres activitats?"), _("En Fem lliga! pots trobar entitats que poden resoldre els vostres dubtes legals."), active=True) }}

{{ collaboration_example(_("Equip de so, megafonia... tenim un acte i ens vindria genial"), _("Vos sorprendrà la quantitat de col·lectius de Fem lliga! que vos poden ajudar!")) }}

{{ collaboration_example(_("Tenim assemblea i no disposem d'un espai"), _("Amb aquesta xarxa social podeu contactar amb altres associacions que estan disposades a compartir la seua seu.")) }}

{{ collaboration_example(_("Subvencions, projectes, estatuts... Els papers ens ofeguen!"), _("Formació, redacció de projectes... Hi ha molts col·lectius que segur que vos volen donar suport.")) }}

{{ collaboration_example(_("Volem formar-nos més, però no trobem qui ens acompanye"), _("Ús de les xarxes socials, millora del funcionament intern... Moltes entitats fan formació dels seus temes i volen compartir el seu coneixement.")) }}
{% endmacro %}

{% block js %}
{{ vue_js() }}
<script>
// from https://stackoverflow.com/questions/20007610/bootstrap-carousel-multiple-frames-at-once
let items = document.querySelectorAll('.carousel .carousel-item')

items.forEach((el) => {
  const minPerSlide = 3
  let next = el.nextElementSibling
  for (var i=1; i<minPerSlide; i++) {
    if (!next) {
      // wrap carousel by using first child
      next = items[0]
    }
    let cloneChild = next.cloneNode(true)
    el.appendChild(cloneChild.children[0])
    next = next.nextElementSibling
  }
})


Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    const jsonData = getJsonData();
    return {
      resourceSelected: "",
      optionSelected: "",
      loading: false,
      matches: undefined,
      resourceNamesMap: jsonData.resource_names_map,
      resourceOptionsMap: jsonData.resource_options_map,
      resourceOptionsQuestionMap: jsonData.resource_options_question_map,
      optionNamesMap: jsonData.option_names_map,
    };
  },
  methods: {
    selectResource(resource) {
      this.matches = undefined;
      this.optionSelected = "";
      this.resourceSelected = resource;
    },
    selectOption(option) {
      this.matches = undefined;
      this.optionSelected = option;
    },
    checkMatches() {
      this.loading = true;
      post(
        "{{ url('check_matches') }}",
        "{{ csrf_token }}",
        { resource: this.resourceSelected, option: this.optionSelected },
      ).then(response => {
        this.matches = response;
        this.loading = false;
      }).catch(err => {
        this.matches = undefined;
        this.loading = false;
      });
    },
  },
}).mount("#vueapp");
</script>
{% endblock %}
