{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback, render_select, vue_js %}

{% block title %}Portada{% endblock %}

{% block content %}
<!-- desktop initial block -->
<div class="container d-none d-md-block">
  <div class="row d-flex flex-md-row-reverse welcome-block">
    <div class="offset-md-5 col-md-7">
      <div class="spacing"></div>
      <em>Fer lliga: unir-se, fer causa comuna, acordar, amistar-se, anar a l’una, fer pinya…</em>
      <h1 class="app-title">Fem lliga!</h1>
      <div style="background-image: url('{{ static("decorations/cross.svg") }}'); background-repeat: repeat-x; height: 20px; margin-bottom: 20px; margin-right: -500px;">
      </div>
      {{ initial_block_text() }}
    </div>
  </div>
</div>

<!-- mobile initial block -->
<div class="container d-block d-md-none">
  <div style="background-color: #f4f4f4;">
    <img src="{{ static("home-images/gent-portada-mobile.png") }}" style="max-width: 100%" alt="Persones diverses" loading="lazy">
    <div class="p-2">
      <em>Fer lliga: unir-se, fer causa comuna, acordar, amistar-se, anar a l’una, fer pinya…</em>
      <h1 class="app-title app-title-mobile">Fem lliga!</h1>
      <div style="background-image: url('{{ static("decorations/cross.svg") }}'); background-repeat: repeat-x; height: 20px; margin-bottom: 20px; margin-right: -500px;">
      </div>
      {{ initial_block_text() }}
    </div>
  </div>
</div>

<div class="container landing-container text-center">
  <h2 class="fw-black text-center">Guia metodològica</h2>
  <div class="divider-1"></div>
  <div class="row">
    <div class="col-6 col-xs-12">
      <p>A partir de l’experiència acumulada, hem elaborat esta guia metodològica que té com a objectiu recollir una sèrie de recomanacions útils per a enfortir els vincles d’un veïnat a través de l’enxarxament de les entitats presents en un territori concret. Al llarg del document es fa èmfasi en les possibilitats que ofereix la utilització de la plataforma Fem Lliga!, una ferramenta de suport als processos de dinamització comunitària.</p>
    </div>

    <div class="col-6 col-xs-12">
      <a type="button" class="btn btn-custom fw-bold p-2 px-4 fs-4" href="{{ static("guia-metodologica-femlliga.pdf") }}" download>
        Descarrega la guia
      </a>
    </div>
  </div>
</div>

<div class="container landing-container">
  <h2 class="fw-black text-center">Vols saber si podries fer lliga?</h2>
  <div class="divider-1"></div>
  <p>
    Selecciona el tipus de recurs que t'interessa i podràs veure amb quantes entitats el podries intercanviar.
  </p>
  <div id="vueapp">
    <div class="multi-select">
      <span
        v-for="(resourceName, resource) in resourceNamesMap"
        :key="resource"
      >
        <button
          v-if="resource !== 'OTHER'"
          class="btn multi-select-choice"
          :class="{selected: resourceSelected === resource}"
          type="button"
          role="switch"
          @click="selectResource(resource);"
        >
          ${ resourceName }
        </button>
      </span>
    </div>
    <div v-if="resourceSelected !== ''">
      <p>${ resourceOptionsQuestionMap[resourceSelected] }</p>
      <div class="multi-select">
        <button
          v-for="[option, optionName] of resourceOptionsMap[resourceSelected]"
          :key="resource"
          class="btn multi-select-choice"
          :class="{selected: optionSelected === option}"
          type="button"
          role="switch"
          @click="selectOption(option);"
        >
          ${ optionName }
        </button>
      </div>
    </div>
    <div v-if="resourceSelected !== '' && optionSelected !== ''" class="text-center mb-3">
      <button class="btn btn-custom" @click="checkMatches" :disabled="loading">
        Comprova amb quantes entitats fas lliga
        <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Carregant...</span>
        </div>
      </button>
    </div>
    <div v-if="matches">
      <p v-if="matches.offers === 0 && matches.needs === 0">
        Actualment cap entitat ofereix ni necessita el mateix que vosaltres, però si us inscriviu altres entitats us podran trobar en el futur.
      </p>
      <p v-else-if="matches.offers === 0 && matches.needs !== 0">
        Hi ha <strong>${ matches.needs }</strong> entitats que necessiten el mateix que vosaltres. Si us inscriviu podreu contactar amb elles i buscar una solució en comú.
      </p>
      <p v-else-if="matches.offers !== 0 && matches.needs === 0">
        Hi ha <strong>${ matches.offers }</strong> entitats que ofereixen el que necessiteu. Si us inscriviu podreu contactar amb elles i sol·licitar la seua ajuda.
      </p>
      <p v-else>
        Hi ha <strong>${ matches.offers }</strong> entitats que ofereixen el que necessiteu i <strong>${ matches.needs }</strong> entitats que necessiten el mateix que vosaltres. Si us inscriviu podreu contactar amb elles i col·laborar.
      </p>
      <div class="text-center">
        <a type="button" class="btn btn-lg btn-custom btn-inscriu" href="{{ url("account_signup") }}">
          Inscriu la teua entitat
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container landing-container text-center">
  <iframe class="max-w-100" width="560" height="315" src="https://www.youtube.com/embed/XlhE8N3b1qM?si=qHpuJC7mieJy2ZA6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="container landing-container">
    <h2 class="fw-black text-center">Entre totes, associacions amb més impacte!</h2>
    <div class="divider-1"></div>
    <p class="text-center">
        De forma semblant a les famoses aplicacions digitals de cites, us proposem recollir informació amb la qual filtrar els perfils que més poden interessar a la teua associació. Els col·lectius amb més probabilitats de ser compatibles a l'hora de <strong>compartir recursos</strong> podem entrar en contacte entre nosaltres.
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6 col-xs-12 text-center">
            <img src="{{ static("home-images/vinyeta-1-circuit.png") }}" alt="Dona Núria" loading="lazy">
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12 vinyeta">
            <div class="vinyeta-inner">
                <span class="big-number">01.</span>
                <p class="vinyeta-text">Núria busca un projector perquè l’Associació de dones en què participa organitza una xerrada i la conferenciant vol projectar una presentació audiovisual.</p>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12 text-center">
            <img src="{{ static("home-images/vinyeta-2-circuit-projector.png") }}" alt="Projector i pantalla" loading="lazy">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-6 col-xs-12 vinyeta py-3">
            <div class="vinyeta-inner">
                <span class="big-number">02.</span>
                <p class="vinyeta-text">Decideixen inscriure la seua Associació en <em>Fem lliga</em>. Contesten el formulari i posen en comú les seues peticions com per exemple el projector.</p>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12 text-center vinyeta-groc py-3">
            <div class="vinyeta-inner">
                <span class="fw-black" style=" font-size: 2.6em;">CONNECTANT</span>
                <span class="fw-black" style=" font-size: 5em; line-height: 1em;">EL<br>TEIXIT SOCIAL</p>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12 vinyeta py-3">
            <div class="vinyeta-inner">
                <span class="big-number">03.</span>
                <p class="vinyeta-text">Per la seua banda, Llúcia va donar d’alta el seu col·lectiu ja que fa setmanes buscaven espai. A més, la seua assemblea va decidir oferir un projector per si algú el necessitava.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-6 col-xs-12 text-center">
            <img src="{{ static("home-images/vinyeta-6.png") }}" alt="Dona Núria" loading="lazy">
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12 vinyeta">
            <div class="vinyeta-inner">
                <span class="big-number">04.</span>
                <p class="vinyeta-text">Una vegada Núria ha emplenat el formulari, l’aplicació li ha proposat que contacte amb l’associació de Llúcia. Ara sols cal que es posen d’acord entre elles!</p>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12 text-center">
            <img src="{{ static("home-images/vinyeta-7.png") }}" alt="Projector i pantalla" loading="lazy">
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 80px; margin-bottom: 50px;">
        <div class="col-12">
            <h2 class="fw-black" style=" font-size: 4.4em; color: #000; text-align: center;">Com començar?</h2>
            <div class="divider-1"></div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-xl-4 col-md-6 col-xs-12">
            <p style="margin-top: 30px;">Respon el qüestionari i prompte trobaràs alguna Associació amb qui <strong>intercanviar</strong> recursos, materials, coneixements, formacions, serveis, habilitats, etc.</p>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12 vinyeta-menut">
            <div class="vinyeta-inner text-center" style="padding: 50px 0;">
                <h3 class="vinyeta-text mb-3">Què podeu oferir?</h3>
                <p class="vinyeta-text mb-3">Respon un curt qüestionari sobre aquelles qüestions que el teu col·lectiu voldria compartir.</p>
                <a type="button" class="btn btn-custom fw-bold" href="{{ url("account_signup") }}" style=" padding: 12px 20px;">
                  Comenceu a fer lliga
                </a>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12 vinyeta-menut">
            <div class="vinyeta-inner text-center" style="padding: 50px 0;">
                <h3 class="vinyeta-text mb-3">Quines necessitats teniu?</h3>
                <p class="vinyeta-text mb-3">Respon un curt qüestionari sobre aquelles qüestions que el teu col·lectiu necessita.</p>
                <a type="button" class="btn btn-custom fw-bold" href="{{ url("account_signup") }}" style=" padding: 12px 20px;">
                  Comenceu a fer lliga
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px; margin-bottom: 20px;">
    <h2 class="fw-black text-center">Cooperar, intercanviar, fer lliga per a què?</h2>
    <div class="divider-1"></div>
    <p class="text-center">
      Sovint a les nostres organitzacions ens costa trobar solucions als problemes i cobrir les necessitats que ens sorgeixen. Disposem d'escassos recursos i molt poc temps. Aquesta ferramenta ens facilita el <strong>treball en xarxa</strong> amb altres entitats per resoldre aquests problemes i incrementar el nostre impacte i la nostra projecció.
    </p>
</div>

<section class="d-none d-lg-block" style="background-color: transparent; background-image: linear-gradient(180deg, white 20%, #ffce1c 100%); padding-bottom: 100px;">
  <div class="container">
    <div class="row mt-3">
      <div id="carouselExamples" class="carousel carousel-triple slide" data-bs-ride="carousel">
        <div style="padding: 0 120px;">
          <div class="carousel-inner overflow-hidden" style=" padding: 0 0 30px 0;">
            {{ carousel_examples() }}
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamples" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExamples" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="d-block d-lg-none" style="background-color: transparent; background-image: linear-gradient(180deg, white 20%, #ffce1c 100%); padding-bottom: 100px;">
  <div class="container">
    <div class="row mt-3">
      <div id="carouselExamplesMobile" class="carousel carousel-triple slide" data-bs-ride="carousel">
        <div>
          <div class="carousel-inner overflow-hidden">
            {{ carousel_examples(mobile=True) }}
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamplesMobile" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExamplesMobile" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% macro initial_block_text() %}
      <p>{{ consts.APP_NAME }} és una xarxa on les organitzacions <strong>intercanviem</strong> recursos, habilitats, serveis o coneixements. Es tracta d’una ferramenta que <strong>posa en contacte</strong> les organitzacions segons les nostres necessitats i el que podem oferir.</p>
      <div class="mt-3 text-center">
        <a type="button" class="btn btn-lg btn-custom btn-inscriu" href="{{ url("account_signup") }}">
          Inscriu la teua entitat
        </a>
      </div>
{% endmacro %}

{% macro collaboration_example(image, heading, text, alternatives, active=False, mobile=False) %}
<div class="carousel-item{% if active %} active{% endif %}">
  <div class="card {% if not mobile %}card-carousel-triple{% endif %}">
    <img src="{{ static("decorations/quote.svg") }}" class="example-quote" alt="" loading="lazy">

    <img src="{{ static("home-images/"+image) }}" class="card-img-top pt-4 ps-4 pe-4" alt="" loading="lazy">
    <div class="card-body">
      <p class="text-center text-muted fsm-1">{{ text }}</p>
      <div class="divider-1"></div>
      <h3 class="text-center lh-15">{{ heading }}</h3>
      <p class="text-center text-muted fsm-2">{{ alternatives }}</p>
    </div>
  </div>
</div>
{% endmacro %}

{% macro carousel_examples(mobile=False) %}
{{ collaboration_example("exemples-legal.png", "Us desborden les qüestions legals?", "Segur que teniu dubtes a l'hora de saber si cal contractar una assegurança per a alguna activitat o si heu de complir amb la Llei de Transparència,", "O per exemple fiscals i comptables?", active=True, mobile=mobile) }}

{{ collaboration_example("exemples-llibreta.png", "Voleu aprendre a redactar projectes? Fem lliga!", "Quantes vegades us hauria anat bé que us orientaren quan us poseu davant la paperassa per a demanar recursos econòmics a l'administració?", "Per exemple per a demanar una subvenció", active=False, mobile=mobile) }}

{{ collaboration_example("exemples-equip-de-so.png", "Busqueu un equip de so? Fem lliga!", "Resulta que voleu fer un acte en el carrer i us aniria molt bé un equip de so perquè s'escolte a les persones participants.", "Microfonia, altaveus, una taula de mescles.", mobile=mobile) }}

{{ collaboration_example("exemples-persones.png", "Busqueu un espai? Fem lliga!", "Amb aquesta xarxa social podeu contactar amb altres associacions que estan disposades a compartir la seua seu.", "Per a un acte puntual? de forma periòdica o permanent?", mobile=mobile) }}

{{ collaboration_example("exemples-projector.png", "Necessiteu un projector? Fem lliga!", "Entre les associacions fàcilment fareu lliga amb alguna que us el pot deixar. Contacteu i concreteu les condicions!", "O algun altre recurs audiovisual? Un equip de so potser?", mobile=mobile) }}

{{ collaboration_example("exemples-formacio.png", "Voleu formar-vos? Fem lliga!", "Us agradria ensenyar com funcionen les xarxes socials? Voleu compartir algun altre coneixement? Segur que trobeu amb qui compartir-lo.", "Per exemple en pàgines web? o en com millorar el funcionament de la vostra assemblea?", mobile=mobile) }}
{% endmacro %}

{% block js %}
{{ vue_js() }}
{{ json_script(consts.RESOURCE_NAMES_MAP, "resource-names-data") }}
{{ json_script(consts.RESOURCE_OPTIONS_MAP , "resource-options-data") }}
{{ json_script(consts.RESOURCE_OPTIONS_QUESTION_MAP , "resource-options-question-data") }}
{{ json_script(consts.RESOURCE_OPTIONS_DEF_MAP, "option-names-data") }}
<script>
var resourceNamesMap = JSON.parse(document.getElementById('resource-names-data').textContent);
var resourceOptionsMap = JSON.parse(document.getElementById('resource-options-data').textContent);
var resourceOptionsQuestionMap = JSON.parse(document.getElementById('resource-options-question-data').textContent);
var optionNamesMap = JSON.parse(document.getElementById('option-names-data').textContent);
var items = document.querySelectorAll('.carousel-triple .carousel-item');

items.forEach((el) => {
  const minPerSlide = 3;
  let next = el.nextElementSibling;
  for (var i = 1; i < minPerSlide; i++) {
    if (!next) {
      next = items[0]
    }
    let cloneChild = next.cloneNode(true);
    el.appendChild(cloneChild.children[0]);
    next = next.nextElementSibling;
  }
});

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      resourceSelected: "",
      optionSelected: "",
      loading: false,
      matches: undefined,
      resourceNamesMap: resourceNamesMap,
      resourceOptionsMap: resourceOptionsMap,
      resourceOptionsQuestionMap: resourceOptionsQuestionMap,
      optionNamesMap: optionNamesMap,
    };
  },
  methods: {
    selectResource(resource) {
      this.matches = undefined;
      this.optionSelected = "";
      this.resourceSelected = resource;
    },
    selectOption(option) {
      this.matches = undefined;
      this.optionSelected = option;
    },
    checkMatches() {
      this.loading = true;
      post(
        "{{ url('check_matches') }}",
        "{{ csrf_token }}",
        { resource: this.resourceSelected, option: this.optionSelected },
      ).then(response => {
        this.matches = response;
        this.loading = false;
      }).catch(err => {
        this.matches = undefined;
        this.loading = false;
      });
    },
  },
}).mount("#vueapp");
</script>
{% endblock %}
