{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import render_select_raw, resource_details, organization_link, images_modal_vue, info_tooltip, match_filter_row_vue, show_matches_vue, vue_js %}

{% block content %}
{% if len(matches_json.offerMatches) > 0 or len(matches_json.needMatches) > 0 %}
<main id="content" class="container-fluid">
  <div id="app" class="row">
    <div class="col-md-4 d-md-block bg-light sidebar">
      <h1>
        {% if page_type == "matches" %}
        Has lligat!
        {% else %}
        Cerca
        {% endif %}
      </h1>
      <div class="btn-group w-100 mb-2" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn"
          @click="setShowBy('resources')"
          :class="{'btn-warning': showBy === 'resources', 'btn-light': showBy !== 'resources'}">
          Recursos
        </button>
        <button
          type="button"
          class="btn"
          @click="setShowBy('organizations')"
          :class="{'btn-warning': showBy === 'organizations', 'btn-light': showBy !== 'organizations'}">
          Organitzacions
        </button>
      </div>
      <input v-model="search" type="text" class="form-control" placeholder="Cerca recursos o organitzacions">
      <ul class="nav nav-pills flex-column mb-auto mt-2">
        <template v-if="showBy === 'resources'">
          {% if page_type == "matches" %}
          <h2 class="resource-matches-title">Ofereixen</h2>
          {{ match_filter_row_vue("offer", "Entitats que ofereixen el que necessiteu") }}
          <h2 class="resource-matches-title">També necessiten</h2>
          {{ match_filter_row_vue("need", "Entitats que necessiten el mateix que vosaltres") }}
          {% else %}
          <h2 class="resource-matches-title">Ofereixen</h2>
          {{ match_filter_row_vue("offer", "Entitats que ofereixen recursos") }}
          <h2 class="resource-matches-title">Necessiten</h2>
          {{ match_filter_row_vue("need", "Entitats que necessiten recursos") }}
          {% endif %}
        </template>
        <template v-else>
          <li class="nav-item" v-for="x in organizationsWithMatches" :key="x.organization.id">
            <button
              @click="selectOrganization(x.organization)"
              class="nav-link w-100 text-start"
              :class="{active: organizationSelected && organizationSelected.id === x.organization.id}"
              type="button"
              role="tab"
              aria-selected="false"
              aria-current="page">
              <span class="float-end">
                <span
                  class="badge ms-2 bg-light"
                  title="Recursos que fan lliga">
                  ${ x.matches.length }
                </span>
              </span>
              <span v-html="highlightSearch(x.organization.name, search)"></span>
              <div class="fst-italic fs-7 text-body-secondary">A ${ x.organization.distance } de vosaltres </div>
            </button>
          </li>
        </template>
      </ul>
    </div>

    <div class="col-md-8 ms-sm-auto px-md-4">
      <div v-if="initialLoading" class="mt-4 text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Carregant...</span>
        </div>
      </div>
      <template v-else>
        <div v-if="resourceSelected" class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">${ resourceNamesMap[resourceSelected] }</h2>
            <div v-if="matchTypeSelected === 'offer'">
              <div class="matches-count"><span>${ matches.offerMatches[resourceSelected].length } resultats</span></div>
              {{ show_matches_vue("matches.offerMatches[resourceSelected]", "ofereix") }}
            </div>
            <div v-else>
              <div class="matches-count"><span>${ matches.needMatches[resourceSelected].length } resultats</span></div>
              {{ show_matches_vue("matches.needMatches[resourceSelected]", "també necessita") }}
            </div>
          </div>
        </div>
        <div v-else-if="organizationSelected" class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">${ organizationSelected.name }</h2>
            <div class="matches-count agreements-count"><span>${ organizationMatches.length } resultats</span></div>
            {{ show_matches_vue("organizationMatches.filter(m => m.type === 'offer')", "ofereix") }}
            {{ show_matches_vue("organizationMatches.filter(m => m.type === 'need')", "també necessita") }}
          </div>
        </div>
        <div v-else class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">Tot</h2>
            <div class="matches-count"><span>${ concatenateMatches(matches.offerMatches).length + concatenateMatches(matches.needMatches).length } resultats</span></div>
            {{ show_matches_vue("concatenateMatches(matches.offerMatches)", "ofereix") }}
            {{ show_matches_vue("concatenateMatches(matches.needMatches)", "també necessita") }}
          </div>
        </div>
      </div>
    </template>

    {{ images_modal_vue() }}
  </div>
</main>
{% else %}
<div class="container text-center pt-4">
  <h1>Sembla que no hi ha sort...</h1>
  <p>No cal patir! Amb el temps s'incorporaran noves entitats que probablement compartisquen les mateixes necessitats que vosaltres. Podeu tornar a comprovar-ho en uns dies.</p>
</div>
{% endif %}
{% endblock %}

{% block js %}
{{ vue_js() }}
{{ json_script(matches_json, "matches-data") }}
{{ json_script(organization_matches_json, "organization-matches-data") }}
{{ json_script(needs_json, "needs-data") }}
{{ json_script(consts.RESOURCE_NAMES_MAP, "resource-names-data") }}
{{ json_script(consts.RESOURCE_OPTIONS_DEF_MAP, "option-names-data") }}
<script>
var matches = JSON.parse(document.getElementById('matches-data').textContent);
var organizationMatches = JSON.parse(document.getElementById('organization-matches-data').textContent);
var needs = JSON.parse(document.getElementById('needs-data').textContent);
var resourceNamesMap = JSON.parse(document.getElementById('resource-names-data').textContent);
var optionNamesMap = JSON.parse(document.getElementById('option-names-data').textContent);

function matchContains(search) {
  return function(m) {
    const parts = sanitize(search).split(" ").filter(x => x !== "");
    const targets = [
      sanitize(m.organization.name),
      sanitize(m.comments),
      sanitize(resourceNamesMap[m.resource]),
    ];
    for (var option of m.options) {
      targets.push(sanitize(optionNamesMap[option]));
    }
    for (var part of parts) {
      if (!targets.some((target) => contains(target, part))) {
        return false;
      }
    }
    return true;
  };
}

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      needs: needs,
      allMatches: matches,
      allOrganizationMatches: organizationMatches,
      resourceNamesMap: resourceNamesMap,
      optionNamesMap: optionNamesMap,
      search: "",
      resourceSelected: "",
      matchTypeSelected: "",
      organizationSelected: null,
      carouselImages: [],
      showBy: "resources",
      messagesOpen: {},
    };
  },
  methods: {
    highlightSearch: highlightSearch,
    setShowBy(x) {
      this.showBy = x;
      this.selectResource("", "");
    },
    selectResource(resource, matchType) {
      this.organizationSelected = null;
      this.resourceSelected = resource;
      this.matchTypeSelected = matchType;
    },
    selectOrganization(org) {
      this.resourceSelected = "";
      this.matchTypeSelected = "";
      this.organizationSelected = org;
    },
    setCarouselImages(images) {
      this.carouselImages = images;
    },
    filterMatches(matches) {
      var m = {};
      for (var k in matches) {
        m[k] = matches[k].filter(matchContains(this.search));
      }
      return m;
    },
    concatenateMatches(matches) {
      var l = [];
      Object.keys(matches).forEach((k) => {
        l = [...l, ...matches[k]];
      });
      return l;
    },
    extractSelectedOptions(optionsMap) {
      return Object.keys(optionsMap).map(k => {
        if (optionsMap[k]) {
          return k;
        }
        return "";
      }).filter(v => v);
    },
    sendMessage(href) {
      var m = this.messagesOpen[href];
      if (!this.messagesOpen[href]) {
        this.messagesOpen[href] = {message: "", options: {}};
        return;
      }
      this.messagesOpen[href].loading = true;
      post(
        href,
        "{{ csrf_token }}",
        { message: m.message, options: this.extractSelectedOptions(m.options) },
      ).then(response => {
        if (!response.ok) {
          throw "Bad response";
        }
        m.result = true;
        m.loading = false;
      }).catch(err => {
        m.error = true;
        m.loading = false;
      });
    },
    toggleMessageOption(key, option) {
      this.messagesOpen[key].options[option] = !this.messagesOpen[key].options[option];
    },
    messageFormOk(values) {
      if (!values) {
        return true;
      }
      var selectedOptions = Object.keys(values.options).map(k => values.options[k]).filter(v => v);
      return values.message && this.extractSelectedOptions(values.options).length > 0;
    },
  },
  computed: {
    matched_needs() {
      return this.needs.filter(n => n in matches.offerMatches || n in matches.needMatches);
    },
    matches() {
      return {
        offerMatches: this.filterMatches(this.allMatches.offerMatches),
        needMatches: this.filterMatches(this.allMatches.needMatches),
      };
    },
    organizationsWithMatches() {
      return this.allOrganizationMatches.map(o => {
        return {
          organization: o.organization,
          matches: o.matches.filter(matchContains(this.search)),
        };
      }).filter(o => o.matches.length > 0);
    },
    organizationMatches() {
      var org = this.allOrganizationMatches.find(o => o.organization.id === this.organizationSelected.id);
      return org ? org.matches.filter(matchContains(this.search)) : [];
    },
  },
}).mount("#app");
</script>
{% endblock %}

