{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import render_select_raw, resource_details, organization_link, images_modal_vue, info_tooltip %}

{% block content %}
{% if len(offer_matches) > 0 or len(need_matches) > 0 %}
<main id="content" class="container-fluid">
  <div id="app" class="row">
    <div class="col-md-4 d-md-block bg-light sidebar">
      <h1>Has lligat!</h1>
      <div class="btn-group w-100 mb-2" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn"
          @click="setShowBy('resources')"
          :class="{'btn-warning': showBy === 'resources', 'btn-light': showBy !== 'resources'}">
          Recursos
        </button>
        <button
          type="button"
          class="btn"
          @click="setShowBy('organizations')"
          :class="{'btn-warning': showBy === 'organizations', 'btn-light': showBy !== 'organizations'}">
          Organitzacions
        </button>
      </div>
      <input v-model="search" type="text" class="form-control" placeholder="Cerca recursos o organitzacions">
      <ul class="nav nav-pills flex-column mb-auto mt-2">
        <template v-if="showBy === 'resources'">
          <h2 class="resource-matches-title">Ofereixen</h2>
          {{ match_filter_row_vue("offer", "Entitats que ofereixen el que necessiteu") }}
          <h2 class="resource-matches-title">També necessiten</h2>
          {{ match_filter_row_vue("need", "Entitats que necessiten el mateix que vosaltres") }}
        </template>
        <template v-else>
          <li class="nav-item" v-for="x in organizationsWithMatches" :key="x.organization.id">
            <button
              @click="selectOrganization(x.organization)"
              class="nav-link w-100 text-start"
              :class="{active: organizationSelected === x.organization.id}"
              type="button"
              role="tab"
              aria-selected="false"
              aria-current="page">
              <span class="float-end">
                <span
                  class="badge ms-2 bg-light"
                  title="Recursos que fan lliga">
                  ${ x.matches.length }
                </span>
              </span>
              <span v-html="highlightSearch(x.organization.name, search)"></span>
              <div class="fst-italic fs-7 text-body-secondary">A ${ x.organization.distance } de vosaltres </div>
            </button>
          </li>
        </template>
      </ul>
    </div>

    <div class="col-md-8 ms-sm-auto px-md-4">
      <div v-if="resourceSelected" class="row mt-3">
        <div class="col-12">
          <h2 class="match-resource-title">${ resourceNamesMap[resourceSelected] }</h2>
          <div v-if="matchTypeSelected === 'offer'">
            <div class="matches-count"><span>${ matches.offerMatches[resourceSelected].length } resultats</span></div>
            {{ show_matches_vue("matches.offerMatches[resourceSelected]", "ofereix") }}
          </div>
          <div v-else>
            <div class="matches-count"><span>${ matches.needMatches[resourceSelected].length } resultats</span></div>
            {{ show_matches_vue("matches.needMatches[resourceSelected]", "també necessita") }}
          </div>
        </div>
      </div>
      <div v-else-if="organizationSelected" class="row mt-3">
        <div class="col-12">
          <h2 class="match-resource-title">${ organizationsNamesMap[organizationSelected] }</h2>
          <div class="matches-count agreements-count"><span>${ organizationMatches.length } resultats</span></div>
          {{ show_matches_vue("organizationMatches.filter(m => m.type === 'offer')", "ofereix") }}
          {{ show_matches_vue("organizationMatches.filter(m => m.type === 'need')", "també necessita") }}
        </div>
      </div>
      <div v-else class="row mt-3">
        <div class="col-12">
          <h2 class="match-resource-title">Tot</h2>
          <div class="matches-count"><span>${ concatenateMatches(matches.offerMatches).length + concatenateMatches(matches.needMatches).length } resultats</span></div>
          {{ show_matches_vue("concatenateMatches(matches.offerMatches)", "ofereix") }}
          {{ show_matches_vue("concatenateMatches(matches.needMatches)", "també necessita") }}
        </div>
      </div>
    </div>

    {{ images_modal_vue() }}
  </div>
</main>
{% else %}
<div class="container text-center pt-4">
  <h1>Sembla que no hi ha sort...</h1>
  <p>No cal patir! Amb el temps s'incorporaran noves entitats que probablement compartisquen les mateixes necessitats que vosaltres. Podeu tornar a comprovar-ho en uns dies.</p>
</div>
{% endif %}
{% endblock %}

{% macro match_filter_row_vue(match_type, title) %}
<template v-for="resource in matched_needs" :key="resource">
  <li v-if="resource in matches.{{ match_type }}Matches" class="nav-item">
    <button
      @click="selectResource(resource, '{{ match_type }}')"
      class="nav-link w-100 text-start"
      :class="{active: resourceSelected === resource && matchTypeSelected === '{{ match_type }}'}"
      type="button"
      role="tab"
      aria-selected="false"
      aria-current="page">
      <span
        v-if="resource in matches.{{ match_type }}Matches"
        class="float-end badge ms-2 bg-light"
        title="{{ title }}">
        ${ matches.{{ match_type }}Matches[resource].length }
      </span>
      ${ resourceNamesMap[resource] }
    </button>
  </li>
</template>
{% endmacro %}


{% macro show_matches_vue(matches, match_name) %}
<div v-for="result in {{ matches }}" :key="result" class="row match-box">
  <h3>
    <a :href="result.organization.href" v-html="highlightSearch(result.organization.name, search)"></a>
    <span class="strong-underline ms-2">{{ match_name }}</span>
    <span class="ms-2" v-html="highlightSearch(resourceNamesMap[result.resource], search)"></span>
  </h3>
  <div>
    <span class="fs-7 fst-italic me-3 text-body-secondary">A ${ result.distance } de vosaltres</span>
  </div>
  <div class="mb-2">
    <span v-if="result.charge" class="badge bg-light me-2" title="Es demana remuneració a canvi">€</span>
    <span class="badge bg-light me-2" v-for="option in result.options" :key="option" v-html="highlightSearch(optionNamesMap[option], search)"></span>
  </div>
  <p v-if="result.comments" class="mb-0"><strong>Observacions:</strong><span class="ms-2" v-html="highlightSearch(result.comments, search)"></span></p>

  <div v-if="result.images.length > 0" class="image-thumbnails">
    <div v-for="image in result.images" :key="image.url" class="thumbnail">
      <a data-bs-toggle="modal" href="#images-modal" role="button" @click="setCarouselImages(result.images)">
        <img :src="image.url">
      </a>
    </div>
  </div>
  <div>
    <div v-if="messagesOpen[result.message_href]">
      <div v-if="messagesOpen[result.message_href].result" class="alert alert-success mt-2 mb-0">
        S'ha enviat el missatge correctament. ${ result.organization.name } podrà acceptar o rebutjar la comunicació. Si l'accepta, s'iniciarà una conversa per correu electrònic.
      </div>
      <div v-else-if="messagesOpen[result.message_href].error" class="alert alert-danger mt-2 mb-0">
        Hi ha hagut un error enviant el missatge. Per favor, torneu a intentar-ho més endavant, i si el problema persisteix poseu-vos en contacte amb {{ settings.CONTACT_EMAIL }}.
      </div>
      <div v-else>
        <p class="mt-2 mb-0">Quines opcions vos interessen concretament?</p>
        <div class="multi-select p-0">
          <button
            v-for="option in result.options"
            :key="option"
            @click="toggleMessageOption(result.message_href, option)"
            class="btn multi-select-choice"
            :class="{selected: messagesOpen[result.message_href].options[option]}"
          >
            ${ optionNamesMap[option] }
          </button>
        </div>
        <textarea
          v-model="messagesOpen[result.message_href].message"
          placeholder="Escriu ací el missatge que els arribarà si necessites fer qualsevol aclariment"
          class="form-control"
        ></textarea>
      </div>
    </div>
    <button @click="sendMessage(result.message_href)" class="btn btn-custom mt-2" :disabled="!messageFormOk(messagesOpen[result.message_href])">
      <span v-if="messagesOpen[result.message_href] && messagesOpen[result.message_href].loading">
        Enviant
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Enviant...</span>
        </div>
      </span>
      <span v-else>
        <i class="bi-send fs-6 me-2"></i>
        <span v-if="messagesOpen[result.message_href]">
          Envia el missatge
          {{ info_tooltip("Se li enviarà un missatge a ${ result.organization.name }, que podrà acceptar o rebutjar la comunicació. Si l'accepta, s'iniciarà una conversa per correu electrònic") }}
        </span>
        <span v-else>Contacta</span>
      </span>
    </button>
  </div>
</div>
{% endmacro %}

{% block js %}
{{ json_script(matches_json, "matches-data") }}
{{ json_script(organization_matches_json, "organization-matches-data") }}
{{ json_script(organization_names_map_json, "organizations-names-data") }}
{{ json_script(needs_json, "needs-data") }}
{{ json_script(consts.RESOURCE_NAMES_MAP, "resource-names-data") }}
{{ json_script(consts.RESOURCE_OPTIONS_DEF_MAP, "option-names-data") }}
<script>
var matches = JSON.parse(document.getElementById('matches-data').textContent);
var organizationMatches = JSON.parse(document.getElementById('organization-matches-data').textContent);
var organizationsNamesMap = JSON.parse(document.getElementById('organizations-names-data').textContent);
var needs = JSON.parse(document.getElementById('needs-data').textContent);
var resourceNamesMap = JSON.parse(document.getElementById('resource-names-data').textContent);
var optionNamesMap = JSON.parse(document.getElementById('option-names-data').textContent);

function matchContains(search) {
  return function(m) {
    const parts = sanitize(search).split(" ").filter(x => x !== "");
    const targets = [
      sanitize(m.organization.name),
      sanitize(m.comments),
      sanitize(resourceNamesMap[m.resource]),
    ];
    for (var option of m.options) {
      targets.push(sanitize(optionNamesMap[option]));
    }
    for (var part of parts) {
      if (!targets.some((target) => contains(target, part))) {
        return false;
      }
    }
    return true;
  };
}

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      needs: needs,
      allMatches: matches,
      allOrganizationMatches: organizationMatches,
      organizationsNamesMap: organizationsNamesMap,
      resourceNamesMap: resourceNamesMap,
      optionNamesMap: optionNamesMap,
      search: "",
      resourceSelected: "{{ preselected_resource }}",
      matchTypeSelected: "",
      organizationSelected: "",
      carouselImages: [],
      showBy: "resources",
      messagesOpen: {},
    };
  },
  methods: {
    highlightSearch: highlightSearch,
    setShowBy(x) {
      this.showBy = x;
      this.selectResource("", "");
    },
    selectResource(resource, matchType) {
      this.organizationSelected = "";
      this.resourceSelected = resource;
      this.matchTypeSelected = matchType;
    },
    selectOrganization(org) {
      this.resourceSelected = "";
      this.matchTypeSelected = "";
      this.organizationSelected = org.id;
    },
    setCarouselImages(images) {
      this.carouselImages = images;
    },
    filterMatches(matches) {
      var m = {};
      for (var k in matches) {
        m[k] = matches[k].filter(matchContains(this.search));
      }
      return m;
    },
    concatenateMatches(matches) {
      var l = [];
      Object.keys(matches).forEach((k) => {
        l = [...l, ...matches[k]];
      });
      return l;
    },
    extractSelectedOptions(optionsMap) {
      return Object.keys(optionsMap).map(k => {
        if (optionsMap[k]) {
          return k;
        }
        return "";
      }).filter(v => v);
    },
    sendMessage(href) {
      var m = this.messagesOpen[href];
      if (!this.messagesOpen[href]) {
        this.messagesOpen[href] = {message: "", options: {}};
        return;
      }
      this.messagesOpen[href].loading = true;
      post(
        href,
        "{{ csrf_token }}",
        { message: m.message, options: this.extractSelectedOptions(m.options) },
      ).then(response => {
        if (!response.ok) {
          throw "Bad response";
        }
        m.result = true;
        m.loading = false;
      }).catch(err => {
        m.error = true;
        m.loading = false;
      });
    },
    toggleMessageOption(key, option) {
      this.messagesOpen[key].options[option] = !this.messagesOpen[key].options[option];
    },
    messageFormOk(values) {
      if (!values) {
        return true;
      }
      var selectedOptions = Object.keys(values.options).map(k => values.options[k]).filter(v => v);
      return values.message && this.extractSelectedOptions(values.options).length > 0;
    },
  },
  computed: {
    matched_needs() {
      return this.needs.filter(n => n in matches.offerMatches || n in matches.needMatches);
    },
    matches() {
      return {
        offerMatches: this.filterMatches(this.allMatches.offerMatches),
        needMatches: this.filterMatches(this.allMatches.needMatches),
      };
    },
    organizationsWithMatches() {
      return this.allOrganizationMatches.map(o => {
        return {
          organization: o.organization,
          matches: o.matches.filter(matchContains(this.search)),
        };
      }).filter(o => o.matches.length > 0);
    },
    organizationMatches() {
      var org = this.allOrganizationMatches.find(o => o.organization.id === this.organizationSelected);
      return org ? org.matches.filter(matchContains(this.search)) : [];
    },
  },
}).mount("#app");
</script>
{% endblock %}

