{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import images_modal_vue, match_filter_row_vue, vue_js, show_matches_vue, match_contains_func_js, matches_methods_vue, sidebar_filter_show_link, initial_loading_vue %}

{% block title %}
{{ _("Has lligat!") }}
{% endblock %}

{% block css %}
{% if wizard_finished %}
<link rel="stylesheet" href="https://unpkg.com/@sjmc11/tourguidejs/dist/css/tour.min.css">
{% endif %}
{% endblock %}

{% block content %}
{% if len(json_data.matches) > 0 %}
<main id="content" class="container container-large">
  <div id="app" class="d-flex flex-column flex-lg-row">
    <div class="flex-third">
      <h1>{{ _("Has lligat!") }}</h1>
      {{ sidebar_filter_show_link() }}
      <div class="collapse show" id="sidebar-filter">
        <input v-model="search" type="text" class="form-control" placeholder="{{ _("Cerca recursos o organitzacions") }}">
        <ul class="nav nav-pills flex-column mb-auto mt-2">
          <h2 class="resource-matches-title background-yellow">{{ _("Que necessiteu?") }}</h2>
          <template v-for="resource of matched_needs" :key="resource">
            <li v-if="resource.resource in matches" class="nav-item">
              <button
                @click="selectResource(resource.resource)"
                class="nav-link w-100 text-start"
                :class="{active: resourceSelected === resource.resource}"
                type="button"
                role="tab"
                aria-selected="false"
                aria-current="page">
                <span
                  v-if="resource.resource in matches"
                  class="float-end badge ms-2 bg-light"
                  title="{{ _("Entitats que ofereixen o necessiten recursos") }}">
                  ${ matches[resource.resource].length }
                </span>
                <i class="me-2" :class="resourceIconsMap[resource.resource]"></i>
                ${ resourceNamesMap[resource.resource] }

                <br />
                <span class="badge bg-light me-2" v-for="option in resource.options" :key="option">${ optionNamesMap[option] }</span>
              </button>
            </li>
          </template>
        </ul>
      </div>
    </div>

    <div class="flex-gap"></div>

    <div class="flex-two-thirds">
      {{ initial_loading_vue() }}
      <template v-else>
        <div v-if="resourceSelected" class="mt-3">
          <h2 class="match-resource-title">${ resourceNamesMap[resourceSelected] }</h2>
          <div class="matches-count"><span>${ matches[resourceSelected].length } {{ _("resultats") }}</span></div>
          {{ show_matches_vue("matches[resourceSelected]", needs="needs", origin="MATCHES") }}
        </div>
        <div v-else class="mt-3">
          <h2 class="match-resource-title">{{ _("Tot") }}</h2>
          <div class="matches-count"><span>${ concatenateMatches(matches).length } {{ _("resultats") }}</span></div>
          {{ show_matches_vue("concatenateMatches(matches)", needs="needs", origin="MATCHES") }}
        </div>
      </div>
    </template>

    {{ images_modal_vue() }}
  </div>
</main>
{% else %}
<div class="container text-center pt-4">
  <h1>{{ _("Sembla que no hi ha sort...") }}</h1>
  <p>{{ _("No hem trobat lligues per les vostres necessitats dins de la distància que teniu marcada en preferències.") }}</p>
  <p>{{ _("No cal patir! Amb el temps s'incorporaran noves entitats que probablement compartisquen les mateixes necessitats que vosaltres. Podeu tornar a comprovar-ho en uns dies.") }}</p>
</div>
{% endif %}
{% endblock %}

{% block js %}
{% if wizard_finished %}
<script src="https://unpkg.com/@sjmc11/tourguidejs/dist/tour.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const tg = new tourguide.TourGuideClient({
  nextLabel: "{{ _("Següent") }}",
  prevLabel: "{{ _("Anterior") }}",
  finishLabel: "{{ _("Acaba") }}",
})

tg.addSteps([{
  title: "{{ _("Has acabat el procés d'alta!") }}",
  content: "<p>{{ _("Has acabat d'introduir la informació de la teua organització. A partir d'ara podeu buscar i contactar amb altres organitzacions, i altres organitzacions també poden entrar en contacte amb vosaltres.") }}</p>",
  order: 0,
}, {
  title: "{{ _("Això és tot!") }}",
  content: "<p>{{ _("No us oblideu d'anar revisant les dades cada cert temps!") }}</p>",
  order: 999,
}])

tg.start()

if (history.replaceState) {
  history.replaceState(null, "", "?wizard_finished=false")
}
</script>
{% endif %}
{{ vue_js() }}
<script>
var jsonData = getJsonData();

{{ match_contains_func_js() }}

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      needs: jsonData.needs,
      allMatches: jsonData.matches,
      resourceNamesMap: jsonData.resource_names_map,
      optionNamesMap: jsonData.option_names_map,
      resourceIconsMap: jsonData.resource_icons_map,
      search: "",
      resourceSelected: "",
      carouselImages: [],
      messagesOpen: {},
    };
  },
  methods: {
    highlightSearch: highlightSearch,
    selectResource(resource) {
      if (this.resourceSelected === resource) {
        this.resourceSelected = "";
      } else {
        this.resourceSelected = resource;
      }
    },
    setCarouselImages(images) {
      this.carouselImages = images;
    },
    optionMatches(resource, option, needs) {
      let need = needs.find(n => n.resource === resource);
      if (need) {
        return need.options.indexOf(option) !== -1;
      }
      return false;
    },
    {{ matches_methods_vue(csrf_token) }}
  },
  computed: {
    matched_needs() {
      return this.needs.filter(n => n.resource in jsonData.matches);
    },
    matches() {
      return this.filterMatches(this.allMatches);
    },
  },
}).mount("#app");
</script>
{% endblock %}

