{% extends "femlliga/_base_template.html" %}

{% block title %}{{ page.heading }}{% endblock %}

{% block content %}
<section>
  <div class="container pt-100px">
    <h1 class="text-center lg:w-50 m-center page-title">{{ page.heading }}</h1>
  </div>
</section>
<div class="container">
  <div class="divider-3"></div>
  <h2 class="text-center page-subheading">{{ page.subheading }}</h2>
  <div>
    <img src="{{ static("decorations/heading-bird.png") }}" alt="" class="m-decoration-image" loading="lazy">
  </div>
</div>

<section class="fons-cercle-groc">
  <div class="fons-imatge{% if page.image %} background-{{ page.image }}{% endif %}">
    <div class="container static-page">
    {{ clean(page.content)|safe }}
    </div>
  </div>
</section>
{% endblock %}
