{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import form_feedback, input_classes, input_value, input_feedback, render_select %}

{% block title %}{{ _("Preferències") }}{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ _("Preferències") }}</h1>

  <form method="post" class="mt-2">
    {{ csrf_input }}
    {{ form_feedback(form) }}

    <label for="id_email">
      <strong>{{ _("Adreça de correu electrònic.") }}</strong>
      {{ _("Si modifiques l'adreça, el canvi s'aplicarà quan valides la nova adreça") }}
      {% if other_emails %}
      {{ _("(correus pendents de validar: %(emails)s)", emails=other_emails) }}
      {% endif %}
    </label>
    <input type="text" {{ input_classes(form, "email") }} name="email" autocomplete="{{ _("Nom") }}" id="id_email" {{ input_value(form, "email") }} required>
    {{ input_feedback(form, "email") }}

    <div class="mt-3">
      {{ render_select(form, "notifications_frequency", _("Configura cada quant de temps vols rebre notificacions. Només te n'enviarem en cas que tingues peticions pendents de respondre.")) }}
    </div>

    <div class="form-check mt-3">
      <input class="form-check-input" type="checkbox" id="accept_communications_automatically" name="accept_communications_automatically"
             {% if form and form.cleaned_data and form.cleaned_data["accept_communications_automatically"] %}checked{% endif %}>
      <label class="form-check-label" for="accept_communications_automatically">
        {{ _("Marca aquest camp si vols iniciar conversa per correu automàticament per a totes les peticions de comunicació") }}
      </label>
    </div>

    <button type="submit" class="btn btn-custom mt-2">{{ _("Desa") }}</button>
  </form>
</div>
{% endblock %}
