{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import organization_info, organization_map_js, leaflet_css, leaflet_js, organization_header %}

{% block title %}{{ _("Perfil") }}{% endblock %}

{% block css %}{{ leaflet_css() }}{% endblock %}

{% block content %}
<div class="container">
  <div class="w-80 m-center">
    {{ organization_header(org, edit_link=True) }}
    {{ organization_info(org) }}
  </div>
</div>
{% endblock %}

{% block js %}
{{ leaflet_js() }}
<script>
{{ organization_map_js(org) }}
</script>
{% endblock %}

