{% extends "femlliga/_base_template.html" %}

{% from "femlliga/_macros.html" import leaflet_css, leaflet_js, organization_map_js %}

{% block css %}{{ leaflet_css() }}{% endblock %}

{% block title %}{{ _("Anuncis") }}{% endblock %}

{% block content %}
<main id="content" class="container">
  <h2>
    {{ announcement.need.organization.name }}
    {{ _("necessita") }}
    {{ announcement.option }}
  </h2>
  <p>
    <strong>
      {{ _("Província de") }}
    </strong>
    {{ announcement.get_province().name }}
  </p>
  <p class="pre-wrap">{{ announcement.comments }}</p>
  <div class="text-center">
    <a href="{{ url("contact_public_announcement", args=[announcement.id]) }}" class="btn btn-custom">
      {{ _("Contacta amb la organització") }}
    </a>
  </div>

  <div id="citymap" class="map-height mt-2"></div>
</main>
{% endblock %}

{% block js %}
{{ leaflet_js() }}
<script>
{{ organization_map_js(announcement.need.organization) }}
</script>
{% endblock %}

