{% extends "femlliga/_base_template.html" %}

{% from "femlliga/_macros.html" import leaflet_css, leaflet_js, organization_map_js, vue_js, initial_loading_vue, input_classes, input_value, textarea_value, input_feedback, form_feedback, page_title, arrow_btn, arrow_btn_content %}

{% block css %}{{ leaflet_css() }}{% endblock %}

{% block title %}{{ _("Anuncis") }}{% endblock %}

{% block content %}
<main id="content" class="container">
  {{ page_title(announcement.title) }}
  <p class="mb-0">
    {{ announcement.organization.name }}
    {{ _("necessita") }}
    {{ announcement.option }}
  </p>
  <p>
    <strong>
      {{ _("Província de") }}
    </strong>
    {{ announcement.get_province().name }}
  </p>
  <p class="pre-wrap">{{ announcement.description }}</p>

  <form method="POST" action="{{ url("public_announcement", args=[announcement.id]) }}" class="mb-4">
    <div id="vue-app">
      <template v-if="sending">
        {{ csrf_input }}
        {{ form_feedback(form) }}

        <label for="id_name">{{ _("Nom i cognoms") }}</label>
        <input type="text" {{ input_classes(form, "name") }} name="name" autocomplete="{{ _("Nom") }}" id="id_name" {{ input_value(form, "name") }} required>
        {{ input_feedback(form, "name") }}

        <label for="id_email">{{ _("El teu correu electrònic. T'enviarem una còpia del missatge, i la organització el farà servir per posar-se en contacte amb tu.") }}</label>
        <input type="email" {{ input_classes(form, "email") }} name="email" id="id_email" {{ input_value(form, "email") }} required>
        {{ input_feedback(form, "email") }}

        <label for="id_message" class="mt-2">{{ _("Missatge per a la organització") }}</label>
        <textarea id="message" name="message" rows="8" {{ input_classes(form, "message") }} required>{{ textarea_value(form, "message") }}</textarea>
        {{ input_feedback(form, "message") }}

        <div class="mt-2"></div>
      </template>
      <template v-else>
        <div class="text-center">
          <button class="btn btn-arrow" @click="open">
            <div class="d-flex align-items-stretch">
              {{ arrow_btn_content(_("Contacta amb la organització"), icon="bi-send") }}
            </div>
          </button>
        </div>
      </template>
    </div>
    <div id="submitFooter" class="d-none">
      {{ form.captcha }}
      <div class="mt-3">{{ arrow_btn(_("Envia"), "bi-send") }}</div>
    </div>
  </form>

  <div id="citymap" class="map-height mt-2"></div>
</main>
{% endblock %}

{% block js %}
{{ leaflet_js() }}
{{ vue_js() }}
<script>
{{ organization_map_js(announcement.organization) }}
var jsonData = getJsonData();
Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      sending: jsonData.sending,
    };
  },
  mounted() {
    if (this.sending) {
      this.open();
    }
  },
  methods: {
    open() {
      this.sending = true;
      document.getElementById("submitFooter").classList.remove("d-none");
    }
  },
}).mount("#vue-app");
</script>
{% endblock %}

