{% extends "femlliga/_base_template.html" %}

{% from "femlliga/_macros.html" import vue_js, page_title, arrow_btn_link %}

{% block title %}{{ _("Anuncis") }}{% endblock %}

{% block content %}
<main id="content" class="container">
  {{ page_title(_("Anuncis publicats per les organitzacions de Fem lliga")) }}
  <div id="vue-app" class="row">
    <div class="col-md-6 mt-2">
      <input v-model="search" class="form-control border" type="text" placeholder="{{ _("Cerca anuncis") }}">
    </div>
    <div class="col-md-6 mt-2">
      <select v-model="province" class="form-select">
        <option value="">{{ _("Filtra per província") }}</option>
        {% for code, name in provinces %}
        <option value="{{ code }}">{{ name }}</option>
        {% endfor %}
      </select>
    </div>

    <template v-if="announcements.length > 0">
      <div v-for="a in announcements" class="col-12 col-sm-6 col-md-4 mt-2">
        <div class="match-box p-3">
          <h2 v-html="highlightSearch(a.title, search)" class="fw-600 mt-0"></h2>
          <p class="mb-0">
            <strong><a :href="a.organization.href" target="_blank"><span v-html="highlightSearch(a.organization.name, search)"></span></a></strong>
            {{ _("necessita") }}
            <span v-html="highlightSearch(a.option, search)"></span>
          </p>
          <p>
            <strong>
              {{ _("Ubicació de l'entitat:") }}
            </strong>
            {{ _("província de") }}
            <span v-html="highlightSearch(a.organization.province.name, search)" class="pre-wrap"></span>
          </p>
          <p v-html="highlightSearch(a.description, search)" class="pre-wrap"></p>
          <div class="text-center">
            {{ arrow_btn_link(_("Veure detalls"), "a.public_href", "bi-caret-right", vue=True) }}
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <p class="text-center mt-3"><em>{{ _("No s'ha publicat cap anunci que encaixe amb el filtre") }}</em></p>
    </template>
  </div>
</main>
{% endblock %}

{% block js %}
{{ vue_js() }}
<script>

function announcementContains(search) {
  return function(a) {
    const parts = sanitize(search).split(" ").filter(x => x !== "");
    const targets = [
      sanitize(a.title),
      sanitize(a.description),
      sanitize(a.option),
      sanitize(a.organization.name),
      sanitize(a.organization.province.name),
    ];
    for (var part of parts) {
      if (!targets.some((target) => contains(target, part))) {
        return false;
      }
    }
    return true;
  };
}

var jsonData = getJsonData();
Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      search: "",
      province: "",
      allAnnouncements: jsonData.announcements,
    };
  },
  methods: {
    highlightSearch: highlightSearch,
  },
  computed: {
    announcements() {
      return this.allAnnouncements.filter(announcementContains(this.search)).filter(a => {
        if (!this.province) {
          return true;
        }
        return a.organization.province.id === this.province;
      });
    },
  },
}).mount("#vue-app");
</script>
{% endblock %}

