{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import leaflet_css, leaflet_js, modal, page_title, arrow_btn %}

{% block title %}{{ _("Informe") }}{% endblock %}

{% block css %}{{ leaflet_css() }}{% endblock %}

{% block content %}
<div class="container">
  {{ page_title(_("Informe d'activitat de la plataforma")) }}
  <p class="text-center fst-italic mt--50px mb-60px">{{ report_statistics.requests_count }} {{ _("consultes rebudes") }}</p>

  <ul class="nav">
    {% if not public %}
    {{ tab_nav("map", _("Mapa"), active_tab, onclick="redrawMap()") }}
    {% endif %}
    {{ tab_nav("organizations", _("Organitzacions"), active_tab) }}
    {{ tab_nav("resources", _("Recursos"), active_tab) }}
    {{ tab_nav("agreements", _("Peticions"), active_tab) }}
    {% if not public %}
    {{ tab_nav("comments", _("Observacions"), active_tab) }}
    {% endif %}
  </ul>

  <div class="tab-content">
    {% if not public %}
    {{ tab_content("map", tab_map, active_tab) }}
    {% endif %}
    {{ tab_content("organizations", tab_organizations, active_tab) }}
    {{ tab_content("resources", tab_resources, active_tab) }}
    {{ tab_content("agreements", tab_agreements, active_tab) }}
    {% if not public %}
    {{ tab_content("comments", tab_comments, active_tab) }}
    {% endif %}
  </div>
</div>
{% endblock %}

{% macro tab_nav(id, text, active_tab, onclick=None) %}
<li class="nav-item">
  <button id="{{ id }}-tab" class="nav-link {% if active_tab == id %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#{{ id }}-pane" type="button" role="tab" aria-controls="{{ id }}-pane" aria-selected="{% if active_tab == id %}true{% else %}false{% endif %}" {% if onclick %}onclick="{{ onclick }}"{% endif %}>
    {{ text }}
  </button>
</li>
{% endmacro %}

{% macro tab_content(id, content_macro, active_tab) %}
<div id="{{ id }}-pane" class="tab-pane fade {% if active_tab == id %}active show{% endif %}" role="tabpanel" aria-labelledby="{{ id }}-tab">
  {% if active_tab == id %}
    {{ content_macro(active_form) }}
  {% else %}
    {{ content_macro(inactive_form) }}
  {% endif %}
</div>
{% endmacro %}

{% macro plot(data) %}
<div class="text-center">
  <img src="data:image/png;base64,{{ data }}"/>
</div>
{% endmacro %}

{% macro render_dataframe(df) %}
{{ clean(style_dataframe(df).to_html(), style=True)|safe }}
{# maybe plot too {{ plot(table.plot()) }} #}
{% endmacro %}

{% macro tab_map(form) %}
{{ organizations_form("map", form, "", "") }}
<div id="map" class="h-70vh mt-3">
  {{ _("No s'ha trobat cap organització que complisca el filtre") }}
</div>
{% endmacro %}

{% macro tab_organizations(form) %}
{{ organizations_form("organizations", form, form.group_orgs_by.as_field_group(), zero_switches(form)) }}
{{ render_dataframe(organizations_df) }}
{% endmacro %}

{% macro organizations_form(tab, form, pre_inputs, post_inputs) %}
<form method="post" action="?tab={{ tab }}">
  {{ csrf_input }}

  {{ pre_inputs }}

  <div class="row mt-3">
    <div class="col-md-4">{{ form.province.as_field_group() }}</div>
    <div class="col-md-4">{{ form.org_type.as_field_group() }}</div>
    <div class="col-md-4">{{ form.org_scope.as_field_group() }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">{{ form.start_date.as_field_group() }}</div>
    <div class="col-md-6">{{ form.end_date.as_field_group() }}</div>
  </div>

  {{ post_inputs }}

  <div class="mt-3">{{ arrow_btn(_("Filtra"), "bi-filter") }}</div>
</form>
{% endmacro %}

{% macro tab_resources(form) %}
<form method="post" action="?tab=resources">
  {{ csrf_input }}

  {{ form.group_resources_by.as_field_group() }}

  <div class="row mt-3">
    <div class="col-md-4">{{ form.province.as_field_group() }}</div>
    <div class="col-md-4">{{ form.org_type.as_field_group() }}</div>
    <div class="col-md-4">{{ form.org_scope.as_field_group() }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4">{{ form.resource.as_field_group() }}</div>
    <div class="col-md-4">{{ form.resource_option.as_field_group() }}</div>
    <div class="col-md-4">{{ form.charge.as_field_group() }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">{{ form.start_date.as_field_group() }}</div>
    <div class="col-md-6">{{ form.end_date.as_field_group() }}</div>
  </div>

  {{ zero_switches(form) }}

  <div class="mt-3">
    {{ arrow_btn(_("Filtra"), "bi-filter") }}
    {% if not public and (needs_comments or offers_comments) %}
      <a data-bs-toggle="modal" href="#resource-comments-modal" role="button" class="btn btn-light">
        {{ _("Consulta els comentaris") }}
      </a>
    {% endif %}
  </div>
</form>
{{ render_dataframe(resources_df) }}
{% if not public and (needs_comments or offers_comments) %}
  {{ modal("resource-comments-modal", resource_comments_modal_content()) }}
{% endif %}
{% endmacro %}

{% macro resource_comments_modal_content() %}
<h2>{{ _("Paraules més utilitzades en els comentaris") }}</h2>
<ul class="columns-3">
  {% for word, count in filtered_resources_comment_word_counts.most_common(9) %}
  <li>({{ count }}) {{ word }}</li>
  {% endfor %}
</ul>

<div class="row">
  <div class="col-md-6">
    <h2>{{ _("Comentaris a necessitats") }}</h2>
    {% for comment in needs_comments %}
    <p class="pre-wrap">{{ comment }}</p>
    <hr />
    {% endfor %}
  </div>
  <div class="col-md-6">
    <h2>{{ _("Comentaris a oferiments") }}</h2>
    {% for comment in offers_comments %}
    <p class="pre-wrap">{{ comment }}</p>
    <hr />
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro tab_agreements(form) %}
<form method="post" action="?tab=agreements">
  {{ csrf_input }}

  {{ form.group_agreements_by.as_field_group() }}

  <div class="row mt-3">
    <div class="col-md-4">{{ form.solicitor_province.as_field_group() }}</div>
    <div class="col-md-4">{{ form.solicitor_org_type.as_field_group() }}</div>
    <div class="col-md-4">{{ form.solicitor_org_scope.as_field_group() }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4">{{ form.solicitee_province.as_field_group() }}</div>
    <div class="col-md-4">{{ form.solicitee_org_type.as_field_group() }}</div>
    <div class="col-md-4">{{ form.solicitee_org_scope.as_field_group() }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">{{ form.resource.as_field_group() }}</div>
    <div class="col-md-6">{{ form.resource_option.as_field_group() }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">{{ form.communication_start_date.as_field_group() }}</div>
    <div class="col-md-6">{{ form.communication_end_date.as_field_group() }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">{{ form.agreement_start_date.as_field_group() }}</div>
    <div class="col-md-6">{{ form.agreement_end_date.as_field_group() }}</div>
  </div>

  {{ zero_switches(form) }}

  <div class="mt-3">{{ arrow_btn(_("Filtra"), "bi-filter") }}</div>
</form>

{{ render_dataframe(agreements_df) }}
{% endmacro %}

{% macro zero_switches(form) %}
  <div class="row">
    <div class="col-md-6">{{ form.hide_zeroes.as_field_group() }}</div>
    <div class="col-md-6">{{ form.show_only_zeroes.as_field_group() }}</div>
  </div>
{% endmacro %}

{% macro tab_comments(form) %}
<p>Paraules més repetides en els comentaris de necessitats i oferiments. Es poden excloure paraules de la llista.</p>

<ul class="columns-3">
  {% for word, count in comment_word_counts.most_common(51) %}
  <li>
    <form method="post" class="d-inline">
      {{ csrf_input }}
      <input type="hidden" name="delete_word" value="{{ word }}">
      <button type="submit" class="btn btn-sm btn-outline-danger"><i class="bi-trash"></i></button>
    </form>
    ({{ count }}) {{ word }}
  </li>
  {% endfor %}
</ul>

<p>Paraules excloses de la cerca: {{ excluded_words }}</p>
{% endmacro %}

{% block js %}
{{ leaflet_js() }}
<script>
var orgs = getJsonData().organizations;

let map;
function redrawMap() {
  if (map) {
    map.invalidateSize(false);
    map.fitBounds(group.getBounds());
  }
}

if (orgs.length > 0) {
  var lat = 0, lng = 0;
  for (var i = 0; i < orgs.length; i++) {
      lat += +orgs[i].lat;
      lng += +orgs[i].lng;
  }

  map = L.map('map').setView([lat / orgs.length, lng / orgs.length], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var markers = [];
  for (var i = 0; i < orgs.length; i++) {
      var o = orgs[i];
      var marker = L.marker([+o.lat, +o.lng]).addTo(map);
      marker.bindPopup(`${o.name}`);
      markers.push(marker);
  }

  var group = new L.featureGroup(markers);

  redrawMap();
}
</script>
{% endblock %}

