{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, input_feedback, form_feedback, render_multiple_tags %}

{% block content %}
<div class="container">
{% if not forced %}
<div class="progress" style="margin-top: 20px;">
  {% set percent = count / total * 100 %}
  <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">{{ count }} / {{ total }}</div>
</div>
{% endif %}

<h1>{{ resource.question(resource_type) }}</h1>

<form method="post" action="{{ request.path }}" enctype="multipart/form-data" class="mb-1">
    {{ csrf_input }}
    {{ form_feedback(form) }}

    <input type="hidden" id="resource" name="resource" value="{{ resource.code }}">

    {% set options = resource.options() %}
    {% if len(options) > 0 %}
        {{ render_multiple_tags(form, "options", "En cas que si, per favor indiqueu quins dels següents apliquen:", options) }}
    {% endif %}

    {% if resource_type == "offers" %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="charge" name="charge"
               {% if form and form.cleaned_data and form.cleaned_data["charge"] %}checked{% endif %}>
        <label class="form-check-label" for="charge">
          Marca aquest camp si demaneu alguna retribució a canvi del producte o servei
        </label>
      </div>
    {% endif %}

    <div class="spacing"></div>

    <label for="comments">Comentaris, observacions, o altres opcions que us interessarien:</label>
    <textarea id="comments" name="comments" rows="2" {{ input_classes(form, "comments") }}>{% if form.cleaned_data and form.cleaned_data["comments"] %}{{ form.cleaned_data["comments"] }}{% endif %}</textarea>
    {{ input_feedback(form, "comments") }}

    {% if db_resource %}
        {% for image in db_resource.images.all() %}
        <div class="d-flex align-items-center">
            <div class="thumbnail"><img src="{{ image.image.url }}"></div>
            <div class="form-check" style="display: inline-block; margin-left: 20px;">
                {% set name = "delete-image-%d" % (image.id,) %}
                <input class="form-check-input" type="checkbox" value="" id="id_{{ name }}" name="{{ name }}">
                <label class="form-check-label" for="{{ name }}">
                    Esborra la imatge
                </label>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% if resource_type == "offers" %}
      {{ imageforms.management_form }}
      {% for i, imageform in enumerate(imageforms) %}
          <div id="add-image-{{ i }}" style="display: none;">
              {% set field = imageform.image %}
              <label for="id_{{ field.html_name }}" style="margin-top: 10px;">Imatge</label>
              <input type="file" {{ input_classes(imageform, field.html_name) }} name="{{ field.html_name }}" autocomplete="Imatge" id="id_{{ field.html_name }}" {{ input_value(imageform, field.html_name) }}>
              {{ input_feedback(imageform, field.html_name) }}
          </div>
      {% endfor %}

      <a class="btn btn-custom" style="border-radius: 50px; margin-top: 20px;" id="add-image-button" href="#" onclick="addImage()">
          <i class="bi-plus-lg"></i> Afegeix imatge
      </a>
    {% endif %}

    <div class="row" style="margin-top: 15px;">
      <div class="col-6 d-grid gap-2">
        <button type="submit" class="btn btn-lg btn-danger" name="has_resource" value="no">
          {{ resource.answer_no(resource_type) }}
        </button>
      </div>
      <div class="col-6 d-grid gap-2">
        <button type="submit" class="btn btn-lg btn-success" name="has_resource" value="yes">
          {{ resource.answer_yes(resource_type) }}
        </button>
      </div>
      {% if forced %}
      <div class="col-12 d-grid" style="margin-top: 15px;">
        <a href="{{ url("app") }}" class="btn btn-lg btn-light text-dark">Torna sense fer canvis</a>
      </div>
      {% endif %}
    </div>
</form>
</div>

<script>
function addImage() {
    for (let i = 0; i < 6; i++) {
        var element = document.getElementById("add-image-" + i);
        if (element.style.display == "none") {
            element.style.display = "block";
            if (i === 5) {
                document.getElementById("add-image-button").style.display = "none";
            }
            return;
        }
    }
}
</script>
{% endblock %}

