{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, textarea_value, input_feedback, form_feedback, render_formset_field, vue_js, organization_header %}

{% block title %}
{% if editing %}
{{ _("Edita") }}
{% else %}
{{ _("Alta") }}
{% endif %}
{% if resource_type == "need" %}
{{ _("necessitat") }}
{% else %}
{{ _("oferiment") }}
{% endif %}
{{ resource }}
{% endblock %}

{% block content %}
<div class="container mb-5">
  {{ organization_header(org) }}
  <div class="d-flex flex-column flex-lg-row">
    <div class="flex-third">
      {{ all_steps(resource_type, count) }}
    </div>
    <div class="flex-gap"></div>
    <div class="flex-two-thirds bg-lightgrey br-1rem p-3">
      {{ resource_edit() }}
    </div>
  </div>
</div>
{% endblock %}

{% macro resource_edit() %}
  <h2 class="mt-0">
    <i class="{{ resource_icon(resource.code) }}"></i>
    {{ resource }}
  </h2>
  {% if resource_description(resource.code) %}
  <p><em>{{ resource_description(resource.code) }}</em></p>
  {% endif %}

  <div id="vue-app">
    <form method="post" enctype="multipart/form-data" class="mb-1">
      {{ csrf_input }}
      {{ form_feedback(form) }}

      <input type="hidden" id="resource" name="resource" value="{{ resource.code }}">

      <label for="resource_options">
        {% if resource.code != "OTHER" %}
        {% if resource_type == "needs" %}
        {{ _("Selecciona les opcions que necessiteu:") }}
        {% else %}
        {{ _("Selecciona les opcions que oferiu:") }}
        {% endif %}
        {% endif %}
      </label>
      {% set options = resource.options() %}
      {% if len(options) > 0 and form.fields["options"] %}
        <div id="resource_options" class="multi-select multi-select-badges mb-3">
          {% for choice in options %}
          {% if form and form.cleaned_data and choice[0] in form.cleaned_data["options"] %}
            {% set selected=True %}
          {% endif %}
          <div class="btn-group me-2 mb-1" role="group">
            <button
              class="btn badge multi-select-choice m-0"
              :class="{'selected': selected.indexOf('{{ choice[0] }}') !== -1}"
              type="button"
              role="switch"
              value="{{ choice[0] }}"
              @click="toggleOption('{{ choice[0] }}')"
            >
              {{ choice[1] }}
            </button>
          </div>
          {% endfor %}
        </div>
        <select
          v-model="selected"
          id="id_options"
          name="options"
          class="d-none multi-select {% if form.errors["options"] %} is-invalid{% endif %}"
          multiple
        >
          {% for choice in options %}
          <option value="{{ choice[0] }}">
            {{ choice[1] }}
          </option>
          {% endfor %}
        </select>
        {{ input_feedback(form, "options") }}
      {% endif %}

      {% if resource_type == "offers" %}
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="charge" name="charge" role="switch"
                 {% if form and form.cleaned_data and form.cleaned_data["charge"] %}checked{% endif %}>
          <label class="form-check-label" for="charge">
            {{ _("Producte o servei remunerat") }}
          </label>
        </div>
        {% if resource.code == "PLACE" %}
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="place_accessible" name="place_accessible" role="switch"
                   {% if form and form.cleaned_data and form.cleaned_data["place_accessible"] %}checked{% endif %}>
            <label class="form-check-label" for="place_accessible">
              {{ _("Local accessible") }}
            </label>
          </div>
        {% endif %}
      {% endif %}

      <div class="spacing"></div>

      <label class="mt-2" for="comments">{{ _("Observacions o aclariments") }}</label>
      <textarea id="comments" name="comments" rows="2" {{ input_classes(form, "comments") }}>{{ textarea_value(form, "comments") }}</textarea>
      {{ input_feedback(form, "comments") }}

      {% if db_resource %}
          {% for image in db_resource.images.all() %}
          <div class="d-flex mt-2 align-items-center">
              <div class="thumbnail"><img src="{{ image.image.url }}" loading="lazy"></div>
              <div class="form-check d-inline-block ms-3">
                  {% set name = "delete-image-%d" % (image.id,) %}
                  <input class="form-check-input" type="checkbox" value="" id="id_{{ name }}" name="{{ name }}">
                  <label class="form-check-label" for="{{ name }}">
                    {{ _("Esborra la imatge") }}
                  </label>
              </div>
          </div>
          {% endfor %}
      {% endif %}

      {% if resource_type == "offers" %}
        {{ imageforms.management_form }}
        {% for i, imageform in enumerate(imageforms) %}
          <div id="add-image-{{ i }}" {% if not imageform.errors["image"] %}class="d-none"{% endif %}>
            {{ render_formset_field(imageform, imageform.image, "image", "file", "Imatge") }}
          </div>
        {% endfor %}

        <a class="btn btn-custom mt-3" onclick="addImage(event)">
          <i class="bi-plus-lg"></i> {{ resource.add_image_label() }}
        </a>
      {% endif %}

      <div class="row mt-3">
        <div class="col-6">
          {% if editing %}
          <a href="{{ url("app") }}" class="btn btn-lg btn-brown">{{ _("Torna sense fer canvis") }}</a>
          {% elif count > 1 %}
          <a href="{{ wizard_url(org.id, count-1) }}" class="btn btn-lg btn-brown">{{ _("Anterior") }}</a>
          {% endif %}
        </div>
        <div class="col-6 text-end">
          <button type="submit" class="btn btn-lg btn-warning">
            {% if editing %}
            {{ _("Desa els canvis") }}
            {% elif count == len(consts.RESOURCES) * 2 %}
            {{ _("Comprova si has lligat!") }}
            {% else %}
            {{ _("Següent") }}
            {% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endmacro %}

{% block js %}
{{ vue_js() }}
<script>
function addImage(event) {
    for (let i = 0; i < 6; i++) {
        var element = document.getElementById("add-image-" + i);
        if (element.classList.contains("d-none")) {
            element.classList.toggle("d-none");
            if (i === 5) {
                event.target.style.display = "none";
            }
            return;
        }
    }
}

var jsonData = getJsonData();
Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      selected: jsonData.selected,
    };
  },
  methods: {
    toggleOption(option) {
      let index = this.selected.indexOf(option);
      if (index === -1) {
        this.selected.push(option);
      } else {
        this.selected.splice(index, 1);
      }
    },
  },
}).mount("#vue-app");
</script>
{% endblock %}


{% macro resource_type_title(resource_type) %}
  {% if resource_type == "needs" %}
  {{ _("Què necessiteu?") }}
  {% else %}
  {{ _("Què oferiu?") }}
  {% endif %}
{% endmacro %}

{% macro steps(resource_type, current_resource_type, count) %}
  {% for i, resource in enumerate(consts.RESOURCES) %}
  <div class="{% if resource_type==current_resource_type and count-1==i %}bg-midblue{% endif %}">
    {% if editing %}
    <a href="{{ url("force-resources-wizard", kwargs={"organization_id": org.id, "resource_type": resource_type, "resource": resource[0]}) }}">
      <i class="{{ resource_icon(resource[0]) }}"></i>
      {{ resource_name(resource[0]) }}
    </a>
    {% else %}
      <i class="{{ resource_icon(resource[0]) }}"></i>
      {{ resource_name(resource[0]) }}
    {% endif %}
  </div>
  {% endfor %}
{% endmacro %}

{% macro all_steps(resource_type, count) %}
<h2>{{ resource_type_title("needs") }}</h2>
{{ steps("needs", resource_type, count) }}

<h2>{{ resource_type_title("offers") }}</h2>
{{ steps("offers", resource_type, count-len(consts.RESOURCES)) }}
{% endmacro %}
