{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import render_select_raw, organization_link, images_modal_vue, info_tooltip, match_filter_row_vue, vue_js, show_matches_vue, match_contains_func_js, matches_methods_vue %}

{% block title %}
Descobreix tot el que hi ha a Fem lliga!
{% endblock %}

{% block content %}
{% if len(json_data.matches.offerMatches) > 0 or len(json_data.matches.needMatches) > 0 %}
<main id="content" class="container-fluid">
  <div id="app" class="row">
    <div class="col-md-4 d-md-block bg-light sidebar">
      <h1>Descobreix tot el que hi ha a Fem lliga!</h1>
      <div class="btn-group w-100 mb-2" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn"
          @click="setShowBy('resources')"
          :class="{'btn-warning': showBy === 'resources', 'btn-light': showBy !== 'resources'}">
          Recursos
        </button>
        <button
          type="button"
          class="btn"
          @click="setShowBy('organizations')"
          :class="{'btn-warning': showBy === 'organizations', 'btn-light': showBy !== 'organizations'}">
          Organitzacions
        </button>
      </div>
      <input v-model="search" type="text" class="form-control" placeholder="Cerca recursos o organitzacions">
      <ul class="nav nav-pills flex-column mb-auto mt-2">
        <template v-if="showBy === 'resources'">
          <h2 class="resource-matches-title background-yellow">Ofereixen</h2>
          {{ match_filter_row_vue("offer", "Entitats que ofereixen recursos") }}
          <h2 class="resource-matches-title background-yellow-dark">Necessiten</h2>
          {{ match_filter_row_vue("need", "Entitats que necessiten recursos") }}
        </template>
        <template v-else>
          <li class="nav-item" v-for="x in organizationsWithMatches" :key="x.organization.id">
            <button
              @click="selectOrganization(x.organization)"
              class="nav-link w-100 text-start"
              :class="{active: organizationSelected && organizationSelected.id === x.organization.id}"
              type="button"
              role="tab"
              aria-selected="false"
              aria-current="page">
              <span class="float-end">
                <span
                  class="badge ms-2 bg-light"
                  title="Recursos que fan lliga">
                  ${ x.matches.length }
                </span>
              </span>
              <span v-html="highlightSearch(x.organization.name, search)"></span>
              <div class="fst-italic fs-7 text-body-secondary">A ${ x.organization.distance } de vosaltres </div>
            </button>
          </li>
        </template>
      </ul>
    </div>

    <div class="col-md-8 ms-sm-auto px-md-4">
      <div v-if="initialLoading" class="mt-4 text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Carregant...</span>
        </div>
      </div>
      <template v-else>
        <div v-if="resourceSelected" class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">${ resourceNamesMap[resourceSelected] }</h2>
            <div v-if="matchTypeSelected === 'offer'">
              <div class="matches-count"><span>${ matches.offerMatches[resourceSelected].length } resultats</span></div>
              {{ show_matches_vue("matches.offerMatches[resourceSelected]") }}
            </div>
            <div v-else>
              <div class="matches-count"><span>${ matches.needMatches[resourceSelected].length } resultats</span></div>
              {{ show_matches_vue("matches.needMatches[resourceSelected]") }}
            </div>
          </div>
        </div>
        <div v-else-if="organizationSelected" class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">${ organizationSelected.name }</h2>
            <div class="matches-count agreements-count"><span>${ organizationMatches.length } resultats</span></div>
            {{ show_matches_vue("organizationMatches") }}
          </div>
        </div>
        <div v-else class="row mt-3">
          <div class="col-12">
            <h2 class="match-resource-title">Tot</h2>
            <div class="matches-count"><span>${ concatenateMatches(matches.offerMatches).length + concatenateMatches(matches.needMatches).length } resultats</span></div>
            {{ show_matches_vue("concatenateMatches(matches.offerMatches)") }}
            {{ show_matches_vue("concatenateMatches(matches.needMatches)") }}
          </div>
        </div>
      </div>
    </template>

    {{ images_modal_vue() }}
  </div>
</main>
{% else %}
<div class="container text-center pt-4">
  <h1>Sembla que no hi ha sort...</h1>
  <p>No cal patir! Amb el temps s'incorporaran noves entitats que probablement compartisquen les mateixes necessitats que vosaltres. Podeu tornar a comprovar-ho en uns dies.</p>
</div>
{% endif %}
{% endblock %}

{% block js %}
{{ vue_js() }}
<script>
var jsonData = getJsonData();

{{ match_contains_func_js() }}

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      needs: jsonData.needs,
      allMatches: jsonData.matches,
      allOrganizationMatches: jsonData.organization_matches,
      resourceNamesMap: jsonData.resource_names_map,
      optionNamesMap: jsonData.option_names_map,
      resourceIconsMap: jsonData.resource_icons_map,
      search: "",
      resourceSelected: "",
      matchTypeSelected: "",
      organizationSelected: null,
      carouselImages: [],
      showBy: "resources",
      messagesOpen: {},
    };
  },
  methods: {
    highlightSearch: highlightSearch,
    setShowBy(x) {
      this.showBy = x;
      this.selectResource("", "");
    },
    selectResource(resource, matchType) {
      this.organizationSelected = null;
      this.resourceSelected = resource;
      this.matchTypeSelected = matchType;
    },
    selectOrganization(org) {
      this.resourceSelected = "";
      this.matchTypeSelected = "";
      this.organizationSelected = org;
    },
    setCarouselImages(images) {
      this.carouselImages = images;
    },
    {{ matches_methods_vue() }}
  },
  computed: {
    matched_needs() {
      return this.needs.filter(n => n in jsonData.matches.offerMatches || n in jsonData.matches.needMatches);
    },
    matches() {
      return {
        offerMatches: this.filterMatches(this.allMatches.offerMatches),
        needMatches: this.filterMatches(this.allMatches.needMatches),
      };
    },
    organizationsWithMatches() {
      return this.allOrganizationMatches.map(o => {
        return {
          organization: o.organization,
          matches: o.matches.filter(matchContains(this.search)),
        };
      }).filter(o => o.matches.length > 0);
    },
    organizationMatches() {
      var org = this.allOrganizationMatches.find(o => o.organization.id === this.organizationSelected.id);
      return org ? org.matches.filter(matchContains(this.search)) : [];
    },
  },
}).mount("#app");
</script>
{% endblock %}

