{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import images_modal_vue, match_filter_row_vue, vue_js, show_matches_vue, match_contains_func_js, matches_methods_vue, sidebar_filter_show_link, initial_loading_vue %}

{% block title %}
{{ _("Descobreix tot el que hi ha a Fem lliga!") }}
{% endblock %}

{% block content %}
{% if len(json_data.matches.offerMatches) > 0 or len(json_data.matches.needMatches) > 0 %}
<main id="content" class="container container-large mb-4">
  <h1 class="fs-2-5rem mt-100px text-center lg:w-50 m-center">
    {{ _("Descobreix tot el que hi ha a Fem lliga!") }}
  </h1>
  <div class="divider-3 mb-60px"></div>
  <div id="app" class="d-flex flex-column flex-lg-row">
    <div class="flex-third">
      {{ sidebar_filter_show_link() }}
      <div class="collapse show mt-46px" id="sidebar-filter">
        <div class="btn-group w-100 mb-2" role="group" aria-label="{{ _("Selecciona si mostrar els resultats agrupats per recurs o per organització") }}">
          <button
            type="button"
            class="btn btn-switch"
            @click="setShowBy('resources')"
            :class="{'active': showBy === 'resources'}">
            {{ _("Recursos") }}
          </button>
          <button
            type="button"
            class="btn btn-switch"
            @click="setShowBy('organizations')"
            :class="{'active': showBy === 'organizations'}">
            {{ _("Organitzacions") }}
          </button>
        </div>
        <input v-model="search" type="text" class="form-control border mt-5 mb-3" placeholder="{{ _("Cerca recursos o organitzacions") }}">
        <ul class="nav nav-pills flex-column mb-auto mt-2">
          <template v-if="showBy === 'resources'">
            <h2 class="fw-600" v-if="allMatches.offerMatches">
              {{ _("Ofereixen") }}
            </h2>
            {{ match_filter_row_vue("offer", _("Entitats que ofereixen recursos")) }}
            <h2 class="fw-600" v-if="allMatches.needMatches">
              {{ _("Necessiten") }}
            </h2>
            {{ match_filter_row_vue("need", _("Entitats que necessiten recursos")) }}
          </template>
          <template v-else>
            <li v-for="x in organizationsWithMatches" :key="x.organization.id">
              <a
                @click="selectOrganization(x.organization)"
                class="sidebar-row"
                :class="{active: organizationSelected && organizationSelected.id === x.organization.id}"
                type="button"
                role="tab"
                aria-selected="false"
                aria-current="page">
                <span class="float-end">
                  <span
                    class="badge ms-2 bg-light"
                    title="{{ _("Recursos que fan lliga") }}">
                    ${ x.matches.length }
                  </span>
                </span>
                <span v-html="highlightSearch(x.organization.name, search)"></span>
                <div class="fst-italic fs-7 text-body-secondary">A ${ x.organization.distance } {{ _("de vosaltres") }}</div>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>

    <div class="flex-gap"></div>

    <div class="flex-two-thirds">
      {{ initial_loading_vue() }}
      <template v-else>
        <div v-if="resourceSelected" class="mt-3">
          <h2 class="match-resource-title">
            <i class="me-2" :class="resourceIconsMap[resourceSelected]"></i>
            ${ resourceNamesMap[resourceSelected] }
          </h2>
          <div v-if="matchTypeSelected === 'offer'">
            <div class="matches-count"><span>${ matches.offerMatches[resourceSelected].length } {{ _("resultats") }}</span></div>
            {{ show_matches_vue("matches.offerMatches[resourceSelected]") }}
          </div>
          <div v-else>
            <div class="matches-count"><span>${ matches.needMatches[resourceSelected].length } {{ _("resultats") }}</span></div>
            {{ show_matches_vue("matches.needMatches[resourceSelected]") }}
          </div>
        </div>
        <div v-else-if="organizationSelected" class="mt-3">
          <h2 class="match-resource-title">${ organizationSelected.name }</h2>
          <div class="matches-count"><span>${ organizationMatches.length } {{ _("resultats") }}</span></div>
          {{ show_matches_vue("organizationMatches") }}
        </div>
        <div v-else class="mt-3">
          <h2 class="match-resource-title">{{ _("Tot") }}</h2>
          <div class="matches-count"><span>${ concatenateMatches(matches.offerMatches).length + concatenateMatches(matches.needMatches).length } {{ _("resultats") }}</span></div>
          {{ show_matches_vue("concatenateMatches(matches.offerMatches)") }}
          {{ show_matches_vue("concatenateMatches(matches.needMatches)") }}
        </div>
      </div>
    </template>

    {{ images_modal_vue() }}
  </div>
</main>
{% else %}
<div class="container text-center pt-4">
  <h1 class="fs-2-5rem mt-100px text-center">{{ _("Sembla que no hi ha sort...") }}</h1>
  <div class="divider-3 mb-60px"></div>
  <p>{{ _("No hem trobat altres organitzacions dins de la distància que teniu marcada en preferències.") }}</p>
  <p>{{ _("No cal patir! Amb el temps s'incorporaran noves entitats que probablement compartisquen les mateixes necessitats que vosaltres. Podeu tornar a comprovar-ho en uns dies.") }}</p>
</div>
{% endif %}
{% endblock %}

{% block js %}
{{ vue_js() }}
<script>
var jsonData = getJsonData();

{{ match_contains_func_js() }}

Vue.createApp({
  delimiters: ["${", "}"],
  data() {
    return {
      needs: jsonData.needs,
      allMatches: jsonData.matches,
      allOrganizationMatches: jsonData.organization_matches,
      resourceNamesMap: jsonData.resource_names_map,
      optionNamesMap: jsonData.option_names_map,
      resourceIconsMap: jsonData.resource_icons_map,
      search: "",
      resourceSelected: "",
      matchTypeSelected: "",
      organizationSelected: null,
      carouselImages: [],
      showBy: "resources",
      messagesOpen: {},
    };
  },
  methods: {
    highlightSearch: highlightSearch,
    setShowBy(x) {
      this.showBy = x;
      this.selectResource("", "");
    },
    selectResource(resource, matchType) {
      this.organizationSelected = null;
      if (this.resourceSelected === resource && this.matchTypeSelected === matchType) {
        this.resourceSelected = "";
        this.matchTypeSelected = "";
      } else {
        this.resourceSelected = resource;
        this.matchTypeSelected = matchType;
      }
    },
    selectOrganization(org) {
      this.resourceSelected = "";
      this.matchTypeSelected = "";
      if (this.organizationSelected === org) {
        this.organizationSelected = "";
      } else {
        this.organizationSelected = org;
      }
    },
    setCarouselImages(images) {
      this.carouselImages = images;
    },
    {{ matches_methods_vue(csrf_token) }}
  },
  computed: {
    matched_needs() {
      return this.needs.filter(n => (jsonData.matches.offerMatches && n in jsonData.matches.offerMatches) || (jsonData.matches.needMatches && n in jsonData.matches.needMatches));
    },
    matches() {
      return {
        offerMatches: this.filterMatches(this.allMatches.offerMatches),
        needMatches: this.filterMatches(this.allMatches.needMatches),
      };
    },
    organizationsWithMatches() {
      return this.allOrganizationMatches.map(o => {
        return {
          organization: o.organization,
          matches: o.matches.filter(matchContains(this.search)),
        };
      }).filter(o => o.matches.length > 0);
    },
    organizationMatches() {
      var org = this.allOrganizationMatches.find(o => o.organization.id === this.organizationSelected.id);
      return org ? org.matches.filter(matchContains(this.search)) : [];
    },
  },
}).mount("#app");
</script>
{% endblock %}

