{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import input_classes, input_value, textarea_value, input_feedback, form_feedback, render_select, resource_details, render_multiple_tags %}

{% block content %}
<div class="container">
{% if resource_type == "need" %}
<h1>Busca {{ resource }} conjuntament amb {{ other.name }}</h1>
{% else %}
<h1>Sol·licita {{ resource }} a {{ other.name }}</h1>
{% endif %}

<div class="alert alert-primary" role="alert" style="margin-top: 20px;">
  Se li enviarà un missatge a {{ other.type() }} «{{ other.name }}», que podrà acceptar o rebutjar la comunicació. Si l'accepta, s'iniciarà una conversa per correu electrònic.
</div>

<div>
    <p>
        <a data-bs-toggle="collapse" href="#showDetails" role="button" aria-expanded="false" aria-controls="showDetails"><i class="bi-chevron-down" style="font-size: 1.5rem;"></i></a>
        <strong>Detalls del que s'està sol·licitant</strong>
    </p>

    <div class="collapse" id="showDetails" style="padding-left: 30px;">
        {{ resource_details(resource, "") }}
    </div>
</div>

<form method="POST" action="{{ request.path }}">
  {{ csrf_input }}
  {{ form_feedback(form) }}

  {{ render_multiple_tags(form, "options", "Indiqueu per favor les opcions que us interessen:", resource.get_options()) }}

  <textarea id="message" name="message" rows="8" {{ input_classes(form, "message") }} required>{{ textarea_value(form, "message") }}</textarea>
  {{ input_feedback(form, "message") }}

  <button type="submit" class="btn btn-success" style="margin-top: 20px;">Envia</button>
</form>
</div>
{% endblock %}

