{% extends "femlliga/_base_template.html" %}

{% from 'femlliga/_macros.html' import organization_info, organization_map_js %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>{{ org.name }}</h1>
    </div>
    <div class="col-md-6">
      {% if org.logo %}
        <img src="{{ org.logo.url }}" class="mt-2 organization-logo" />
      {% endif %}
    </div>
  </div>

  {{ organization_info(org) }}
</div>
{% endblock %}

{% block js %}
<script>
{{ organization_map_js(org) }}
</script>
{% endblock %}
