{% macro space() %}
<tr><td style="line-height: 20px;" height="20px"></td></tr>
{% endmacro %}

<table align="center">
  <tbody>
    <tr>
      <td valign="top" align="center">
        <table style="font-size: 16px; width: 590px; max-width: 590px !important;">
          <tbody>
            <tr>
              <td style="font-family: 'Open Sans', sans-serif;">
                <img src="https://{{ current_site.domain }}/static/email-banner.png">
              </td>
            </tr>
            <tr>
              <td style="font-family: 'Open Sans', sans-serif;">
                Hola!
              </td>
            </tr>
        {% block content %}
        {% endblock %}
            {{ space() }}
            <tr><td style="border-top: 1px solid gray;"><td></tr>
            {{ space() }}
            <tr>
              <td style="font-family: 'Open Sans', sans-serif;">
                Gràcies per fer servir {{ current_site.name }}
              <td>
            </tr>
            <tr>
              <td style="font-family: 'Open Sans', sans-serif;">
                {{ current_site.domain }}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
