{% extends "email/_base_template.html" %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Us enviem aquest missatge des de %(name)s ja que %(solicitor)s va demanar a %(solicitee)s", name=consts.APP_NAME, solicitor=a.solicitor.name, solicitee=a.solicitee.name) }}
    {% if a.resource_type == "need" %}
      {{ _("buscar conjuntament") }}
    {% else %}
      {{ _("compartir") }}
    {% endif %}
    {{ resource_name(a.resource) }}{% if a.options.count() > 0 %} ({{ a.render_options() }}){% endif %}, {{ _("amb aquest missatge:") }}
  </td>
</tr>
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <pre style="padding: 20px 0 20px 20px; max-width: 590px; font-weight: bold;">{{ a.message }}</pre>
  </td>
</tr>

<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Podeu seguir parlant polsant a <strong>«Respon a tots»</strong> en aquest mateix correu, i concretar els detalls de la vostra col·laboració.") }}
  </td>
</tr>
{% endblock %}
