{% extends "email/immediate_notification.html" %}

{% from 'femlliga/_macros.html' import render_resource %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Us enviem aquest missatge des de %(name)s ja que %(solicitor)s va demanar a %(solicitee)s", name=current_site.name, solicitor=a.solicitor_safe().name, solicitee=a.solicitee_safe().name) }}
    {% if a.resource_type == "need" %}
      {{ _("buscar conjuntament") }}
    {% else %}
      {{ _("compartir") }}
    {% endif %}
    {{ render_resource(a.resource, a.options.all()) }}, {{ _("amb aquest missatge:") }}
  </td>
</tr>
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <pre style="padding: 20px 0 20px 20px; max-width: 590px; font-weight: bold;">{{ a.message }}</pre>
  </td>
</tr>

<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Podeu seguir parlant polsant a <strong>«Respon a tots»</strong> en aquest mateix correu, i concretar els detalls de la vostra col·laboració.") }}
  </td>
</tr>
{% endblock %}
