{% extends "email/_base_template.html" %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("El missatge que ens has enviat a través del formulari de contacte de %(name)s ha arribat correctament, i intentarem respondre't el més aviat possible. A sota pots veure una còpia del missatge que has enviat:", name=current_site.name) }}
  </td>
</tr>

<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <pre style="padding: 20px 0 20px 20px; max-width: 590px; font-weight: bold; white-space: pre-wrap;">{{ content }}</pre>
  </td>
</tr>
{% endblock %}
