{% extends "email/immediate_notification.html" %}

{% from 'femlliga/_macros.html' import render_resource %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Us enviem aquest missatge des de %(name)s ja que <strong>%(solicitee)s ha declinat una petició</strong> que els vau fer el %(date)s per", name=current_site.name, solicitee=a.solicitee_safe().name, date=format_time(a.date)) }}
    {% if a.resource_type == "need" %}
      {{ _("buscar conjuntament") }}
    {% else %}
      {{ _("compartir") }}
    {% endif %}
    {{ render_resource(a.resource, a.options.all()) }}.
  </td>
</tr>

<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 20px 20px 0 20px;">
    {{ _("Sentim que aquesta oportunitat de col·laboració no haja prosperat, i esperem que altres iniciatives tinguen més èxit en el futur.") }}
  </td>
</tr>
{% endblock %}


