{% extends "email/_base_template.html" %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Us enviem aquest missatge des de %(name)s ja que teniu peticions pendents de respondre a la nostra plataforma. Alguna organització s'ha posat en contacte amb vosaltres per fer-vos una sol·licitud i està esperant a que li responeu. Només cal que entreu a l'aplicació, al menú de Peticions rebudes, i indiqueu si voleu iniciar la comunicació o no.", name=consts.APP_NAME) }}
  </td>
</tr>

<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Tant si arribeu a un acord com si no, us agraïm si ho indiqueu a l'aplicació. També us agrairem si ens feu arribar qualsevol suggerència sobre com podríem millorar la plataforma.") }}
  </td>
</tr>
{% endblock %}

{% block final_note %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; color: gray; padding: 0 20px;">
    {{ _("Si voleu deixar de rebre aquestes notificacions, ho podeu configurar <a href='%(url)s'>dins de l'aplicació</a>, a l'enllaç de Perfil, notificacions.", url="https://" + current_site.domain) }}
  </td>
</tr>
{% endblock %}

