{% extends "email/_base_template.html" %}

{% from 'femlliga/_macros.html' import render_resource %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Us enviem aquest missatge des de %(name)s ja que teniu novetats que podeu consultar.", name=current_site.name) }}
  </td>
</tr>

{% if agreement_communication_pending %}
{{ show_agreement_communication_pending(agreement_communication_pending) }}
{% endif %}

{% if agreement_success_pending %}
{{ show_agreement_success_pending(agreement_success_pending) }}
{% endif %}

{% if matches %}
{{ show_matches(matches.need, matches.offer) }}
{% endif %}

{% if new_resources %}
{{ show_new_resources(new_resources) }}
{% endif %}
{% endblock %}

{% block final_note %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; font-size: 12px; color: gray; padding: 0 20px 20px 20px;">
    {{ _("Si voleu deixar de rebre aquestes notificacions, ho podeu configurar <a href='%(url)s'>dins de l'aplicació</a>, a la pàgina de Preferències, secció de Notificacions periòdiques.", url="https://" + current_site.domain + url("preferences")) }}
  </td>
</tr>
{% endblock %}

{% macro show_agreement_communication_pending(c) %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <h1 style="margin: 20px 0 0 0;">{{ _("Peticions pendents de respondre") }}</h1>

    <p style="margin-top: 0;">{{ _("Hi ha organitzacions que us han fet una petició a través de la plataforma i estan pendents de que els indiqueu si voleu iniciar una conversa per correu o no. Teniu un total de %(total)d peticions pendents, entre elles les següents:", total=c.total_agreements) }}</p>

    <ul>
      {% for a in c.agreements %}
      <li>{{ _("%(org)s sol·licita %(resource)s", org=a.solicitor_safe().name, resource=resource_name(a.resource)) }}</li>
      {% endfor %}
    </ul>
  </td>
</tr>
{% endmacro %}

{% macro show_agreement_success_pending(c) %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <h1 style="margin: 20px 0 0 0;">{{ _("Peticions pendents d'acord") }}</h1>

    <p style="margin-top: 0;">{{ _("Hi ha organitzacions amb les que heu iniciat una conversa per correu per col·laborar, però que no heu indicat a la plataforma si s'ha arribat a un acord finalment. Aquesta informació ens pot ser molt útil per millorar la plataforma. Teniu un total de %(total)d peticions pendents, entre elles les següents:", total=c.total_agreements) }}</p>

    <ul>
      {% for a in c.agreements %}
      <li>
        {% if c.organization == a.solicitor %}
        {{ _("Vau sol·licitar %(resource)s a %(org)s", org=a.solicitee_safe().name, resource=resource_name(a.resource)) }}
        {% else %}
        {{ _("%(org)s va sol·licitar %(resource)s", org=a.solicitor_safe().name, resource=resource_name(a.resource)) }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </td>
</tr>
{% endmacro %}

{% macro show_matches(need, offer) %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <h1 style="margin: 20px 0 0 0;">{{ _("Possibles lligues") }}</h1>
    {{ _("Teniu algunes necessitats que podrieu cobrir col·laborant amb altres entitats de la plataforma. Només cal que entreu a l'aplicació, al menú de «Has lligat», i enviar un missatge a l'entitat que preferiu.") }}
  </td>
</tr>
{% if need.count > 0 %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Entre altres, heu indicat que <strong>necessiteu %(name)s, i hi ha %(count)s entitats que estan en la mateixa situació</strong> que vosaltres. Podeu contactar amb elles per buscar solucions comunes a la vostra necessitat.", name=need.name, count=need.count) }}
  </td>
</tr>
{% endif %}
{% if offer.count > 0 %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {% if need.count > 0 %}
    {{ _("També") }}
    {% else %}
    {{ _("Entre altres,") }}
    {% endif %}
    {{ _("heu indicat que <strong>necessiteu %(name)s, i hi ha %(count)s entitats que ho ofereixen</strong>. Podeu contactar amb elles per concretar la manera de col·laborar.", name=offer.name, count=offer.count) }}
  </td>
</tr>
{% endif %}
{% endmacro %}

{% macro show_new_resources(c) %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <h1 style="margin: 20px 0 0 0;">{{ _("Nous recursos a la plataforma") }}</h1>
    {{ _("%(name)s està en constant evolució. Els darrers mesos hem afegit noves opcions de recursos i etiquetes, i més organitzacions s'han donat d'alta o han actualitzat els recursos que ofereixen. Us enviem un recull de les novetats, que potser us poden interessar ara encara que en el seu moment no estigueren disponibles o no les seleccionareu. Son les següents:", name=current_site.name) }}
    <ul>
      {% for r in c.resources %}
      <li>{{ render_resource(r.code, r.options) }}</li>
      {% endfor %}
    </ul>
  </td>
</tr>
{% endmacro %}

