{% extends "email/_base_template.html" %}

{% from 'femlliga/_macros.html' import render_resource %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Us enviem aquest missatge des de %(name)s ja que teniu novetats que podeu consultar.", name=current_site.name) }}
  </td>
</tr>

{% if agreement_communication_pending %}
{{ show_agreement_communication_pending(agreement_communication_pending) }}
{% endif %}

{% if matches %}
{{ show_matches(matches.need, matches.offer) }}
{% endif %}

{% if new_resources %}
{{ show_new_resources(new_resources) }}
{% endif %}
{% endblock %}

{% block final_note %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; font-size: 12px; color: gray; padding: 0 20px 20px 20px;">
    {{ _("Si voleu deixar de rebre aquestes notificacions, ho podeu configurar <a href='%(url)s'>dins de l'aplicació</a>, a la pàgina de Preferències, secció de Notificacions periòdiques.", url="https://" + current_site.domain + url("preferences")) }}
  </td>
</tr>
{% endblock %}

{% macro show_agreement_communication_pending(c) %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <h1 style="margin: 20px 0 0 0;">{{ _("Us han fet una petició de col·laboració...") }}</h1>

    <p style="margin-top: 0;">
      {{ _("Hi ha organitzacions que us han fet una petició d'intercanvi a través de la plataforma i estan esperant la vostra resposta.") }}
      {{ ngettext("Teniu una petició pendent, no els feu ", "Teniu %(num)d peticions pendents, no els feu ", c.total_agreements) }}
      {{ _("esperar més i entreu a <a href='%(url)s'>%(name)s</a> per seguir la conversa:", url="https://" + current_site.domain, name=current_site.name) }}
    </p>

    <ul>
      {% for a in c.agreements %}
      <li>{{ _("%(org)s sol·licita %(resource)s", org=a.solicitor_safe().name, resource=resource_name(a.resource)) }}</li>
      {% endfor %}
    </ul>
  </td>
</tr>
{% endmacro %}

{% macro show_matches(need, offer) %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px 10px 20px;">
    <h1 style="margin: 20px 0 0 0;">{{ _("Possibles lligues") }}</h1>
    {{ _("Sabeu que hi ha organitzacions que podrien cobrir les vostres necessitats? Només cal que entreu a la <a href='%(url)s'>plataforma</a>, al menú de «Has lligat», i envieu un missatge a l'entitat que preferiu.", url="https://" + current_site.domain) }}
  </td>
</tr>
{% if need.count > 0 %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 10px 20px;">
    {{ ngettext("Entre altres, hi ha una entitat que <strong>també necessita %(name)s</strong>,", "Entre altres, hi ha %(num)d entitats que <strong>també necessiten %(name)s</strong>,", need.count, name=need.name) }}
    {{ _("com vosaltres. Podeu contactar amb elles per buscar solucions conjuntament.") }}
  </td>
</tr>
{% endif %}
{% if offer.count > 0 %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 10px 20px 0 20px;">
    {% if need.count > 0 %}{{ _("També") }}{% else %}{{ _("Entre altres,") }}{% endif %}
    {{ _("heu indicat que <strong>necessiteu %(name)s, i hi ha", name=offer.name) }}
    {{ ngettext("una entitat que ho ofereix</strong>.", "%(num)d entitats que ho ofereixen</strong>.", offer.count) }}
    {{ _("Podeu contactar amb elles per concretar la manera de col·laborar.") }}
  </td>
</tr>
{% endif %}
{% endmacro %}

{% macro show_new_resources(c) %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    <h1 style="margin: 20px 0 0 0;">{{ _("Novetats a la plataforma!") }}</h1>
    {{ _("%(name)s està en constant evolució. En els darrers mesos, hem afegit nous recursos, més organitzacions s'han donat d'alta, i altres han actualitzat les seues necessitats. No us les perdeu i visiteu <a href='%(url)s'>%(domain)s</a>! Us enviem un xicotet resum:", name=current_site.name, domain=current_site.domain, url="https://"+current_site.domain) }}
    <ul>
      {% for r in c.resources %}
      <li>{{ render_resource(r.code, r.options) }}</li>
      {% endfor %}
    </ul>
  </td>
</tr>
{% endmacro %}

