{% extends "email/_base_template.html" %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Us enviem aquest missatge des de %(name)s ja que heu indicat que teniu algunes necessitats que podrieu cobrir col·laborant amb altres entitats de la plataforma. Només cal que entreu a l'aplicació, al menú de «Has lligat», i enviar un missatge a l'entitat que preferiu.", name=consts.APP_NAME) }}
  </td>
</tr>
{% if need.count > 0 %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {{ _("Entre altres, heu indicat que <strong>necessiteu %(name)s, i hi ha %(count)s entitats que estan en la mateixa situació</strong> que vosaltres. Podeu contactar amb elles per buscar solucions comunes a la vostra necessitat.", name=need.name, count=need.count) }}
  </td>
</tr>
{% endif %}
{% if offer.count > 0 %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {% if need.count > 0 %}
    {{ _("També") }}
    {% else %}
    {{ _("Entre altres,") }}
    {% endif %}
    {{ _("heu indicat que <strong>necessiteu %(name)s, i hi ha %(count)s entitats que ho ofereixen</strong>. Podeu contactar amb elles per concretar la manera de col·laborar.", name=offer.name, count=offer.count) }}
  </td>
</tr>
{% endif %}
{% endblock %}

{% block final_note %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; color: gray; padding: 0 20px;">
    {{ _("Si voleu deixar de rebre aquestes notificacions, ho podeu configurar <a href='%(url)s'>dins de l'aplicació</a>, a l'enllaç de Perfil, notificacions.", url="https://" + current_site.domain) }}
  </td>
</tr>
{% endblock %}

