{% extends "email/_base_template.html" %}

{% block content %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    Us enviem aquest missatge des de {{ consts.APP_NAME }} ja que heu indicat que teniu algunes necessitats que podrieu cobrir col·laborant amb altres entitats de la plataforma. Només cal que entreu a l'aplicació, al menú de «Has lligat», i enviar un missatge a l'entitat que preferiu.
  </td>
</tr>
{% if need.count > 0 %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    Entre altres, heu indicat que <strong>necessiteu {{ need.name }}, i hi ha {{ need.count }} entitats que estan en la mateixa situació</strong> que vosaltres. Podeu contactar amb elles per buscar solucions comunes a la vostra necessitat.
  </td>
</tr>
{% endif %}
{% if offer.count > 0 %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; padding: 0 20px;">
    {% if need.count > 0 %}
    També
    {% else %}
    Entre altres,
    {% endif %}
    heu indicat que <strong>necessiteu {{ offer.name }}, i hi ha {{ offer.count }} entitats que ho ofereixen</strong>. Podeu contactar amb elles per concretar la manera de col·laborar.
  </td>
</tr>
{% endif %}
{% endblock %}

{% block final_note %}
<tr>
  <td style="font-family: 'Poppins', sans-serif; color: gray; padding: 0 20px;">
    Si voleu deixar de rebre aquestes notificacions, ho podeu configurar <a href="https://{{ current_site.domain }}">dins de l'aplicació</a>, a l'enllaç de Perfil, notificacions.
  </td>
</tr>
{% endblock %}

