<div class="page-group">
  <h2>Què és l’Accessibilitat Web? </h2>
  <div class="divider-2"></div>

  <p>Una pàgina web accessible és aquella en la qual totes les persones poden accedir en igualtat de condicions als continguts. L’Accessibilitat Web persegueix que una pàgina web siga utilitzable pel màxim nombre de persones, sense tenir en consideració els seus coneixements o capacitats personals i/o físiques i independentment de les característiques tècniques de l’equip utilitzat per a accedir a la web.</p>

  <p>La necessitat que Internet siga universal i accessible per qualsevol persona està present des del principi del seu recorregut, ja que era un requisit contemplat en el seu disseny pel seu creador Tim Berners-Lee: “The power of the Web is in its universality. Access by everyone, regardless of disability, is an essential aspect” (El poder de la Web està en la seua universalitat. L’accés per qualsevol persona, independentment de la discapacitat que presente, és un aspecte essencial).</p>

</div>

<div class="page-group">
  <h2>Pautes d’Accessibilitat</h2>
  <div class="divider-2"></div>

  <p>La web de Civitapp ha sigut dissenyada perquè siga accessible per a totes les persones, d’acord amb les directrius d’accessibilitat del consorci internacional W3C. Seguim treballant per a millorar l’accessibilitat de la pàgina íntegrament, de manera que incloga totes les seues seccions i continguts.</p>

  <p>Tanmateix, es poden donar casos en els que alguna característica no siga accessible. En aquests casos, i tal com està establert en el Reial Decret 1112/2018, del 7 de setembre, l'usuari podrà fer arribar una comunicació a Transversal Coop. V. per indicar que s'està incomplint alguna part de la normativa, formular suggerències de millora, o sol·licitar informació accessible. Aquestes comunicacions es poden fer arribar al correu electrònic info@transversalcoop.org o bé al formulari de contacte d'aquesta web.</p>
</div>

<div class="page-group">
  <h2>1. Imatges</h2>
  <div class="divider-2"></div>

  <p>Les imatges compten amb un text alternatiu adequat que descriu cada imatge. L’objectiu és oferir una alternativa textual per a tots aquells continguts gràfics que no són text.</p>

</div>
<div class="page-group">
  <h2>2. Encapçalats i taules de dades</h2>
  <div class="divider-2"></div>

  <p>Els encapçalats de les taules presents en la web estan ben descrits perquè les persones que facen ús dels lectors de pantalles puguen entendre i navegar les taules de dades.</p>

</div>
<div class="page-group">
  <h2>3. Formularis</h2>
  <div class="divider-2"></div>

  <p>Els formularis incorporen l’etiqueta correcta per a cadascun dels camps que han de ser completats. D’aquesta manera els usuaris poden identificar sense problemes on han d’inserir la informació.</p>

</div>
<div class="page-group">
  <h2>4. Enllaços</h2>
  <div class="divider-2"></div>

  <p>S’ha intentat evitar, sempre que ha sigut possible, els enllaços a funcions JavaScript. De la mateixa manera, s’ha evitat que els enllaços interns s’òbriguen en una nova finestra.</p>

</div>
<div class="page-group">
  <h2>5. Navegadors</h2>
  <div class="divider-2"></div>

  <p>La pàgina de Civitapp està preparada per a una correcta visualització en cas que l’usuari accedisca al portal a través d’un navegador que no suporte CSS. D’aquesta forma, no és necessari disposar de cap tecnologia especial per a la correcta visualització i navegació.</p>

</div>
<div class="page-group">
  <h2>6. Grandària del text</h2>
  <div class="divider-2"></div>

  <p>Mitjançant la modificació del zoom del navegador, es pot augmentar o disminuir el text en funció de les necessitats de visualització de l’usuari. Aquest canvi en la grandària del text es realitzarà sense alterar la correcta disposició i visualització dels continguts.</p>

</div>
