<div class="page-group">
  <h2>1. Introducció i dades identificatives de contacte</h2>
  <div class="divider-2"></div>

  <p>La pàgina web civitapp.social és propietat de:</p>

  <p>
  <strong>Titular:</strong> Transversal Coop. V.<br>
  <strong>CIF:</strong> F98845795<br>
  <strong>Domicili social:</strong> Carrer Rafelguaraf 2, pis 7, porta 21, 46020, València (València).<br>
  <strong>Telèfon:</strong> 643 015 716<br>
  <strong>Correu electrònic:</strong> info@transversalcoop.org<br>
  <strong>Pàgina web:</strong> <a href="https://transversalcoop.org">transversalcoop.org</a>
  </p>

  <p>L’accés a la pàgina web civitapp.social és gratuït excepte en el relatiu al cost de la connexió a través de la xarxa de telecomunicacions subministrada pel proveïdor d’accés contractat per les persones usuàries.</p>

</div>
<div class="page-group">
  <h2>2. Acceptació</h2>
  <div class="divider-2"></div>

  <p>La utilització de la pàgina web atribueix la condició de persona usuària i implica l’acceptació de totes les condicions i termes d’ús inclosos en el present Avís Legal.</p>

  <p>Es recomana a les persones usuàries llegir atentament aquest Avís Legal de forma periòdica, ja que les condicions d’ús d’aquesta, recollides en l’esmentat Avís, poden sofrir modificacions.</p>

  <p>Transversal Coop. V, es reserva la facultat de modificar unilateralment les condicions i termes d’ús d’aquesta pàgina. Qualsevol canvi en aquest sentit es publicarà de forma visible a la pàgina web, indicant la data de l’última actualització en la part superior del document. Si vosté continua fent ús dels serveis prestats a la pàgina web, una vegada modificades les condicions d’ús d’aquesta, s’entendrà que accepta les modificacions realitzades en aquestes.</p>

</div>
<div class="page-group">
  <h2>3. Política de Cookies</h2>
  <div class="divider-2"></div>

  <h3>Què són les Cookies?</h3>

  <p>Les <strong>Cookies</strong> són arxius que els llocs web o les aplicacions instal·len en el navegador o en el dispositiu (smartphone, tablet o televisió connectada) de l’usuari durant el seu recorregut per les pàgines del lloc o per l’aplicació, i serveixen per a emmagatzemar informació sobre la seua visita.</p>

  <p>Com la majoria dels llocs en internet, aquest lloc web utilitza <strong>Cookies</strong> per a:</p>

  <ul>
    <li>Assegurar que les pàgines web poden funcionar correctament.</li>
    <li>Emmagatzemar les preferències, com l’idioma que ha seleccionat o la grandària de lletra.</li>
  </ul>

  <p>L’ús de <strong>Cookies</strong> permet optimitzar la navegació, adaptant la informació i els serveis oferts als interessos de l’usuari, per proporcionar-li una millor experiència sempre que visita el lloc web.</p>

  <p>Aquest lloc web utilitza <strong>Cookies</strong> per funcionar, adaptar i facilitar al màxim la navegació de l’usuari.</p>

  <h3>Cookies utilitzades en aquest lloc web</h3>

  <p>A continuació, i amb l’objectiu que puga prestar un consentiment plenament informat, li detallem la informació d’en què consisteix i quina és la finalitat de cada tipus de cookies.</p>

  <p>Les <strong>cookies tècniques</strong> són aquelles que permeten a l’usuari la navegació a través d’una pàgina web, plataforma o aplicació i la utilització de les diferents opcions o serveis que en ella existisquen, incloent la gestió i operativa de la pàgina web i habilitar les seues funcions i serveis, com, per exemple, identificar la sessió, accedir a parts d’accés restringit, recordar els elements que integren una comanda, realitzar el procés de compra d’una comanda, gestionar el pagament, … La pàgina web no pot funcionar adequadament sense aquestes cookies pel que es consideren necessàries i no requereixen el seu consentiment.</p>

  <p>Les <strong>cookies de preferències o personalització</strong> permeten a la pàgina web recordar informació que canvia la forma en què la pàgina es comporta o l’aspecte que té de manera que l’usuari accedisca al servei amb determinades característiques que poden diferenciar les seues opcions d’ús del lloc web a les d’altres usuaris, com, per exemple, l’idioma, el nombre de resultats a mostrar quan l’usuari realitza una cerca o la regió en la qual l’usuari es troba. Si és el propi usuari qui tria aqueixes característiques, per exemple, marcant la bandera de l’idioma, es considera un servei expressament sol·licitat sempre que les cookies obeïsquen exclusivament a la finalitat seleccionada de personalització. Com en el cas anterior, aquestes cookies no requereixen el seu consentiment.</p>

  <p>Les <strong>cookies d’anàlisis o mesurament</strong> són aquelles que permeten comprendre com interactuen els visitants amb les pàgines web i així realitzar l’anàlisi estadística de l’ús que fan els usuaris de la web dels serveis prestats. La informació recollida s’utilitza en el mesurament de l’activitat dels llocs web o aplicació amb la finalitat d’introduir millores en els productes i serveis oferits pel responsable.</p>

  <p>Les <strong>cookies de màrqueting o publicitat comportamental</strong> emmagatzemen informació del comportament dels usuaris obtinguda a través de l’observació continuada dels seus hàbits de navegació, la qual cosa permet desenvolupar un perfil específic per a mostrar anuncis rellevants i atractius per a l’usuari individual, i per tant, més valuosos per als tercers anunciants.</p>

  <p>Transversal Coop. V. està utilitzant cookies pròpies de tipus tècniques, per a les finalitats que a continuació s’exposen en la següent declaració de cookies:</p>

  <p>A continuació es mostra una taula amb les <strong>Cookies</strong> utilitzades en aquest lloc web incorporant un criteri de “nivell de intrusivitat” recolzat en una escala de l’1 al 3, en la qual:</p>

  <p>Nivell 1: es correspon amb <strong>Cookies</strong> estrictament necessàries per a la prestació del mateix servei sol·licitat per l’usuari.</p>

  <p>Nivell 2: es correspon amb <strong>Cookies</strong> de rendiment (anònimes) necessàries per al manteniment de continguts i navegació, de les quals solament és necessari informar sobre la seua existència.</p>

  <p>Nivell 3: es correspon amb <strong>Cookies</strong> gestionades per tercers que permeten el seguiment de l’usuari a través de webs de les quals Transversal Coop. V. no és titular. Normalment es corresponen amb cookies de publicitat o d’analítiques on s’identifica a l’usuari de manera única i evident.</p>

  <table class="table">
    <thead>
      <tr>
        <th>Cookie</th>
        <th>Duració</th>
        <th>Tipus</th>
        <th>Propòsit</th>
        <th>Intrusivitat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>sessionid</td>
        <td>Sessió</td>
        <td>Tècnic</td>
        <td>Mantenir la sessió d'un usuari</td>
        <td>Nivell 1</td>
      </tr>
      <tr>
        <td>csrftoken</td>
        <td>Persistent</td>
        <td>Tècnic</td>
        <td>Evitar atacs de Cross Site Request Forgery</td>
        <td>Nivell 1</td>
      </tr>
      <tr>
        <td>messages</td>
        <td>Sessió</td>
        <td>Tècnic</td>
        <td>Informar d’accions prèvies de la sessió</td>
        <td>Nivell 1</td>
      </tr>
    </tbody>
  </table>


  <h3>Deshabilitar l’ús de Cookies</h3>

  <p>Si desactiva les cookies, podrà continuar accedint a la web però pot ser que la navegació per aquesta no siga òptima i algun dels serveis oferits no funcionen correctament.</p>

  <p>Si en un futur Transversal Coop. V. arribara a utilitzar tipus de cookies diferents a les contemplades en aquesta Política de Cookies per a prestar nous serveis o fora necessari adaptar-la a noves exigències legislatives, li ho notificarem.</p>

  <p>Pot permetre, bloquejar o eliminar les cookies instal·lades en el seu dispositiu a través del menú de configuració del seu navegador d’internet, podent configurar-lo perquè bloquege les cookies o alerte a l’usuari quan un servidor vulga guardar-la. Els següents enllaços proporcionen informació en relació amb com configurar i/o deshabilitar les cookies per a cadascun dels principals navegadors del mercat a fi que l’usuari puga decidir si accepta o no l’ús de cookies.</p>

  <ul>
    <li><a target="_blank" href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Microsoft Internet Explorer</a>: menú Ferramentes &gt; Opcions d’Internet &gt; Privacitat &gt; Configuració.</li>
    <li><a target="_blank" href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we">Firefox</a>: menú Ferramentes &gt; Opcions &gt; Privacitat &gt; Cookies.</li>
    <li><a target="_blank" href="https://support.google.com/accounts/answer/61416?hl=es">Chrome</a>: menú Opcions &gt; Opcions avançades &gt; Privacitat.</li>
    <li><a target="_blank" href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">Safari</a>: menú Preferències/Privacitat.</li>
    <li><a target="_blank" href="https://support.apple.com/es-es/HT201265">Safari per a iOS (iPhone i iPad)</a>: Opció Ajustaments &gt; Safari.</li>
    <li><a target="_blank" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&hl=es-419">Chrome per a Android</a>: Configuració &gt; Configuració de llocs web &gt; Cookies.</li>
  </ul>

  <h3>Actualització de la Política de cookies</h3>

  <p><strong>Transversal Coop. V.</strong> pot modificar aquesta <strong>política de cookies</strong> en funció d’exigències legislatives, reglamentàries, o amb la finalitat d’adaptar aquesta política a les instruccions dictades per l’Agència Espanyola de Protecció de Dades, per això s’aconsella als usuaris que la visiten periòdicament.</p>

  <p>Quan es produesquen canvis significatius en aquesta Política de cookies, es comunicarà a les persones usuàries bé mitjançant la web o a través de correu electrònic a les persones usuàries registrades.</p>

</div>
<div class="page-group">
  <h2>4. Hiperenllaços</h2>
  <div class="divider-2"></div>

  <p>L’usuari que vulga introduir enllaços des de les seues pròpies pàgines web a les pàgines web propietat de Transversal Coop. V., haurà de complir amb les condicions que es detallen a continuació sense que el desconeixement de les mateixes evite les responsabilitats derivades de la Llei:</p>

  <p>1) Quedarà en tot cas prohibit, d’acord amb la legislació aplicable i vigent a cada moment, establir frames o marcs de qualsevol tipus que emboliquen a aquesta pàgina o permeten la visualització dels continguts a través d’adreces d’Internet diferents de les d’aquesta i, en qualsevol cas, quan es visualitzen conjuntament amb continguts aliens a ella de manera que: (I) produïsca, o puga produir, error, confusió o engany en les persones usuàries sobre la veritable procedència del servei o continguts; (II) supose un acte de comparació o imitació deslleial; (III) servisca per a aprofitar la reputació de la marca i prestigi de les pàgines web propietat de Transversal Coop. V. o (IV) de qualsevol altra forma resulte prohibit per la legislació vigent.</p>

  <p>2) No es realitzaran des de la pàgina que introdueix l’enllaç cap tipus de manifestació falsa, inexacta o incorrecta sobre les pàgines web propietat de Transversal Coop. V., els seus empleats o sobre les activitats que desenvolupa.</p>

  <p>3) Està prohibida la utilització de qualsevol marca denominativa, gràfica o mixta o qualsevol altre distintiu de les pàgines web propietat de Transversal Coop. V., dins de la pàgina del remitent excepte en els casos permesos per la Llei o expressament autoritzats per Transversal Coop. V., i sempre que es permeta, en aquests casos, un enllaç directe amb la pàgina web de Transversal Coop. V., en la forma establerta en aquesta clàusula.</p>

  <p>4) La pàgina que establisca l’enllaç haurà de complir fidelment amb la Llei i no podrà en cap cas disposar o enllaçar amb continguts propis o de tercers que: (i) siguen il·lícits, nocius o contraris a la moral i als bons costums (pornogràfics, violents, racistes, etc.); (ii) induïsquen o puguen induir en l’Usuari la falsa concepció que  Transversal Coop. V., subscriu, recolza, s’adhereix o de qualsevol manera recolza, les idees, manifestacions o expressions, lícites o il·lícites, del remitent; (iii) resulten inadequats o no pertinents amb l’activitat de Transversal Coop. V., en atenció al lloc, continguts i temàtica de la pàgina web del remitent.</p>

  <p>En qualsevol cas, Transversal Coop. V., es reserva el dret a prohibir els enllaços a la seua pàgina web i a exigir la seua retirada quan aquests no complisquen les condicions exigides en aquest apartat.</p>

</div>
<div class="page-group">
  <h2>5. Clàusula informativa de l'activitat de tractament</h2>
  <div class="divider-2"></div>

  <p>Les dades proporcionades seran tractades per Transversal Coop. V. amb la finalitat de prestar el servei sol·licitat. Pot exercir els seus drets d’accés, rectificació, supressió i portabilitat de dades i oposició i limitació al seu tractament davant Transversal Coop. V., Carrer Rafelguaraf 2, pis 7, porta 21, 46020, València (València) o en l’adreça de correu electrònic info@transversalcoop.org, adjuntant còpia del seu DNI o document equivalent.</p>

  <p>Pot ampliar aquesta informació en relació amb el tractament de les seues dades personals consultant la nostra Política de privacitat.</p>

</div>
<div class="page-group">
  <h2>6. Responsabilitat</h2>
  <div class="divider-2"></div>

  <p>La persona usuària serà l’única responsable de les infraccions en què puga incórrer o dels perjudicis que es puguen causar a tercers per la indeguda o il·legítima utilització de la pàgina web.</p>

  <p>Transversal Coop. V., no serà responsable dels possibles danys o perjudicis que es poguessen derivar d’interferències, omissions, interrupcions, virus informàtics, avaries telefòniques o desconnexions en el funcionament operatiu dels sistemes electrònics o informàtics, motivades per causes alienes a Transversal Coop. V., dels retards o bloquejos en l’ús d’aquests sistemes causats per deficiències o sobrecàrregues de línies telefòniques, sobrecàrregues en el sistema d’Internet o en altres sistemes electrònics.</p>

  <p>Transversal Coop. V., no garanteix la veracitat ni es responsabilitza de les conseqüències que poguessen derivar-se dels errors en els continguts proporcionats per tercers que poguessen aparèixer en aquesta pàgina web.</p>

  <p>D’aquesta manera, Transversal Coop. V. tampoc es responsabilitza dels continguts, productes o serveis que puguen visualitzar-se mitjançant enllaços electrònics (links), directament o indirectament, a través de la pàgina web, excepte en aquells supòsits previstos en l’article 17 de la Llei 34/2002, de 12 de juliol, de Serveis de la Societat de la Informació i Comerç Electrònic (LSSI). En cas que un usuari considere que existeix un lloc enllaçat amb continguts il·lícits o inadequats haurà de posar-los en coneixement de Transversal Coop. V.</p>

  <p>Els enllaços no representen necessàriament l’existència de relació entre Transversal Coop. V., i els particulars i entitats titulars de les pàgines a les quals donen accés ni la recomanació, promoció o identificació de Transversal Coop. V., amb les manifestacions, continguts o serveis facilitats a través d’elles.</p>

  <p>Transversal Coop. V., es reserva el dret a retirar de manera unilateral i a qualsevol moment els links que apareixen a la seua pàgina web.</p>

  <p>Transversal Coop. V., no coneix els continguts i serveis dels llocs enllaçats i, per tant, no es fa responsable pels danys produïts per la il·licitud, qualitat, desactualització, indisponibilitat, error i inutilitat dels mateixos ni per qualsevol altre dany que no siga directament imputable a ella.</p>

  <p>Transversal Coop. V., s’eximeix de responsabilitat pel que fa a les “cookies” que tercers aliens poguessen instal·lar en el disc dur de l’ordinador de l’usuari.</p>

</div>
<div class="page-group">
  <h2>7. Obligacions de la persona usuària</h2>
  <div class="divider-2"></div>

  <p>Les condicions d’accés i ús d’aquesta pàgina web estan supeditades a la legalitat vigent i als principis de bona fe i ús lícit per part de l’usuari d’aquesta quedant prohibit, amb caràcter general, qualsevol tipus d’actuació en perjudici de Transversal Coop. V., i contrària al present Avís Legal.</p>

  <p>L’usuari es compromet a utilitzar aquest servei sense incórrer en activitats que puguen ser considerades il·lícites o il·legals, que infringeixen els drets de Transversal Coop. V., o de tercers, o que puguen danyar, inutilitzar, sobrecarregar o deteriorar la pàgina web o impedir la normal utilització d’aquesta per part d’altres persones usuàries.</p>

  <p>Queda prohibit l’ús d’aquesta web amb finalitats il·legals o no autoritzats, en concret i sense caràcter taxatiu:</p>

  <ul>
    <li>Qualsevol forma de violació dels drets de tercers (dret a la intimitat, dret a la mateixa imatge, drets de propietat intel·lectual i industrial, etc.).</li>
    <li>Realitzar, usant els continguts d’aquesta web, qualsevol tipus de publicitat com a enviament de correus electrònics no sol·licitats (spam) o comunicació similar.</li>
    <li>Introduir virus informàtics, arxius defectuosos o qualsevol altre programari o programa informàtic que puga provocar danys o alteracions no autoritzades dels continguts o sistemes accessibles a través d’aquesta pàgina web.</li>
  </ul>

</div>
<div class="page-group">
  <h2>8. Actualitat</h2>
  <div class="divider-2"></div>

  <p>La informació que apareix en aquest lloc web és la vigent en la data de la seua última actualització. El Titular es reserva el dret a actualitzar, modificar o eliminar la informació d’aquest lloc web.</p>

</div>
<div class="page-group">
  <h2>9. Navegació, accés i seguretat</h2>
  <div class="divider-2"></div>

  <p>L’accés i navegació en aquest lloc web suposa acceptar i conéixer els advertiments legals, condicions i termes d’ús contingudes en ella. Transversal Coop. V., realitza els màxims esforços perquè la navegació es realitze en les millors condicions i evitar els perjudicis de qualsevol tipus que pogueren ocasionar-se durant aquesta.</p>

  <p>El Titular no es fa responsable dels perjudicis, de qualsevol índole, que pogueren ocasionar-se a les persones usuàries per la utilització d’altres navegadors o versions diferents dels navegadors pels quals ha estat dissenyat el lloc web.</p>

</div>
<div class="page-group">
  <h2>10. Marques registrades</h2>
  <div class="divider-2"></div>

  <p>Totes les marques, logotips i anagrames mostrats en aquest lloc són propietat de Transversal Coop. V., o de terceres entitats. Queda expressament prohibida la utilització, sense previ consentiment, de qualsevol element d’aquesta pàgina web que siga objecte de protecció d’acord amb la legislació vigent relativa a propietat industrial. Especialment, no podran utilitzar-se marques, noms comercials, rètols d’establiments, denominacions, logotips, eslògans o qualsevol tipus de signe distintiu pertanyent al Titular.</p>

</div>
<div class="page-group">
  <h2>11. Comunicació</h2>
  <div class="divider-2"></div>

  <p>Per a qualsevol comunicació que calgués efectuar deuran enviar un correu electrònic a info@transversalcoop.org o enviar una comunicació escrita a Transversal Coop. V., Carrer Rafelguaraf 2, pis 7, porta 21, 46020, València (València).</p>

  <h3>Jurisdicció i legislació aplicable</h3>

  <p>Els termes i condicions que regeixen aquest lloc web i totes les relacions que poguessen derivar-se es troben salvaguardats per la legislació espanyola.</p>

  <p>Qualsevol controvèrsia que pogués derivar-se de l’accés o la utilització d’aquest lloc web serà de competència dels tribunals corresponents</p>
</div>
